@using Bnan.Core.Extensions;
@using Bnan.Ui.ViewModels.CAS
@model Bnan.Ui.ViewModels.CAS.Services.RenterDriverVM

@inject IViewLocalizer localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var requestCulture1 = Context.Features.Get<IRequestCultureFeature>();
    var requestCulture2 = Context.Features.Get<IRequestCultureFeature>();
    var requestCulture3 = Context.Features.Get<IRequestCultureFeature>();
    var requestCulture4 = Context.Features.Get<IRequestCultureFeature>();

    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    ViewData["Page-title"] = localizer["Add Driver Data"];
    ViewData["Page-Hint"] = localizer["Add Driver Hint"];
}
<link href="~/css/toastr.css" rel="stylesheet" />

<div class="col my-2 d-flex align-items-center justify-content-center">
    <div class="container NewUpdate-container">
        <form asp-area="CAS" asp-controller="RenterDriver" asp-action="AddRenterDriver" class="needs-validation" novalidate>
            <div class="row mt-3 g-3">
                <input hidden id="setGender" asp-for="CrCasRenterPrivateDriverInformationGender" />
                <input hidden id="setNationality" asp-for="CrCasRenterPrivateDriverInformationNationality" />
                <input hidden id="setLessorCode" asp-for="CrCasRenterPrivateDriverInformationLessor" />
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <div class="row g-3 my-2">
                            <div class="col-md-6">
                                <h3> @localizer["Add Driver Data"]  </h3>
                            </div>
                            <div class="col-md-6 save-col">
                                <button type="submit" class="custom-img-btn">
                                    <img src="~/CasSys/images/save.svg" />
                                </button>
                                <button type="button" class="custom-img-btn"><a href="/CAS/RenterDriver/Index"><img class="Chevron" src="~/CasSys/images/Chevron_Left.svg" /></a></button>
                            </div>
                        </div>
                        <main class="mt-3 g-3">

                            <div class="accordion inputs-accordion">
                                <div class=" inputs-accordion-item">
                                    <div class=" inputs-accordion-item-header">
                                        <span class="accordion-item-header-title">
                                            <i class="fa-solid fa-check data-check"></i> @localizer["PersonalData"]
                                        </span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                             viewBox="0 0 24 24" fill="none" stroke="#666666"
                                             stroke-width="3" stroke-linecap="round"
                                             stroke-linejoin="round"
                                             class="lucide lucide-chevron-down accordion-item-header-icon">
                                            <path d="m6 9 6 6 6-6" />
                                        </svg>
                                    </div>
                                    <div class="accordion-item-description-wrapper">
                                        <div class="accordion-item-description">
                                            <hr class="accordion-items-hr">
                                            <div class="container-fluid data-scroll-container">
                                                <div class="row">
                                                    <div class="col-md-6 col-lg-4">
                                                        <label for="NationlityNumber"
                                                               class="form-label"> @localizer["RenterDriverID"]  <i class="fa-solid fa-star-of-life RequirdStar"></i></label>
                                                        <input type="text" id="CrCasRenterPrivateDriverInformationId" oninput="this.value=this.value.replace(/\D/g, '')"
                                                               class="form-control inputs" maxlength="10"
                                                               asp-for="CrCasRenterPrivateDriverInformationId" required>
                                                        <div class="invaild">
                                                            <div class="invalid-feedback">
                                                                <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationId" class="text-danger"></span>
                                                                <span class="text-danger" id="CrCasRenterPrivateDriverInformationId-Error"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-lg-4">
                                                        <label for="IDType" class="form-label">
                                                            @localizer["RenterDriverType"]  <i class="fa-solid fa-star-of-life RequirdStar"></i>
                                                        </label>
                                                        <select class="form-select select-style "
                                                                asp-for="CrCasRenterPrivateDriverInformationIdtrype" id="IDType" required>
                                                            <option value="" selected> </option>
                                                            @if (requestCulture1?.RequestCulture.UICulture.Name == "ar-EG")
                                                            {
                                                                foreach (var single in Model.all_IdType)
                                                                {
                                                                    <option value="@single?.Value" id="@single?.Value">@single?.text_Ar</option>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                foreach (var single in Model.all_IdType)
                                                                {
                                                                    <option value="@single?.Value" id="@single?.Value">@single?.text_En</option>
                                                                }
                                                            }

                                                        </select>
                                                        <div class="invaild">
                                                            <div class="invalid-feedback">
                                                                <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationIdtrype" class="text-danger"></span>
                                                                <span class="text-danger" id="CrCasRenterPrivateDriverInformationIdtrype-Error"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-lg-4">
                                                        <label for="EndDate"
                                                               class="form-label"> @localizer["RenterDriverBirthday"]  <i class="fa-solid fa-star-of-life RequirdStar"></i></label>
                                                        <!--min="2000-01-01" max="2024-12-31"-->
                                                            <input type="date" id="EndDate" min="@Model.before100Y" max="@Model.ToDay"
                                                               class="form-control inputs custom-date-input"
                                                               asp-for="CrCasRenterPrivateDriverInformationBirthDate" 
                                                        required>
                                                        <div class="invaild">
                                                            <div class="invalid-feedback">
                                                                <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationBirthDate" class="text-danger"></span>
                                                                <span class="text-danger" id="CrCasRenterPrivateDriverInformationBirthDate-Error"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label for="CrCasRenterPrivateDriverInformationArName"
                                                               class="form-label">@localizer["RenterDriverNameAr"]  <i class="fa-solid fa-star-of-life RequirdStar"></i></label>
                                                        <input type="text" id="CrCasRenterPrivateDriverInformationArName"
                                                               class="form-control inputs arabic-input" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s\/\.\-0-9]/g, '')" autoComplete="off"
                                                               asp-for="CrCasRenterPrivateDriverInformationArName" maxlength="110" required>
                                                        <div class="invaild">
                                                            <div class="invalid-feedback">
                                                                <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationArName" class="text-danger"></span>
                                                                <span class="text-danger" id="CrCasRenterPrivateDriverInformationArName-Error"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="Driver-name-en"
                                                               class="form-label">
                                                            @localizer["RenterDriverNameEn"]  <i class="fa-solid fa-star-of-life RequirdStar"></i>
                                                        </label>
                                                        <input type="text" id="CrCasRenterPrivateDriverInformationEnName"
                                                               class="form-control inputs english-input" maxlength="110"
                                                               asp-for="CrCasRenterPrivateDriverInformationEnName" oninput="this.value = this.value.replace(/[^a-zA-Z\s\/\.\-0-9]/g, '')" autoComplete="off" required>
                                                        <div class="invaild">
                                                            <div class="invalid-feedback">
                                                                <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationEnName" class="text-danger"></span>
                                                                <span class="text-danger" id="CrCasRenterPrivateDriverInformationEnName-Error"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label for="phone2" class="form-label">
                                                            @localizer["RenterDriverMobile"]
                                                            <i class="fa-solid fa-star-of-life RequirdStar"></i>
                                                        </label>
                                                        <div class="input-group has-validation">
                                                            <input type="text"
                                                                   class="form-control inputs tel-input" oninput="this.value=this.value.replace(/\D/g, '')"
                                                                   id="CrCasRenterPrivateDriverInformationMobile" asp-for="CrCasRenterPrivateDriverInformationMobile" required>
                                                                <select class="input-group-text select-style counterCode"
                                                                        asp-for="CrCasRenterPrivateDriverInformationKeyMobile" id="KeyCode" required>
                                                                    <option value="" selected> </option>
                                                                @foreach (var callingKeys in Model.all_callingKey)
                                                                {
                                                                    <option value="@callingKeys?.text_Ar?.Trim()" id="@callingKeys?.text_Ar?.Trim()">@callingKeys?.text_Ar?.Trim()</option>
                                                                }
                                                                </select>
                                                            <div class="invaild">
                                                                <div class="invalid-feedback">
                                                                    <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationMobile" class="text-danger"></span>
                                                                    <span class="text-danger" id="CrCasRenterPrivateDriverInformationMobile-Error"></span>
                                                                    <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationKeyMobile" class="text-danger"></span>
                                                                    <span class="text-danger" id="CrCasRenterPrivateDriverInformationKeyMobile-Error"></span>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="CrCasRenterPrivateDriverInformationEmail"
                                                               class="form-label"> @localizer["RenterDriverEmail"] </label>
                                                        <input type="text" id="CrCasRenterPrivateDriverInformationEmail"
                                                               class="form-control inputs english-input"
                                                               asp-for="CrCasRenterPrivateDriverInformationEmail">
                                                        <div class="invaild">
                                                            <div class="invalid-feedback">
                                                                <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationEmail" class="text-danger"></span>
                                                                <span class="text-danger" id="CrCasRenterPrivateDriverInformationEmail-Error"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="row align-items-center ">
                                                    <div class="col-md-6">
                                                        <label for="CrCasRenterPrivateDriverInformationNationality"
                                                               class="form-label">@localizer["RenterDriverNationality"] <i class="fa-solid fa-star-of-life RequirdStar"></i></label>

                                                        <input list="cities" id="CrCasRenterPrivateDriverInformationNationality" class="form-control inputs "
                                                               asp-for="CrCasRenterPrivateDriverInformationNationality" autocomplete="off" required>
                                                        
                                                        <datalist id="cities">
                                                            <option value=""/>
                                                            @if (requestCulture1?.RequestCulture.UICulture.Name == "ar-EG")
                                                            {
                                                                foreach (var singleAr in Model.all_Nationalities)
                                                                {
                                                                    <option value="@singleAr?.text_Ar" id="@singleAr?.Value" />
                                                                }
                                                            }
                                                            else
                                                            {
                                                                foreach (var singleEn in Model.all_Nationalities)
                                                                {
                                                                    <option value="@singleEn?.text_En" id="@singleEn?.Value" />
                                                                }
                                                            }
                                                        </datalist>

                                                        <div class="invaild">
                                                            <div class="invalid-feedback">
                                                                <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationNationality" class="text-danger"></span>
                                                                <span class="text-danger" id="CrCasRenterPrivateDriverInformationNationality-Error"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 my-2" style="height:100px;">
                                                        <label for="CrCasRenterPrivateDriverInformationEmail"
                                                               class="form-label"> @localizer["RenterDriverGender"]  <i class="fa-solid fa-star-of-life RequirdStar"></i></label>
                                                        <div class="d-flex gap-3 align-items-center" style="height:35px;">
                                                            <input class="form-check-input radio" type="radio" value="1100000003" id="male" name="gender">
                                                            <label class="form-check-label" for="male">
                                                                @localizer["male"]
                                                            </label>
                                                            <input class="form-check-input radio" type="radio" value="1100000004" id="female" name="gender">
                                                            <label class="form-check-label" for="female">
                                                                @localizer["female"]
                                                            </label>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row my-3 g-3">
                                                    @*<div class="col-md-6">
                                                        <button type="button" class="btn modal-btn" data-bs-toggle="modal" href="#Doc-photo-modal"><div class="row align-items-center"><div class="col">
                                                    @localizer["ID_Image"] </div> <div class="col-auto"><div class="systems-check"><i class="fa-solid fa-check text-white"></i></div></div></div></button>

                                                    </div>*@
                                                    <div class="col-md-6">
                                                        <div class="row align-items-center">
                                                            <div class="col-auto">
                                                                <button type="button" class="custom-img-btn"><img src="~/CasSys/images/icon.svg" data-bs-toggle="modal" href="#signature-modal" /></button>
                                                            </div>
                                                            <div class="col">
                                                                <img src="~/CasSys/images/signature.svg"
                                                                     id="previewSignature">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row ">
                                                    <div class="col-lg-10">
                                                        <label>@localizer["Reason_s"]</label>
                                                        <textarea class=" form-control textarea-inputs"
                                                                  rows="1" maxlength="100" asp-for="CrCasRenterPrivateDriverInformationReasons"
                                                                  type="text"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" inputs-accordion-item">
                                    <div class=" inputs-accordion-item-header">
                                        <span class="accordion-item-header-title">
                                            <i class="fa-solid fa-check data-check"></i> @localizer["DriverLicenseData"]
                                        </span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                             viewBox="0 0 24 24" fill="none" stroke="#666666"
                                             stroke-width="3" stroke-linecap="round"
                                             stroke-linejoin="round"
                                             class="lucide lucide-chevron-down accordion-item-header-icon">
                                            <path d="m6 9 6 6 6-6" />
                                        </svg>
                                    </div>
                                    <div class="accordion-item-description-wrapper">
                                        <div class="accordion-item-description">
                                            <hr class="accordion-items-hr">
                                            <div class="container-fluid data-scroll-container">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label for="CrCasRenterPrivateDriverInformationLicenseNo"
                                                               class="form-label"> @localizer["RenterDriverLicenseNO"]  <i class="fa-solid fa-star-of-life RequirdStar"></i></label>
                                                        <input type="text" id="CrCasRenterPrivateDriverInformationLicenseNo"
                                                               class="form-control inputs arabic-input" oninput="this.value=this.value.replace(/\D/g, '')"
                                                               asp-for="CrCasRenterPrivateDriverInformationLicenseNo" required>
                                                        <div class="invaild">
                                                            <div class="invalid-feedback">
                                                                <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationLicenseNo" class="text-danger"></span>
                                                                <span class="text-danger" id="CrCasRenterPrivateDriverInformationLicenseNo-Error"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 ">
                                                        <label for="CrCasRenterPrivateDriverInformationLicenseType" class="form-label">
                                                            @localizer["RenterDriverLicenseType"]  <i class="fa-solid fa-star-of-life RequirdStar"></i>
                                                        </label>
                                                        <select class="form-select select-style "
                                                                asp-for="CrCasRenterPrivateDriverInformationLicenseType" id="CrCasRenterPrivateDriverInformationLicenseType" required>
                                                            <option> </option>
                                                            @if (requestCulture1?.RequestCulture.UICulture.Name == "ar-EG")
                                                            {
                                                                foreach (var TypeAr in Model.all_LicenseType)
                                                                {
                                                                    <option value="@TypeAr.Value">@TypeAr.text_Ar</option>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                foreach (var TypeEn in Model.all_LicenseType)
                                                                {
                                                                    <option value="@TypeEn.Value">@TypeEn.text_En</option>
                                                                }
                                                            }
                                                        </select>
                                                        <div class="invaild">
                                                            <div class="invalid-feedback">
                                                                <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationLicenseType" class="text-danger"></span>
                                                                <span class="text-danger" id="CrCasRenterPrivateDriverInformationLicenseType-Error"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label for="Date"
                                                               class="form-label">@localizer["Date_start"]</label>
                                                        <input type="date" id="Date" min="@Model.before7Y" max="@Model.ToDay"
                                                               class="form-control inputs custom-date-input"
                                                               asp-for="CrCasRenterPrivateDriverInformationLicenseDate" required>
                                                        <div class="invaild">
                                                            <div class="invalid-feedback">
                                                                <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationLicenseDate" class="text-danger"></span>
                                                                <span class="text-danger" id="CrCasRenterPrivateDriverInformationLicenseDate-Error"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="EndDate"
                                                               class="form-label">@localizer["Date_end"]  <i class="fa-solid fa-star-of-life RequirdStar"></i></label>
                                                        <input type="date" id="EndDate" min="@Model.ToDay" max="@Model.after10Y"
                                                               class="form-control inputs custom-date-input"
                                                               asp-for="CrCasRenterPrivateDriverInformationLicenseExpiry" required>
                                                        <div class="invaild">
                                                            <div class="invalid-feedback">
                                                                <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationLicenseExpiry" class="text-danger"></span>
                                                                <span class="text-danger" id="CrCasRenterPrivateDriverInformationLicenseExpiry-Error"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                @*<div class="row ">
                                                    <div class="col-md-6">
                                                        <button type="button" class="btn modal-btn"
                                                                data-bs-toggle="modal"
                                                                href="#License-photo-modal">
                                                            <div class="row align-items-center">
                                                                <div class="col">@localizer["DrivingLicense_Image"]</div>
                                                                <div class="col-auto">
                                                                    <div class="systems-check-license">
                                                                        <i class="fa-solid fa-check text-white"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </button>
                                                    </div>
                                                </div>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- document modal -->
<div class="modal fade" id="Doc-photo-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">
        <div class="modal-content Doc-photo-modal-content p-3">
            <div class="modal-body Doc-photo-modal-body">
                <div class="Doc-Card">
                    <div class="Doc-main-container" id="removeIDImg"></div>
                    <div class="Doc-upload-container" id="Doc-upload-container">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <div class="Doc-btn-card p-2">
                            <img src="~/CasSys/images/save (2).svg" class="w-100" id="Doc-photo-save">
                        </div>
                    </div>

                    <div class="col">
                        <div class="Doc-btn-card p-2">
                            <img src="~/CasSys/images/Camera.svg" class="w-100" id="openCamera">
                        </div>
                    </div>
                    <div class="col">
                        <div class="Doc-btn-card p-2">
                            <img src="~/CasSys/images/Pic.svg" class="w-100" id="UploadPic">
                            <input type="file" id="DocimageUpload" accept="image/*" style="display: none;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- License modal -->
<div class="modal fade" id="License-photo-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">
        <div class="modal-content License-photo-modal-content p-3">
            <div class="modal-body License-photo-modal-body">
                <div class="License-Card">
                    <div class="License-main-container" id="removeLicenseImg"></div>
                    <div class="License-upload-container" id="License-upload-container"></div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <div class="License-btn-card p-2">
                            <img src="~/CasSys/images/save (2).svg" class="w-100" id="License-photo-save">
                        </div>
                    </div>

                    <div class="col">
                        <div class="License-btn-card p-2">
                            <img src="~/CasSys/images/Camera.svg" class="w-100" id="openCameraLicense">
                        </div>
                    </div>
                    <div class="col">
                        <div class="License-btn-card p-2">
                            <img src="~/CasSys/images/Pic.svg" class="w-100" id="UploadLicensePic">
                            <input type="file" id="LicenseimageUpload" accept="image/*" style="display: none;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- signature modal -->
<div class="modal fade" id="signature-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">
        <div class="modal-content signature-modal-content p-3">
            <div class="modal-body Signature-modal-body">
                <div class="SignatureCard">
                    <div class="image-main-container" id="removeSignatureImg"></div>
                    <div class="upload-container">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-3">
                        <div class="sinature-Btn-Card p-2">
                            <img src="~/CasSys/images/signature/save.svg" class="w-100" id="save">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="sinature-Btn-Card p-2">
                            <img src="~/CasSys/images/signature/Frame.svg" class="w-100" id="clear">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="sinature-Btn-Card p-2">
                            <img src="~/CasSys/images/signature/file-signature_9795523 1.svg"
                                 class="w-100" id="WriteSignature">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="sinature-Btn-Card p-2">
                            <img src="~/CasSys/images/signature/Pic.svg" class="w-100"
                                 id="UploadSigntaurePic">
                            <input type="file" id="imageUpload" accept="image/*"
                                   style="display: none;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/toastr.js"></script>
    <script src="~/CasSys/scripts/Scripts.js"></script>
    <script src="~/CasSys/scripts/uploadPic.js"></script>
    <script src="~/CasSys/scripts/signature.js"></script>
    <script src="~/CasSys/scripts/uploadPic2.js"></script>

    <script>
        $('input[name="gender"]').change(function(){
            var thisGender = $('input[name="gender"]:checked').val();
            $('#setGender').val(thisGender);
        });

        $('#CrCasRenterPrivateDriverInformationNationality').change(function () {
            var selectedValue = $('#CrCasRenterPrivateDriverInformationNationality').val(); // الحصول على القيمة المختارة
            var selectedId = '';

            // تحديد الـ id بناءً على القيمة المختارة
            $('#cities option').each(function () {
                if ($(this).val() === selectedValue) {
                    selectedId = $(this).attr('id'); // الحصول على id العنصر
                }
            });

            $('#setNationality').val(selectedId);
        });

        // التحقق من إدخال بريد إلكتروني صالح يحتوي
        $("#CrCasRenterPrivateDriverInformationEmail").on('change', function () {
            var emailInput = document.getElementById('CrCasRenterPrivateDriverInformationEmail');
            var mailformat = /^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
            if (!emailInput.value.match(mailformat)) {
                //alert('يرجى إدخال بريد إلكتروني صالح يحتوي على "@@"');
                $(`#${"CrCasRenterPrivateDriverInformationEmail"}-Error`).text("@localizer["requiredFiledEmail"]").show();
            }
            else {
                $(`#${"CrCasRenterPrivateDriverInformationEmail"}-Error`).text(" ");
            }
        });

    </script>
    <script>
        // اختيار التحكمات بناءا على بداية الرمز 1 - 2
        $('#CrCasRenterPrivateDriverInformationId').on('change',function () {
            var inputValueID = $('#CrCasRenterPrivateDriverInformationId').val();
            // تحقق إذا كان أول حرف هو "1"
            if (inputValueID.charAt(0) === '1') {
                $('#IDType').val('1').trigger('change');
                $('#IDType').prop('disabled', true); // لتعطيل الحقل
            if ('@requestCulture.RequestCulture.UICulture.Name' == "en-US")
            {
                $('#CrCasRenterPrivateDriverInformationNationality').val("Saudi");
            }
            else
            {
                $('#CrCasRenterPrivateDriverInformationNationality').val("سعودي");
            }
                $('#CrCasRenterPrivateDriverInformationNationality').prop('disabled', true); // لتعطيل الحقل
                $('#setNationality').val("1000000003");
                //alert("أول رقم هو 1");
            } else if (inputValueID.charAt(0) === '2') {
                $('#IDType').val('2').trigger('change');
                $('#IDType').prop('disabled', true); // لتعطيل الحقل
                $('#CrCasRenterPrivateDriverInformationNationality').val("");
                $('#setNationality').val("");
                $('#CrCasRenterPrivateDriverInformationNationality').prop('disabled', false);
                //alert("أول رقم هو 2");
            }

        });
    </script>
    <script>
        $(document).ready(function () {

            // This To Focus On input when page load
            if ('@requestCulture?.RequestCulture.UICulture.Name' == "en-US") {
                $("#CrCasRenterPrivateDriverInformationEnName").focus();
            }
            else {
                $("#CrCasRenterPrivateDriverInformationArName").focus();
            }
            //////////////////////////////////////////


            function Check_onChange_input(existName, dataField) {
                $.ajax({
                    type: "GET",
                    url: "/CAS/RenterDriver/CheckChangedField",
                    data: { existName: existName, dataField: dataField },
                    success: function (result) {
                        console.log("feedback", result);
                        // Hide all previous error messages
                        $('.invalid-feedback').show();

                        // Show new error messages if they exist
                        if (result.errors && result.errors.length > 0) {
                            result.errors.forEach(function (error) {
                                // Use the ID from the error object to find the correct element
                                $(`#${error.field}-Error`).text(error.message).show();
                            });
                        } else {
                            // Hide the error message if no errors
                            $(`#${existName}-Error`).text("");
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }


            $('#CrCasRenterPrivateDriverInformationArName').on('change', function () {
                var newValue = $(this).val();
                console.log("newValue", newValue)
                Check_onChange_input('CrCasRenterPrivateDriverInformationArName', newValue);
            });

            $('#CrCasRenterPrivateDriverInformationEnName').on('change', function () {
                var newValue = $(this).val();
                Check_onChange_input('CrCasRenterPrivateDriverInformationEnName', newValue);
            });
            $('#CrCasRenterPrivateDriverInformationId').on('change', function () {
                var newValue = $(this).val();
                Check_onChange_input('CrCasRenterPrivateDriverInformationId', newValue);
            });

        });

    </script>

    @*<script>
        $(document).ready(function () {
            var thisGender = $('input[name="gender"]:checked').val();
            $('#setGender').val(thisGender);
            var today = new Date();

            var birthdate = $("#CrCasRenterPrivateDriverInformationBirthDate").val();
            var formattedbirthdate = new Date(birthdate);

            var IssueIdDate = $("CrCasRenterPrivateDriverInformationIssueIdDate").val();
            var IssueIdformattedDate = new Date(IssueIdDate);

            var ExpiryIdDate = $("CrCasRenterPrivateDriverInformationExpiryIdDate").val();
            var ExpiryIdformattedDate = new Date(ExpiryIdDate);


            var LicenseDate = $("CrCasRenterPrivateDriverInformationLicenseDate").val();
            var LicenseformattedDate = new Date(LicenseDate);



            var LicenseExpiryIdDate = $("CrCasRenterPrivateDriverInformationLicenseExpiry").val();
            var LicenseExpiryIdformattedDate = new Date(LicenseExpiryIdDate);

            if (!formattedbirthdate || formattedbirthdate === "") {
                formattedbirthdate = today; // Set date to today if it's empty or null
            }
            if (!IssueIdformattedDate || IssueIdformattedDate === "") {
                IssueIdformattedDate = today; // Set date to today if it's empty or null
            }
            if (!ExpiryIdformattedDate || ExpiryIdformattedDate === "") {
                ExpiryIdformattedDate = today; // Set date to today if it's empty or null
            }


            if (!LicenseformattedDate || LicenseformattedDate === "") {
                LicenseformattedDate = today; // Set date to today if it's empty or null
            }
            if (!LicenseExpiryIdformattedDate || LicenseExpiryIdformattedDate === "") {
                LicenseExpiryIdformattedDate = today; // Set date to today if it's empty or null
            }

            $("#CrCasRenterPrivateDriverInformationBirthDate").datepicker({
                dateFormat: 'yy/mm/dd',
                maxDate: today,
                defaultDate: formattedbirthdate// Set the minimum date to today
            }).datepicker("widget").addClass("datepicker-widget");
            $("#CrCasRenterPrivateDriverInformationBirthDate").datepicker("setDate", formattedbirthdate);
            $("#CrCasRenterPrivateDriverInformationBirthDate").click(function () {
                $(this).datepicker("show");
            });

            $("#CrCasRenterPrivateDriverInformationIssueIdDate").datepicker({
                dateFormat: 'yy/mm/dd',
                //minDate: today,
                defaultDate: IssueIdformattedDate// Set the minimum date to today
            }).datepicker("widget").addClass("datepicker-widget");
            $("#CrCasRenterPrivateDriverInformationIssueIdDate").datepicker("setDate", IssueIdformattedDate);
            $("#CrCasRenterPrivateDriverInformationIssueIdDate").click(function () {
                $(this).datepicker("show");
            });

            $("#CrCasRenterPrivateDriverInformationExpiryIdDate").datepicker({
                dateFormat: 'yy/mm/dd',
                minDate: today,
                defaultDate: ExpiryIdformattedDate// Set the minimum date to today
            }).datepicker("widget").addClass("datepicker-widget");
            $("#CrCasRenterPrivateDriverInformationExpiryIdDate").datepicker("setDate", ExpiryIdformattedDate);
            $("#CrCasRenterPrivateDriverInformationExpiryIdDate").click(function () {
                $(this).datepicker("show");
            });


            $("#CrCasRenterPrivateDriverInformationLicenseDate").datepicker({
                dateFormat: 'yy/mm/dd',
                //minDate: today,
                defaultDate: LicenseformattedDate// Set the minimum date to today
            }).datepicker("widget").addClass("datepicker-widget");
            $("#CrCasRenterPrivateDriverInformationLicenseDate").datepicker("setDate", LicenseformattedDate);
            $("#CrCasRenterPrivateDriverInformationLicenseDate").click(function () {
                $(this).datepicker("show");
            });

            $("#CrCasRenterPrivateDriverInformationLicenseExpiry").datepicker({
                dateFormat: 'yy/mm/dd',
                minDate: today,
                defaultDate: LicenseExpiryIdformattedDate// Set the minimum date to today
            }).datepicker("widget").addClass("datepicker-widget");
            $("#CrCasRenterPrivateDriverInformationLicenseExpiry").datepicker("setDate", LicenseExpiryIdformattedDate);
            $("#CrCasRenterPrivateDriverInformationLicenseExpiry").click(function () {
                $(this).datepicker("show");
            });



            $("#CrCasRenterPrivateDriverInformationBirthDate").after('<span class="datepicker-icon" style="cursor:pointer"><i class="dripicons-calendar"></i></span>');
            $("#CrCasRenterPrivateDriverInformationIssueIdDate").after('<span class="datepicker-icon" style="cursor:pointer"><i class="dripicons-calendar"></i></span>');
            $("#CrCasRenterPrivateDriverInformationExpiryIdDate").after('<span class="datepicker-icon" style="cursor:pointer"><i class="dripicons-calendar"></i></span>');
            $("#CrCasRenterPrivateDriverInformationLicenseDate").after('<span class="datepicker-icon" style="cursor:pointer"><i class="dripicons-calendar"></i></span>');
            $("#CrCasRenterPrivateDriverInformationLicenseExpiry").after('<span class="datepicker-icon" style="cursor:pointer"><i class="dripicons-calendar"></i></span>');



            $(".datepicker-icon").click(function () {
                $(this).prevAll('input').datepicker("show");
            });

            //$("#saveEdit").on("click", function (event) {
            //    event.preventDefault();
            //    CheckValidation('2201002', '@Status.Save').done(function (data) {
            //        if (data) {
            //            $('form').submit();
            //        }
            //    });
            //})
        })

    </script>*@

    @*<script>
        function validateInput(event, inId, InEr, No) {
            event.target.value = event.target.value.replace(/[^0-9]/g, '');

            const inputElement = document.getElementById(inId);
            const errorMessageElement = document.getElementById(InEr);

            const inputValue = inputElement.value;
            const isValid = inputValue.startsWith(No);

            if (!isValid) {
                errorMessageElement.textContent = errorMessageElement.getAttribute('data-val-err');
                inputElement.value = "";
            } else {
                errorMessageElement.textContent = '';
            }


        }
        function readURL(input, type) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var container = $(input).closest('.file-upload');
                    container.find('.file-upload-image.' + type).attr('src', e.target.result);
                    container.find('.file-upload-content.' + type).show();
                    container.find('.image-title.' + type).html(input.files[0].name);
                    container.find('.image-upload-wrap').hide();
                };
                reader.readAsDataURL(input.files[0]);
            } else {
                removeUpload(input);
            }
        }

        function removeUpload(button) {
            var container = $(button).closest('.file-upload');
            var type = container.find('.file-upload-content').hasClass('picture2') ? 'picture2' : (container.find('.file-upload-content').hasClass('picture1') ? 'picture1' : 'picture3');
            container.find('.file-upload-input-' + type).val('');
            container.find('.file-upload-image.' + type).attr('src', '#');
            container.find('.file-upload-content.' + type).hide();
            container.find('.image-upload-wrap').show();
        }

        $('.image-upload-wrap').bind('dragover', function () {
            $(this).addClass('image-dropping');
        });
        $('.image-upload-wrap').bind('dragleave', function () {
            $(this).removeClass('image-dropping');
        });

    </script>

    *@

}