@using Bnan.Core.Extensions
@model Bnan.Ui.ViewModels.CAS.Services.RenterDriverVM

@inject IViewLocalizer localizer
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    ViewData["Page-title"] = localizer["Edit RenterDriver Data"];
    var DriverName = " ";
    var IDType = " ";
    //var LicenseType = " ";
    var Nationality = " ";
    var Gender = " ";
}
<link href="~/css/toastr.css" rel="stylesheet" />

<div class="col my-2 d-flex align-items-center justify-content-center">
                    <div class="container NewUpdate-container">
            <form class="needs-validation" novalidate asp-area="CAS" asp-controller="RenterDriver" asp-action="Edit">
                <div class="row">
                <input type="text" value="@Model.CrCasRenterPrivateDriverInformationKeyMobile" id="key1" hidden />
                <input asp-for="CrCasRenterPrivateDriverInformationStatus" hidden />
                <input asp-for="CrCasRenterPrivateDriverInformationId" hidden />
                <input asp-for="CrCasRenterPrivateDriverInformationLessor" hidden />
                <input asp-for="CrCasRenterPrivateDriverInformationArName" hidden />
                <input asp-for="CrCasRenterPrivateDriverInformationEnName" hidden />
                <input asp-for="CrCasRenterPrivateDriverInformationIdtrype" hidden />
                <input asp-for="CrCasRenterPrivateDriverInformationGender" hidden />
                <input asp-for="CrCasRenterPrivateDriverInformationNationality" hidden />
                
                @if (requestCulture.RequestCulture.UICulture.Name == "en-US")
                {
                    DriverName = Model.CrCasRenterPrivateDriverInformationEnName;
                    IDType = Model.all_IdType?.Find(x => x.Value?.Trim() == Model.CrCasRenterPrivateDriverInformationIdtrype?.Trim())?.text_En;
                    //LicenseType = Model.all_LicenseType?.Find(x => x.Value?.Trim() == Model.CrCasRenterPrivateDriverInformationLicenseType?.Trim())?.text_En;
                    Nationality = Model.all_Nationalities?.Find(x => x.Value?.Trim() == Model.CrCasRenterPrivateDriverInformationNationality?.Trim())?.text_En;
                    Gender = Model.all_Genders?.Find(x => x.Value?.Trim() == Model.CrCasRenterPrivateDriverInformationGender?.Trim())?.text_En;
                }
                else
                {
                    DriverName = Model.CrCasRenterPrivateDriverInformationArName;
                    IDType = Model.all_IdType?.Find(x => x.Value?.Trim() == Model.CrCasRenterPrivateDriverInformationIdtrype?.Trim())?.text_Ar;
                    //LicenseType = Model.all_LicenseType?.Find(x => x.Value?.Trim() == Model.CrCasRenterPrivateDriverInformationLicenseType?.Trim())?.text_Ar;
                    Nationality = Model.all_Nationalities?.Find(x => x.Value?.Trim() == Model.CrCasRenterPrivateDriverInformationNationality?.Trim())?.text_Ar;
                    Gender = Model.all_Genders?.Find(x => x.Value?.Trim() == Model.CrCasRenterPrivateDriverInformationGender?.Trim())?.text_Ar;
                }
                
                                <div class="row justify-content-center">
                                    <div class="col-lg-9">
                                        <div class="row g-3 my-2">
                                            <div class="col-md-6">

                                <h3> @localizer["Edit RenterDriver Data"]</h3>
                                            
                                        </div>
                                            <div class="col-md-6 save-col">
                                <button type="submit" class="custom-img-btn" id="SaveEdit">
                                    <img src="~/CasSys/images/save.svg" />
                                </button>
                                <button type="button" class="custom-img-btn" id="HoldBtn" data-bs-toggle="modal" data-bs-target="#Stop-Modal">
                                    <img id="StopModalIcon" src="~/CasSys/images/stop.svg" />
                                </button>
                                <button type="button" class="custom-img-btn" id="DeleteBtn" data-bs-toggle="modal" data-bs-target="#Delete-Modal">
                                    <img id="modalIcon" src="~/MasSystem/images/delete.svg" />
                                </button>
                                <button type="button" class="custom-img-btn">
                                    <a href="/CAS/RenterDriver/Index">
                                        <img class="Chevron"
                                                        src="~/CasSys/images/Chevron_Left.svg" /></a></button>
                                            </div>
                                        </div>
                                        <main class="mt-4 g-3">

                                        <h5 class="subtitle"> @DriverName</h5>
                            <h5 class="subtitle"> @(Model.CrCasRenterPrivateDriverInformationId) (@IDType)</h5>

                                            <div class="accordion inputs-accordion">
                                                <div class=" inputs-accordion-item">
                                                    <div class=" inputs-accordion-item-header">
                                        <span class="accordion-item-header-title">
                                            @localizer["PersonalData"]
                                                        </span>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                                            viewBox="0 0 24 24" fill="none" stroke="#666666"
                                                            stroke-width="3" stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                            class="lucide lucide-chevron-down accordion-item-header-icon">
                                                            <path d="m6 9 6 6 6-6" />
                                                        </svg>
                                                    </div>
                                                    <div class="accordion-item-description-wrapper">

                                                        <div class="accordion-item-description">
                                                            <hr class="accordion-items-hr">

                                                            <div class="container-fluid">
                                                                @*<div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="row">
                                                                            <div class="col-auto">
                                                                <p> @localizer["RenterDriverID"]</p>
                                                                            </div>
                                                                            <div class=" col-md-auto Saved-data">
                                                                                <p> @Model.CrCasRenterPrivateDriverInformationId </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="row">
                                                                            <div class="col-auto">
                                                                <p> @localizer["RenterDriverType"] </p>
                                                                            </div>
                                                                            <div class=" col-md-auto Saved-data">
                                                                <p>@IDType</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>*@
                                                                <div class="row align-items-center">
                                                                    <div class="col-md-6 ">
                                                        <label for="EndDate" class="form-label">
                                                            @localizer["RenterDriverBirthday"]
                                                                            <i class="fa-solid fa-star-of-life RequirdStar"></i>
                                                                        </label>
                                                                        <input type="date" id="EndDate"
                                                                    class="form-control inputs custom-date-input" min="@Model.before100Y" max="@Model.ToDay"
                                                                    asp-for="CrCasRenterPrivateDriverInformationBirthDate" required>
                                                                        <div class="invaild">
                                                                            <div class="invalid-feedback">
                                                                <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationBirthDate" class="text-danger"></span>
                                                                <span class="text-danger" id="CrCasRenterPrivateDriverInformationBirthDate-Error"></span>
                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    @*<div class="col-md-6">
                                                                        <button type="button" class="btn modal-btn"
                                                                            data-bs-toggle="modal"
                                                                            href="#Doc-photo-modal">
                                                                            <div class="row align-items-center">
                                                                <div class="col">@localizer["ID_Image"] </div>
                                                                                <div class="col-auto">
                                                                                    <div class="systems-check"><i
                                                                                            class="fa-solid fa-check text-white"></i>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </button>
                                                                    </div>*@

                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="row">
                                                                            <div class="col-auto">
                                                                <p> @localizer["RenterDriverNationality"] </p>
                                                                            </div>
                                                                            <div class=" col-md-auto Saved-data">
                                                                                <p> @Nationality </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="row">
                                                                            <div class="col-auto">
                                                                <p> @localizer["RenterDriverGender"] </p>
                                                                            </div>
                                                                            <div class=" col-md-auto Saved-data">
                                                                        <p> @Gender </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                        <label for="email" class="form-label"> @localizer["RenterDriverEmail"] </label>
                                                        <input type="text" id="CrCasRenterPrivateDriverInformationEmail"
                                                                            class="form-control inputs english-input"
                                                               asp-for="CrCasRenterPrivateDriverInformationEmail">
                                                                        <div class="invaild">
                                                                            <div class="invalid-feedback">
                                                                <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationEmail" class="text-danger"></span>
                                                                <span class="text-danger" id="CrCasRenterPrivateDriverInformationEmail-Error"></span>
                                                            </div>
                                                                        </div>
                                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="phone2" class="form-label">
                                                            @localizer["RenterDriverMobile"]
                                                            <i class="fa-solid fa-star-of-life RequirdStar"></i>
                                                        </label>
                                                        <div class="input-group has-validation">
                                                            <input type="text"
                                                                   class="form-control inputs tel-input" oninput="this.value=this.value.replace(/\D/g, '')"
                                                                   id="CrCasRenterPrivateDriverInformationMobile" asp-for="CrCasRenterPrivateDriverInformationMobile" required>
                                                            <select class="input-group-text select-style counterCode"
                                                                    asp-for="CrCasRenterPrivateDriverInformationKeyMobile" id="KeyCode" required>
                                                                <option value="" selected> </option>
                                                                @foreach (var callingKeys in Model.all_callingKey)
                                                                {
                                                                    <option value="@callingKeys?.text_Ar?.Trim()" id="@callingKeys?.text_Ar?.Trim()">@callingKeys?.text_Ar?.Trim()</option>
                                                                }
                                                            </select>
                                                            <div class="invaild">
                                                                <div class="invalid-feedback">
                                                                    <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationMobile" class="text-danger"></span>
                                                                    <span class="text-danger" id="CrCasRenterPrivateDriverInformationMobile-Error"></span>
                                                                    <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationKeyMobile" class="text-danger"></span>
                                                                    <span class="text-danger" id="CrCasRenterPrivateDriverInformationKeyMobile-Error"></span>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>


                                                                </div>
                                                                <div class="row align-items-center ">

                                                                    <div class="col-md-8">
                                                        <label>@localizer["Reason_s"]</label>
                                                                        <textarea class=" form-control textarea-inputs"
                                                                            rows="1" maxlength="100" asp-for="CrCasRenterPrivateDriverInformationReasons"
                                                                            type="text"></textarea>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="row align-items-center">
                                                                            <div class="col-auto">
                                                                                <button type="button"
                                                                                    class="custom-img-btn"><img
                                                                                        src="~/CasSys/images/icon.svg"
                                                                                        data-bs-toggle="modal"
                                                                                        href="#signature-modal" /></button>
                                                                            </div>
                                                                            <div class="col">
                                                                                <img src="~/CasSys/images/signature.svg"
                                                                                    id="previewSignature">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="inputs-accordion-item">
                                                    <div class="inputs-accordion-item-header">
                                        <span class="accordion-item-header-title">@localizer["DriverLicenseData"]</span>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                                            viewBox="0 0 24 24" fill="none" stroke="#666666"
                                                            stroke-width="3" stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                            class="lucide lucide-chevron-down accordion-item-header-icon">
                                                            <path d="m6 9 6 6 6-6" />
                                                        </svg>
                                                    </div>
                                                    <div class="accordion-item-description-wrapper">
                                                        <div class="accordion-item-description">
                                                            <hr class="accordion-items-hr">
                                                            <div class="container-fluid">
                                                                @*<div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="row">
                                                                            <div class="col-auto">
                                                                <p>@localizer["RenterDriverLicenseNO"]</p>
                                                                            </div>
                                                                            <div class="col-md-auto Saved-data">
                                                                                <p>@Model.CrCasRenterPrivateDriverInformationLicenseNo</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="row">
                                                                            <div class="col-auto">
                                                                <p>@localizer["RenterDriverLicenseType"]</p>
                                                                            </div>
                                                                            <div class="col-md-auto Saved-data">
                                                                <p>@Model.CrCasRenterPrivateDriverInformationLicenseType</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>*@
                                                
                                                                
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <label for="CrCasRenterPrivateDriverInformationLicenseNo"
                                                                               class="form-label"> @localizer["RenterDriverLicenseNO"]  <i class="fa-solid fa-star-of-life RequirdStar"></i></label>
                                                                        <input type="text" id="CrCasRenterPrivateDriverInformationLicenseNo"
                                                                               class="form-control inputs arabic-input" oninput="this.value=this.value.replace(/\D/g, '')"
                                                                               asp-for="CrCasRenterPrivateDriverInformationLicenseNo" required>
                                                                        <div class="invaild">
                                                                            <div class="invalid-feedback">
                                                                                <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationLicenseNo" class="text-danger"></span>
                                                                                <span class="text-danger" id="CrCasRenterPrivateDriverInformationLicenseNo-Error"></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6 ">
                                                                        <label for="CrCasRenterPrivateDriverInformationLicenseType" class="form-label">
                                                                            @localizer["RenterDriverLicenseType"]  <i class="fa-solid fa-star-of-life RequirdStar"></i>
                                                                        </label>
                                                                        <select class="form-select select-style "
                                                                                asp-for="CrCasRenterPrivateDriverInformationLicenseType" id="CrCasRenterPrivateDriverInformationLicenseType" required>
                                                                            <option> </option>
                                                                            @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                                                                            {
                                                                                foreach (var TypeAr in Model.all_LicenseType)
                                                                                {
                                                                                    <option value="@TypeAr.Value">@TypeAr.text_Ar</option>
                                                                                }
                                                                            }
                                                                            else
                                                                            {
                                                                                foreach (var TypeEn in Model.all_LicenseType)
                                                                                {
                                                                                    <option value="@TypeEn.Value">@TypeEn.text_En</option>
                                                                                }
                                                                            }
                                                                        </select>
                                                                        <div class="invaild">
                                                                            <div class="invalid-feedback">
                                                                                <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationLicenseType" class="text-danger"></span>
                                                                                <span class="text-danger" id="CrCasRenterPrivateDriverInformationLicenseType-Error"></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>



                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <label for="LicenceDate"
                                                               class="form-label">@localizer["Date_start"]  <i class="fa-solid fa-star-of-life RequirdStar"></i></label>
                                                                        <input type="date" id="LicenceDate"
                                                                        class="form-control inputs custom-date-input" min="@Model.before7Y" max="@Model.ToDay"
                                                                        asp-for="CrCasRenterPrivateDriverInformationLicenseDate"  required>
                                                                        <div class="invalid-feedback">
                                                            <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationLicenseDate" class="text-danger"></span>
                                                            <span class="text-danger" id="CrCasRenterPrivateDriverInformationLicenseDate-Error"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <label for="LicenceEndDate"
                                                               class="form-label">@localizer["Date_end"]  <i class="fa-solid fa-star-of-life RequirdStar"></i></label>
                                                                    <input type="date" id="LicenceEndDate" min="@Model.ToDay" max="@Model.after10Y"
                                                                            class="form-control inputs custom-date-input"
                                                                            asp-for="CrCasRenterPrivateDriverInformationLicenseExpiry" required>
                                                        <div class="invalid-feedback">
                                                            <span asp-validation-for="@Model.CrCasRenterPrivateDriverInformationLicenseExpiry" class="text-danger"></span>
                                                            <span class="text-danger" id="CrCasRenterPrivateDriverInformationLicenseExpiry-Error"></span>
                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row align-items-center mt-3">
                                                                    @*<div class="col-md-6">
                                                                        <button type="button" class="btn modal-btn"
                                                                            data-bs-toggle="modal"
                                                                            href="#License-photo-modal">
                                                                            <div class="row align-items-center">
                                                                <div class="col">@localizer["DrivingLicense_Image"]</div>
                                                                                <div class="col-auto">
                                                                                    <div class="systems-check-license">
                                                                                        <i class="fa-solid fa-check text-white"></i>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </button>
                                                                    </div>*@
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </main>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>



<!-- delete modal -->
<div class="modal fade" id="Delete-Modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="Delete-ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border: 1px solid var(--main-color);">
            <div class="content" id="modalContent">
            </div>
            <!-- Hidden spinner  -->
            <div class="modal-body text-center" id="spinner" style="display: none;">
                <span class="State-Modal-loader"></span>
            </div>
        </div>
    </div>
</div>
<!-- Stopp  modal -->
<div class="modal fade" id="Stop-Modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="Stop-ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border: 1px solid var(--main-color);">
            <div class=" content" id="Stop-modal-Content">
            </div>
            <!-- Hidden spinner  -->
            <div class="modal-body text-center" id="spinner2" style="display: none;">
                <span class="State-Modal-loader"></span>
            </div>
        </div>
    </div>
</div>

<!-- document modal -->
<div class="modal fade" id="Doc-photo-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">
        <div class="modal-content Doc-photo-modal-content p-3">
            <div class="modal-body Doc-photo-modal-body">
                <div class="Doc-Card">
                    <div class="Doc-main-container" id="removeIDImg"></div>
                    <div class="Doc-upload-container" id="Doc-upload-container">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <div class="Doc-btn-card p-2">
                            <img src="~/CasSys/images/save (2).svg" class="w-100" id="Doc-photo-save">
                        </div>
                    </div>

                    <div class="col">
                        <div class="Doc-btn-card p-2">
                            <img src="~/CasSys/images/Camera.svg" class="w-100" id="openCamera">
                        </div>
                    </div>
                    <div class="col">
                        <div class="Doc-btn-card p-2">
                            <img src="~/CasSys/images/Pic.svg" class="w-100" id="UploadPic">
                            <input type="file" id="DocimageUpload" accept="image/*" style="display: none;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- License modal -->
<div class="modal fade" id="License-photo-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">
        <div class="modal-content License-photo-modal-content p-3">
            <div class="modal-body License-photo-modal-body">
                <div class="License-Card">
                    <div class="License-main-container" id="removeLicenseImg"></div>
                    <div class="License-upload-container" id="License-upload-container"></div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <div class="License-btn-card p-2">
                            <img src="~/CasSys/images/save (2).svg" class="w-100" id="License-photo-save">
                        </div>
                    </div>

                    <div class="col">
                        <div class="License-btn-card p-2">
                            <img src="~/CasSys/images/Camera.svg" class="w-100" id="openCameraLicense">
                        </div>
                    </div>
                    <div class="col">
                        <div class="License-btn-card p-2">
                            <img src="~/CasSys/images/Pic.svg" class="w-100" id="UploadLicensePic">
                            <input type="file" id="LicenseimageUpload" accept="image/*" style="display: none;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- signature modal -->
<div class="modal fade" id="signature-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">
        <div class="modal-content signature-modal-content p-3">
            <div class="modal-body Signature-modal-body">
                <div class="SignatureCard">
                    <div class="image-main-container" id="removeSignatureImg"></div>
                    <div class="upload-container">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-3">
                        <div class="sinature-Btn-Card p-2">
                            <img src="~/CasSys/images/signature/save.svg" class="w-100" id="save">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="sinature-Btn-Card p-2">
                            <img src="~/CasSys/images/signature/Frame.svg" class="w-100" id="clear">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="sinature-Btn-Card p-2">
                            <img src="~/CasSys/images/signature/file-signature_9795523 1.svg" class="w-100"
                                 id="WriteSignature">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="sinature-Btn-Card p-2">
                            <img src="~/CasSys/images/signature/Pic.svg" class="w-100" id="UploadSigntaurePic">
                            <input type="file" id="imageUpload" accept="image/*" style="display: none;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/toastr.js"></script>
    @*<script src="~/CasSys/scripts/Scripts.js"></script>*@
    <script src="~/CasSys/scripts/signature.js"></script>
    <script src="~/CasSys/scripts/uploadPic.js"></script>
    <script src="~/CasSys/scripts/uploadPic2.js"></script>

@*    <script>
        document.addEventListener("DOMContentLoaded", function () {

            const data = {
                "date": '2025-01-09',
                "phone2": "0987654321",
                "email": "ABC@gmail.com",
                "notes": 'ملاحظات الفرع',
                "Signature": '~/CasSys/images/signature_29.png'
            };
            document.getElementById("EndDate").value = data.date;
            document.getElementById("phone2").value = data.phone2;
            document.getElementById("email").value = data.email;
            document.querySelector('textarea[name="notes"]').value = data.notes;
            document.getElementById('previewSignature').src = data.Signature;

        });
        const IDImg = document.getElementById('Doc-upload-container')
        IDImg.innerHTML = `<img class="preview-image" src="~/CasSys/images/Commercial Register.png">`

    </script>*@

    <script>
        // To Handle Background
        $("#wrapper").addClass("Branches-wrapper");
    </script>
    <script>
        $(document).ready(function () {
            var mobileKey =$('#key1').val();
            console.log(mobileKey);
            $('#KeyCode').val(mobileKey).trigger('change');
        });
        $("#CrCasRenterPrivateDriverInformationEmail").on('change',function(){

            var emailInput = document.getElementById('CrCasRenterPrivateDriverInformationEmail');
            var mailformat = /^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
            if (!emailInput.value.match(mailformat)) {
            //alert('يرجى إدخال بريد إلكتروني صالح يحتوي على "@@"');
                $(`#${"CrCasRenterPrivateDriverInformationEmail"}-Error`).text("@localizer["requiredFiledEmail"]").show();
            }
            else{
                $(`#${"CrCasRenterPrivateDriverInformationEmail"}-Error`).text(" ");
            }
        });
    
    </script>
    <script>
        // This To Focus On input when page load
        if ('@requestCulture?.RequestCulture.UICulture.Name' == "en-US") {
            $("#CrCasRenterPrivateDriverInformationEnName").focus();
        }
        else {
            $("#CrCasRenterPrivateDriverInformationArName").focus();
        }
        //////////////////////////////////////////
        var statusInput = $("#CrCasRenterPrivateDriverInformationStatus");
        var OldArName = $("#CrCasRenterPrivateDriverInformationArName").val();
        var OldEnName = $("#CrCasRenterPrivateDriverInformationEnName").val();



        function Check_onChange_input(existName, dataField, oldValue) {
            //get the old value
            if (dataField === oldValue) {
                // Clear any existing error message if the values match
                $(`#${existName}-Error`).hide();
                return;
            }

            $.ajax({
                type: "GET",
                url: "/CAS/RenterDriver/CheckChangedField",
                data: { existName: existName, dataField: dataField },
                success: function (result) {
                    console.log("feedback", result);
                    // Hide all previous error messages
                    $('.invalid-feedback').show();

                    // Show new error messages if they exist
                    if (result.errors && result.errors.length > 0) {
                        result.errors.forEach(function (error) {
                            // Use the ID from the error object to find the correct element
                            $(`#${error.field}-Error`).text(error.message).show();
                        });
                    } else {
                        // Hide the error message if no errors
                        $(`#${existName}-Error`).text("");
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        // Example usage for Arabic Name input
        $('#CrCasRenterPrivateDriverInformationArName').on('change', function () {
            var newValue = $(this).val();
            Check_onChange_input('CrCasRenterPrivateDriverInformationArName', newValue, OldArName);
        });

        // Example usage for English Name input
        $('#CrCasRenterPrivateDriverInformationEnName').on('change', function () {
            var newValue = $(this).val();
            Check_onChange_input('CrCasRenterPrivateDriverInformationEnName', newValue, OldEnName);
        });

    </script>
    <script>
        function updateRenterDriverStatus(status) {
            var code = document.getElementById("CrCasRenterPrivateDriverInformationId").value;
            return new Promise((resolve, reject) => {
                $.ajax({
                    type: "POST",
                    url: "/CAS/RenterDriver/EditStatus",
                    data: { status: status, code: code },
                    success: function (result) {
                        toastr.options = { "positionClass": "@localizer["toastPostion"]" };

                        if (result == "true") {
                            //@*toastr.success("@localizer["ToastSave"]");*@
                            resolve(true);
                        } else if (result == "false_auth") {
                            toastr.error("@localizer["AuthEmplpoyee_No_auth"]");
                            resolve(false);
                        } else if (result == "udelete") {
                            //@* toastr.error("@localizer["SureTo_Cannot_delete"]");  //*@
                            resolve(false);
                        } else if (result == "un_NoUpdateStatus") {
                            //@* toastr.error("@localizer["AuthEmplpoyee_NoUpdateStatus"]"); //*@
                            resolve(false);
                        } else {
                            toastr.error("@localizer["ToastFailed"]");
                            resolve(false);
                        }
                    },
                    error: function () {
                        toastr.error("@localizer["ToastFailed"]");
                        resolve(false);
                    }
                });
            });
        }
    </script>
    <script>
        let isDeleted = false;
        let isStoped = false
        if (statusInput.val() == '@Status.Hold') {
            isDeleted = false;
            isStoped = true
        }
        else if (statusInput.val() == '@Status.Deleted') {
            isDeleted = true;
            isStoped = false
        }

        window.onload = () => {
            DeleteState(isDeleted);
            StopState(isStoped);
        };

        function DeleteState(deleted) {
            isDeleted = deleted;

            document.getElementById("modalContent").style.display = "block";
            document.getElementById("modalIcon").src = isDeleted
                ? "/MasSystem/images/Property 1=recycle.svg"
                : "/MasSystem/images/delete.svg";

            document.getElementById("modalContent").innerHTML = isDeleted
                ? `
                                                                    <div class="modal-header border-0">
                                                                      <h1 class="modal-title fs-4 m-auto d-flex align-items-start gap-2" id="Delete-ModalLabel">
                                                                                <img src="/MasSystem/images/Green-recycle.svg" /> @localizer["SureToRetriveDelete"]
                                                                      </h1>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <p>@localizer["ModalFirstMessage_RenterDriver_UnDelete"]</p>
                                                                        <p>@localizer["ModalSecondMessage_RenterDriver_UnDelete"]</p>
                                                                    </div>
                                                                    <div class="modal-footer border-0">
                                                                      <div class="container">
                                                                        <div class="row">
                                                                          <div class="col-md-6 text-center">
                                                                            <button type="button" class="btn btn-modal-Save" id="RetriveBtn" onclick="DeleteLoad()">@localizer["Okay"]</button>
                                                                          </div>
                                                                          <div class="col-md-6 text-center">
                                                                            <button type="button" class="btn btn-Cancel" data-bs-dismiss="modal">@localizer["Cancel"]</button>
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                    </div>`
                : `
                                                                    <div class="modal-header border-0">
                                                                      <h1 class="modal-title fs-4 m-auto d-flex align-items-start gap-2" id="Delete-ModalLabel">
                                                                                <img src="/MasSystem/images/delete (2).svg" /> @localizer["SureTodelete"]
                                                                      </h1>
                                                                    </div>
                                                                    <div class="modal-body">
                                                            @if (Model.CrCasRenterPrivateDriverInformationStatus == Status.Rented)
                                                            {
                                                                    <p>@localizer["SureTo_Cannot_delete"]</p>
                                                            }
                                                            else
                                                            {
                                                                <p>@localizer["ModalFirstMessage_RenterDriver_Delete"]</p>
                                                                <p>@localizer["ModalSecondMessage_RenterDriver_Delete"]</p>
                                                            }
                                                                    </div>
                                                                    <div class="modal-footer border-0">
                                                                      <div class="container">
                                                                        <div class="row">
                                                                          <div class="col-md-6 text-center">
                                                                            <button type="button" class="btn btn-modal-Save" id="DeleteBtn" onclick="DeleteLoad()">@localizer["Okay"]</button>
                                                                          </div>
                                                                          <div class="col-md-6 text-center">
                                                                            <button type="button" class="btn btn-Cancel" data-bs-dismiss="modal">@localizer["Cancel"]</button>
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                    </div>`;
        }
        function DeleteLoad() {
            const modalContent = document.getElementById("modalContent");
            const spinner = document.getElementById("spinner");
            const deleteModal = document.getElementById("Delete-Modal");
            const modalIcon = document.getElementById("modalIcon");

            modalContent.style.display = "none";
            spinner.style.display = "flex";

            setTimeout(async () => {
                spinner.style.display = "none";
                const modal = bootstrap.Modal.getInstance(deleteModal);
                modal.hide();

                const newStatus = isDeleted ? '@Status.UnDeleted' : '@Status.Deleted';
                const success = await updateRenterDriverStatus(newStatus);
                if (success) {
                    statusInput.val(isDeleted ? '@Status.Active' : '@Status.Deleted');
                    isDeleted = !isDeleted;

                    modalIcon.src = isDeleted
                        ? "/MasSystem/images/Property 1=recycle.svg"
                        : "/MasSystem/images/delete.svg";

                    DeleteState(isDeleted);
                    setTimeout(function () {
                        location.href = '@Url.Action("DisplayToastSuccess_withIndex", "RenterDriver")';
                    }, 500); // التأخير لمدة .5 ثوانٍ
                }
                else {
                    modalIcon.src = isDeleted
                        ? "/MasSystem/images/Property 1=recycle.svg"
                        : "/MasSystem/images/delete.svg";

                    DeleteState(isDeleted);
                }
            }, 500);
        }

        function StopState(Stoped) {
            isStoped = Stoped;

            document.getElementById("Stop-modal-Content").style.display = "block";
            document.getElementById("StopModalIcon").src = isStoped
                ? "/MasSystem/images/Property 1=active.svg"
                : "/MasSystem/images/stop.svg";

            document.getElementById("Stop-modal-Content").innerHTML = isStoped
                ? `
                                                                    <div class="modal-header border-0">
                                                                      <h1 class="modal-title fs-4 m-auto d-flex align-items-start gap-2" id="Delete-ModalLabel">
                                                                                <img src="/MasSystem/images/GreenStop.svg" /> @localizer["SureToRetriveHold"]
                                                                      </h1>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <p>@localizer["ModalFirstMessage_RenterDriver_UnHold"]</p>
                                                                        <p>@localizer["ModalSecondMessage_RenterDriver_UnHold"]</p>
                                                                    </div>
                                                                    <div class="modal-footer border-0">
                                                                      <div class="container">
                                                                        <div class="row">
                                                                          <div class="col-md-6 text-center">
                                                                            <button type="button" class="btn btn-modal-Save" id="RetriveBtn" onclick="StopLoad()">@localizer["Okay"]</button>
                                                                          </div>
                                                                          <div class="col-md-6 text-center">
                                                                            <button type="button" class="btn btn-Cancel" data-bs-dismiss="modal">@localizer["Cancel"]</button>
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                    </div>`
                : `
                                                                    <div class="modal-header border-0">
                                                                      <h1 class="modal-title fs-4 m-auto d-flex align-items-start gap-2" id="Delete-ModalLabel">
                                                                                <img src="/MasSystem/images/RedStop.svg" /> @localizer["SureToHold"]
                                                                      </h1>
                                                                    </div>
                                                                    <div class="modal-body">
                                                            @if (Model.CrCasRenterPrivateDriverInformationStatus == Status.Rented)
                                                            {
                                                                        <p>@localizer["AuthEmplpoyee_NoUpdateStatus"]</p>
                                                            }
                                                            else
                                                            {
                                                                        <p>@localizer["ModalFirstMessage_RenterDriver_Hold"]</p>
                                                                        <p>@localizer["ModalSecondMessage_RenterDriver_Hold"]</p>
                                                            }
                                                                    </div>
                                                                    <div class="modal-footer border-0">
                                                                      <div class="container">
                                                                        <div class="row">
                                                                          <div class="col-md-6 text-center">
                                                                            <button type="button" class="btn btn-modal-Save" id="HoldBtn" onclick="StopLoad()">@localizer["Okay"]</button>
                                                                          </div>
                                                                          <div class="col-md-6 text-center">
                                                                            <button type="button" class="btn btn-Cancel" data-bs-dismiss="modal">@localizer["Cancel"]</button>
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                    </div>`;
        }
        function StopLoad() {
            const stopModalContent = document.getElementById("Stop-modal-Content");
            const spinner = document.getElementById("spinner2");
            const modalElement = document.getElementById("Stop-Modal");
            const stopModalIcon = document.getElementById("StopModalIcon");

            stopModalContent.style.display = "none";
            spinner.style.display = "flex";

            setTimeout(async () => {
                spinner.style.display = "none";
                const modal = bootstrap.Modal.getInstance(modalElement);
                modal.hide();

                const newStatus = isStoped ? '@Status.UnHold' : '@Status.Hold';
                const success = await updateRenterDriverStatus(newStatus);
                if (success) {
                    statusInput.val(isStoped ? '@Status.Active' : '@Status.Hold');
                    isStoped = !isStoped;

                    stopModalIcon.src = isStoped
                        ? "/MasSystem/images/Property 1=active.svg"
                        : "/MasSystem/images/stop.svg";

                    StopState(isStoped);
                    setTimeout(function () {
                        location.href = '@Url.Action("DisplayToastSuccess_withIndex", "RenterDriver")';
                    }, 500); // التأخير لمدة .5 ثوانٍ
                }
            }, 500);
        }

    </script>


    
    @*<script>
        $(document).ready(function () {
            var today = new Date();

            //var birthdate = $("#CrCasRenterPrivateDriverInformationBirthDate").val();
            //var formattedbirthdate = new Date(birthdate);
            var IssueIdDate = $("CrCasRenterPrivateDriverInformationIssueIdDate").val();
            var IssueIdformattedDate = new Date(IssueIdDate);
            var ExpiryIdDate = $("CrCasRenterPrivateDriverInformationExpiryIdDate").val();
            var ExpiryIdformattedDate = new Date(ExpiryIdDate);
            var LicenseDate = $("CrCasRenterPrivateDriverInformationLicenseDate").val();
            var LicenseformattedDate = new Date(LicenseDate);
            var LicenseExpiryIdDate = $("CrCasRenterPrivateDriverInformationLicenseExpiry").val();
            var LicenseExpiryIdformattedDate = new Date(LicenseExpiryIdDate);

            //if (!formattedbirthdate || formattedbirthdate === "") {
            //    formattedbirthdate = today; // Set date to today if it's empty or null
            //}
            if (!IssueIdformattedDate || IssueIdformattedDate === "") {
                IssueIdformattedDate = today; // Set date to today if it's empty or null
            }
            if (!ExpiryIdformattedDate || ExpiryIdformattedDate === "") {
                ExpiryIdformattedDate = today; // Set date to today if it's empty or null
            }
            if (!LicenseformattedDate || LicenseformattedDate === "") {
                LicenseformattedDate = today; // Set date to today if it's empty or null
            }
            if (!LicenseExpiryIdformattedDate || LicenseExpiryIdformattedDate === "") {
                LicenseExpiryIdformattedDate = today; // Set date to today if it's empty or null
            }

            //$("#CrCasRenterPrivateDriverInformationBirthDate").datepicker({
            //    dateFormat: 'yy/mm/dd',
            //    maxDate: today,
            //    defaultDate: formattedbirthdate// Set the minimum date to today
            //}).datepicker("widget").addClass("datepicker-widget");
            //$("#CrCasRenterPrivateDriverInformationBirthDate").datepicker("setDate", formattedbirthdate);
            //$("#CrCasRenterPrivateDriverInformationBirthDate").click(function () {
            //    $(this).datepicker("show");
            //});

            $("#CrCasRenterPrivateDriverInformationIssueIdDate").datepicker({
                dateFormat: 'yy/mm/dd',
                //minDate: today,
                defaultDate: IssueIdformattedDate// Set the minimum date to today
            }).datepicker("widget").addClass("datepicker-widget");
            $("#CrCasRenterPrivateDriverInformationIssueIdDate").datepicker("setDate", IssueIdformattedDate);
            $("#CrCasRenterPrivateDriverInformationIssueIdDate").click(function () {
                $(this).datepicker("show");
            });

            $("#CrCasRenterPrivateDriverInformationExpiryIdDate").datepicker({
                dateFormat: 'yy/mm/dd',
                minDate: today,
                defaultDate: ExpiryIdformattedDate// Set the minimum date to today
            }).datepicker("widget").addClass("datepicker-widget");
            $("#CrCasRenterPrivateDriverInformationExpiryIdDate").datepicker("setDate", ExpiryIdformattedDate);
            $("#CrCasRenterPrivateDriverInformationExpiryIdDate").click(function () {
                $(this).datepicker("show");
            });


            $("#CrCasRenterPrivateDriverInformationLicenseDate").datepicker({
                dateFormat: 'yy/mm/dd',
                //minDate: today,
                defaultDate: LicenseformattedDate// Set the minimum date to today
            }).datepicker("widget").addClass("datepicker-widget");
            $("#CrCasRenterPrivateDriverInformationLicenseDate").datepicker("setDate", LicenseformattedDate);
            $("#CrCasRenterPrivateDriverInformationLicenseDate").click(function () {
                $(this).datepicker("show");
            });

            $("#CrCasRenterPrivateDriverInformationLicenseExpiry").datepicker({
                dateFormat: 'yy/mm/dd',
                minDate: today,
                defaultDate: LicenseExpiryIdformattedDate// Set the minimum date to today
            }).datepicker("widget").addClass("datepicker-widget");
            $("#CrCasRenterPrivateDriverInformationLicenseExpiry").datepicker("setDate", LicenseExpiryIdformattedDate);
            $("#CrCasRenterPrivateDriverInformationLicenseExpiry").click(function () {
                $(this).datepicker("show");
            });



            //$("#CrCasRenterPrivateDriverInformationBirthDate").after('<span class="datepicker-icon" style="cursor:pointer"><i class="dripicons-calendar"></i></span>');
            $("#CrCasRenterPrivateDriverInformationIssueIdDate").after('<span class="datepicker-icon" style="cursor:pointer"><i class="dripicons-calendar"></i></span>');
            $("#CrCasRenterPrivateDriverInformationExpiryIdDate").after('<span class="datepicker-icon" style="cursor:pointer"><i class="dripicons-calendar"></i></span>');
            $("#CrCasRenterPrivateDriverInformationLicenseDate").after('<span class="datepicker-icon" style="cursor:pointer"><i class="dripicons-calendar"></i></span>');
            $("#CrCasRenterPrivateDriverInformationLicenseExpiry").after('<span class="datepicker-icon" style="cursor:pointer"><i class="dripicons-calendar"></i></span>');



            $(".datepicker-icon").click(function () {
                $(this).prevAll('input').datepicker("show");
            });

            //$("#saveEdit").on("click", function (event) {
            //    event.preventDefault();
            //    CheckValidation('2201002', '@Status.Save').done(function (data) {
            //        if (data) {
            //            $('form').submit();
            //        }
            //    });
            //})
        })

    </script>*@
  
    @*<script>
        function validateInput(event, inId, InEr, No) {
            event.target.value = event.target.value.replace(/[^0-9]/g, '');

            const inputElement = document.getElementById(inId);
            const errorMessageElement = document.getElementById(InEr);

            const inputValue = inputElement.value;
            const isValid = inputValue.startsWith(No);

            if (!isValid) {
                errorMessageElement.textContent = errorMessageElement.getAttribute('data-val-err');
                inputElement.value = "";
            } else {
                errorMessageElement.textContent = '';
            }
        }


        function readURL(input, type) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var container = $(input).closest('.file-upload');
                    container.find('.file-upload-image.' + type).attr('src', e.target.result);
                    container.find('.file-upload-content.' + type).show();
                    container.find('.image-title.' + type).html(input.files[0].name);
                    container.find('.image-upload-wrap').hide();
                };
                reader.readAsDataURL(input.files[0]);
            } else {
                removeUpload(input);
            }
        }

        function removeUpload(button) {
            var container = $(button).closest('.file-upload');
            var type = container.find('.file-upload-content').hasClass('picture2') ? 'picture2' : (container.find('.file-upload-content').hasClass('picture1') ? 'picture1' : 'picture3');
            container.find('.file-upload-input-' + type).val('');
            container.find('.file-upload-image.' + type).attr('src', null)
            container.find('.file-upload-content.' + type).hide();
            container.find('.image-upload-wrap').show();
        }

        $('.image-upload-wrap').bind('dragover', function () {
            $(this).addClass('image-dropping');
        });
        $('.image-upload-wrap').bind('dragleave', function () {
            $(this).removeClass('image-dropping');
        });



    </script>*@



}

