@using Bnan.Ui.ViewModels.MAS
@model QuestionsAnswerVM

@inject IViewLocalizer localizer

@{
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
}
<link href="~/css/toastr.css" rel="stylesheet" />


<div class="col my-2 d-flex align-items-center justify-content-center">
    <div class="container NewUpdate-container">
        <form asp-area="MAS" asp-controller="QuestionsAnswer" asp-action="AddQuestionsAnswer" class="needs-validation" novalidate>
            @*<input hidden asp-for="CrMasSysQuestionsAnswerNo" />*@
            <div class="row  mt-3 g-3">
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <div class="row g-3 my-2">
                            <div class="col">
                                <h3>@localizer["Add_QuestionsAnswer_PageTitle"]</h3>
                            </div>
                            <div class="col-md-auto save-col">
                                <button type="submit" class="custom-img-btn"> <img src="~/MasSystem/images/save.svg" /> </button>
                                <button type="button" class="custom-img-btn"> <a href="/MAS/QuestionsAnswer/Index"><img class="Chevron" src="~/MasSystem/images/Chevron_Left.svg" /></a></button>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row g-3 mt-3">

                                <div class="col-md-12">
                                    <div class="row align-items-center">
                                        <div class="col-md-6 ">
                                            <label for="System_select" class="form-label"> @localizer["QuestionsAnswerName_system_view"] <i class="fa-solid fa-star-of-life RequirdStar"></i> </label>
                                            <select class="form-select select-style " asp-for="@Model.CrMasSysQuestionsAnswerSystem" id="System_select" onchange="changeTaskesList()" required>
                                                <option> </option>
                                                @if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
                                                {
                                                    @foreach (var single in Model.allsystemNames)
                                                    {
                                                        <option value="@single.CrMasSysSystemCode">@single.CrMasSysSystemEnName</option>
                                                    }
                                                }
                                                else
                                                {
                                                    @foreach (var single in Model.allsystemNames)
                                                    {
                                                        <option value="@single.CrMasSysSystemCode">@single.CrMasSysSystemArName</option>
                                                    }
                                                }

                                            </select>
                                            <div class="invaild">
                                                <div class="invalid-feedback">
                                                    <span asp-validation-for="@Model.CrMasSysQuestionsAnswerSystem" class="text-danger"></span>
                                                    <span class="text-danger" id="CrMasSysQuestionsAnswerSystem-Error"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 ">
                                            <label for="list_mainTask" class="form-label"> @localizer["QuestionsAnswerName_list_view"] <i class="fa-solid fa-star-of-life RequirdStar"></i> </label>
                                            <select class="form-select select-style " asp-for="@Model.CrMasSysQuestionsAnswerMainTask" id="list_mainTask" onchange="generateCode_ajax()" required>
                                                <option> </option>
                                                @if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
                                                {
                                                    @foreach (var single in Model.allMainTaskSystem)
                                                    {
                                                        <option value="@single.CrMasSysMainTasksCode" id="idTask_@single.CrMasSysMainTasksSystem">@single.CrMasSysMainTasksEnName</option>
                                                    }
                                                }
                                                else
                                                {
                                                    @foreach (var single in Model.allMainTaskSystem)
                                                    {
                                                        <option value="@single.CrMasSysMainTasksCode" id="idTask_@single.CrMasSysMainTasksSystem">@single.CrMasSysMainTasksArName</option>
                                                    }
                                                }

                                            </select>
                                            <div class="invaild">
                                                <div class="invalid-feedback">
                                                    <span asp-validation-for="@Model.CrMasSysQuestionsAnswerMainTask" class="text-danger"></span>
                                                    <span class="text-danger" id="CrMasSysQuestionsAnswerMainTask-Error"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p class="DataTitle">@localizer["the_Code"]</p>
                                                </div>
                                                <div class="col-auto ">
                                                    <p class="Saved-data" id="codeGenerated" > </p>
                                                    <input type="text" asp-for="CrMasSysQuestionsAnswerNo" id="CrMasSysQuestionsAnswerNo" hidden />
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <label for="AR-Licence" class="form-label">
                                                @localizer["QuestionsAnswerNameAr_edit"]
                                                <i class="fa-solid fa-star-of-life RequirdStar"></i>
                                            </label>
                                            <textarea class=" form-control textarea-inputs" rows="4"
                                                      type="text" asp-for="CrMasSysQuestionsAnswerArQuestions" id="CrMasSysQuestionsAnswerArQuestions" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s\/\.\+\#\{\[\}\]\(\)\&\*\!\$\%\_\-0-9]/g, '')" autoComplete="off" required>@Model.CrMasSysQuestionsAnswerArQuestions</textarea>
                                            <div class="invaild">
                                                <div class="invalid-feedback">
                                                    <span asp-validation-for="@Model.CrMasSysQuestionsAnswerArQuestions" class="text-danger"></span>
                                                    <span class="text-danger" id="CrMasSysQuestionsAnswerArQuestions-Error"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="EN-Licence" class="form-label">
                                                @localizer["QuestionsAnswerNameEn_edit"]
                                                <i class="fa-solid fa-star-of-life RequirdStar"></i>
                                            </label>
                                            <textarea class=" form-control textarea-inputs english-input" rows="4"
                                                      type="text" asp-for="CrMasSysQuestionsAnswerEnQuestions" id="CrMasSysQuestionsAnswerEnQuestions" oninput="this.value = this.value.replace(/[^a-zA-Z\s\/\.\+\#\{\[\}\]\(\)\&\*\!\$\_\%\-0-9]/g, '')" autoComplete="off" required>@Model.CrMasSysQuestionsAnswerEnQuestions</textarea>
                                            <div class="invaild">
                                                <div class="invalid-feedback">
                                                    <span asp-validation-for="@Model.CrMasSysQuestionsAnswerEnQuestions" class="text-danger"></span>
                                                    <span class="text-danger" id="CrMasSysQuestionsAnswerEnQuestions-Error"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>@localizer["QuestionsAnswerName_ArAnswer"] <i class="fa-solid fa-star-of-life RequirdStar"></i> </label>
                                            <textarea class=" form-control textarea-inputs" rows="6"
                                                      type="text" asp-for="CrMasSysQuestionsAnswerArAnswer" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s\/\.\+\#\{\[\}\]\(\)\&\*\!\$\%\_\-0-9]/g, '')" autoComplete="off" required>@Model.CrMasSysQuestionsAnswerArAnswer</textarea>
                                            <div class="invaild">
                                                <div class="invalid-feedback">
                                                    <span asp-validation-for="@Model.CrMasSysQuestionsAnswerArAnswer" class="text-danger"></span>
                                                    <span class="text-danger" id="CrMasSysQuestionsAnswerArAnswer-Error"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>@localizer["QuestionsAnswerName_EnAnswer"] <i class="fa-solid fa-star-of-life RequirdStar"></i> </label>
                                            <textarea class=" form-control textarea-inputs english-input" rows="6"
                                                      type="text" asp-for="CrMasSysQuestionsAnswerEnAnswer" oninput="this.value = this.value.replace(/[^a-zA-Z\s\/\.\+\#\{\[\}\]\(\)\&\*\!\$\_\%\-0-9]/g, '')" autoComplete="off" required>@Model.CrMasSysQuestionsAnswerEnAnswer</textarea>
                                            <div class="invaild">
                                                <div class="invalid-feedback">
                                                    <span asp-validation-for="@Model.CrMasSysQuestionsAnswerEnAnswer" class="text-danger"></span>
                                                    <span class="text-danger" id="CrMasSysQuestionsAnswerEnAnswer-Error"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/toastr.js"></script>

    <script>
        $(document).ready(function () {

            // This To Focus On input when page load
            if ('@requestCulture?.RequestCulture.UICulture.Name' == "en-US") {
                $("#CrMasSysQuestionsAnswerEnQuestions").focus();
            }
            else {
                $("#CrMasSysQuestionsAnswerArQuestions").focus();
            }
            //////////////////////////////////////////


            function Check_onChange_input(existName, dataField) {
                $.ajax({
                    type: "GET",
                    url: "/MAS/QuestionsAnswer/CheckChangedField",
                    data: { existName: existName, dataField: dataField },
                    success: function (result) {
                        console.log("feedback", result);
                        // Hide all previous error messages
                        $('.invalid-feedback').show();

                        // Show new error messages if they exist
                        if (result.errors && result.errors.length > 0) {
                            result.errors.forEach(function (error) {
                                // Use the ID from the error object to find the correct element
                                $(`#${error.field}-Error`).text(error.message).show();
                            });
                        } else {
                            // Hide the error message if no errors
                            $(`#${existName}-Error`).text("");
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }


            $('#CrMasSysQuestionsAnswerArQuestions').on('change', function () {
                var newValue = $(this).val();
                console.log("newValue", newValue)
                Check_onChange_input('CrMasSysQuestionsAnswerArQuestions', newValue);
            });

            $('#CrMasSysQuestionsAnswerEnQuestions').on('change', function () {
                var newValue = $(this).val();
                Check_onChange_input('CrMasSysQuestionsAnswerEnQuestions', newValue);
            });

            $('#CrMasSysQuestionsAnswerNaqlCode').on('change', function () {
                var newValue = $(this).val();
                Check_onChange_input('CrMasSysQuestionsAnswerNaqlCode', newValue);
            });

            $('#CrMasSysQuestionsAnswerNaqlId').on('change', function () {
                var newValue = $(this).val();
                Check_onChange_input('CrMasSysQuestionsAnswerNaqlId', newValue);
            });
        });

    </script>

    <script>
        async function generateCode_ajax() {
            var task = $('#list_mainTask').val();
            var system = $('#System_select').val();
            //if (task == null || task == undefined || task == "") task = "0";
            //if (system == null || system == undefined || system == "") system = "0";
            console.log({ task, system });

                // التحقق من وجود القيم في الحقول
                if (task && system) {
                    $.ajax({
                        url: '/MAS/QuestionsAnswer/GenerateajaxCodeAsync', // تحديد المسار الصحيح
                        type: 'GET', // أو POST إذا كنت تحتاج إلى إرسال بيانات في جسم الطلب
                        data: {
                            task: task,
                            system: system
                        },
                        dataType: 'json', // تأكد من أن النوع هو JSON

                        success: await function (response) {
                            // عرض الكود الذي تم توليده
                            $('#codeGenerated').text(response.code);
                            $('#CrMasSysQuestionsAnswerNo').val(response.code);
                        
                            console.log(response);
                        },
                        error: function (xht) {
                            //alert('حدث خطأ أثناء توليد الكود!');
                            console.log('حدث خطأ أثناء توليد الكود!');
                            console.log(xht);
                        }
                    });
                } else {
                    //alert('الرجاء إدخال جميع الحقول!');
                }
        }

    </script>

    <script>
        function changeTaskesList() {
            $('#codeGenerated').text('');
            //var selectedOption = $('#mySelect').find('option:selected').attr('id');
            var systemVal = $('#System_select').find('option:selected').val();
            const selectElement = document.getElementById('list_mainTask');
            const options = selectElement.options;  // الحصول على جميع الخيارات
            const thisId = "idTask_" + systemVal;
            for (let i = 0; i < options.length; i++) {
                options[i].style.display = 'none';  // إخفاء الخيار
            }

            for (let i = 0; i < options.length; i++) {
                if (options[i].id == thisId) {
                    options[i].style.display = '';  // إظهار الخيار
                } else {
                    options[i].style.display = 'none';  // إخفاء الخيار
                }
            }
            options[0].style.display = '';
            document.getElementById('list_mainTask').selectedIndex = 0;

            generateCode_ajax();
        }

    </script>
}