@using Bnan.Ui.ViewModels.CAS
@using Bnan.Core.Extensions
@model CASContractSourceVM

@inject IViewLocalizer localizer
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
<link href="~/css/toastr.css" rel="stylesheet" />


<div class="col my-2 d-flex align-items-center justify-content-center">
    <div class="container NewUpdate-container">
        <form asp-area="CAS" asp-controller="LessorOwners_CAS" asp-action="Edit" class="needs-validation" novalidate>
            <input hidden asp-for="CrCasOwnersCode" />
            <input hidden asp-for="CrCasOwnersLessorCode" />
            <input hidden asp-for="CrCasOwnersStatus" />
            <input hidden asp-for="CrCasOwnersArName" />
            <input hidden asp-for="CrCasOwnersEnName" />
            <input hidden asp-for="CrCasOwnersConnectStatus" id="status_radio_asp" />
            <div class="row mt-3 g-3">
               <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <div class="row g-3 my-2">
                            <div class="col-md-6">
                                <h3> @localizer["Edit_LessorOwners_CAS_PageTitle"] </h3>
                            </div>
                            <div class="col-md-auto save-col btnsContainer">
                                <button type="submit" class="custom-img-btn" id="SaveEdit">
                                    <img src="~/CasSys/images/save.svg" />
                                </button>
                                <button type="button" class="custom-img-btn" id="HoldBtn" data-bs-toggle="modal" data-bs-target="#Stop-Modal">
                                    <img id="StopModalIcon" src="~/CasSys/images/stop.svg" />
                                </button>
                                <button type="button" class="custom-img-btn" id="DeleteBtn" data-bs-toggle="modal" data-bs-target="#Delete-Modal">
                                    <img id="modalIcon" src="~/MasSystem/images/delete.svg" />
                                </button>
                                <button type="button" class="custom-img-btn"> <a href="/CAS/LessorOwners_CAS/Index"><img class="Chevron" src="~/CasSys/images/Chevron_Left.svg" /></a></button>
                            </div>
                        </div>

                        <div class="container-fluid">
                            <div class="row mt-3 g-3">

                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-auto">
                                            <p>@localizer["RenterIdtypeName_view"] </p>
                                        </div>
                                        <div class=" col-md-auto Saved-data">
                                            <p> @Model.CrCasOwnersCode </p>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-auto">
                                            <p> @localizer["Owner_one_New"] </p>
                                        </div>
                                        <div class=" col-md-auto Saved-data">
                                            <p>@(requestCulture?.RequestCulture.UICulture.Name == "en-US" ? Model.CrCasOwnersEnName : Model.CrCasOwnersArName)</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="row align-items-center">

                                        <div class="col-md-6">
                                            <label for="phone2" class="form-label">
                                                @localizer["LessorMarketingMobile"]
                                            </label>
                                            <div class="input-group">
                                                
                                                @*<input type="text" class="form-control inputs tel-input" id="text_mob" asp-for="mob" onchange="edit_mob()" oninput="this.value = this.value.replace(/[^0-9]/g, '')" maxlength="20" required>*@
                                                <input type="text" class="form-control inputs tel-input" id="phone2" asp-for="CrCasOwnersMobile" onchange="edit_mob()" oninput="this.value = this.value.replace(/[^0-9]/g, '')" maxlength="20" required>
                                                <select class="input-group-text select-style counterCode" id="key_country" asp-for="CrCasOwnersCountryKey" onchange="changed_key()">

                                                    <option value=""></option>
                                                    @foreach (var single in Model.keys)
                                                    {
                                                        <option value="@single.CrMasSysCallingKeysNo" id="@single.CrMasSysCallingKeysNo">+@single.CrMasSysCallingKeysNo</option>
                                                    }
                                                </select>
                                                <div class="invaild">
                                                    <div class="invalid-feedback">
                                                        <span class="text-danger" asp-validation-for="CrCasOwnersMobile"></span>
                                                        <span class="text-danger" id="CrCasOwnersMobile-Error"></span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        @*<div class="col-md-6">

                                            <button type="button" disabled class="btn modal-btn"
                                                    data-bs-toggle="modal"
                                                    href="#Doc-photo-modal">
                                                <div class="row align-items-center">
                                                    <div class="col">@localizer["RenterIdPhoto"] </div>
                                                    <div class="col-auto">
                                                        <div class="systems-check">
                                                            <i class="fa-solid fa-check text-white"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </button>
                                        </div>*@
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="email"
                                                   class="form-label">@localizer["LessorMarketingEmail"] </label>
                                            <input type="email" id="email"
                                                   class="form-control inputs english-input"
                                                   id="email" asp-for="CrCasOwnersEmail">
                                            <div class="invaild">
                                                <div class="invalid-feedback">
                                                    <span class="text-danger" asp-validation-for="CrCasOwnersEmail"></span>
                                                    <span class="text-danger" id="CrCasOwnersEmail-Error"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="d-flex gap-3 align-items-center">
                                        <input class="form-check-input checkbox" type="checkbox" value="checked" id="sendContract" name="sendContract">
                                        <label class="form-check-label" for="sendContract">@localizer["Send_contract"]</label>
                                    </div>
                                    <div class="mt-3 d-flex gap-3 align-items-center">
                                        <div>
                                            <input class="form-check-input" type="radio" name="sendWay" value="email" disabled id="sendEmail">
                                            <label class="form-check-label" for="sendEmail">@localizer["mail_owner"]</label>
                                        </div>
                                        <div>
                                            <input class="form-check-input" type="radio" name="sendWay" value="whatsup" disabled id="sendWhatsup">
                                            <label class="form-check-label" for="sendWhatsup">@localizer["whatsapp_owner"] </label>
                                        </div>
                                        <div>
                                            <input class="form-check-input" type="radio" name="sendWay" value="sms" disabled id="sendSms">
                                            <label class="form-check-label" for="sendSms">@localizer["sms_owner"]</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row align-items-center mt-3 ">
                                        <div class="col-md-10">
                                            <label>@localizer["Reason_s"]</label>
                                            <textarea class=" form-control textarea-inputs"
                                                      rows="1" maxlength="100" name="notes"
                                                      type="text" asp-for="CrCasOwnersReasons"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



<!-- delete modal -->
<div class="modal fade" id="Delete-Modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="Delete-ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border: 1px solid var(--main-color);">
            <div class="content" id="modalContent">
            </div>
            <!-- Hidden spinner  -->
            <div class="modal-body text-center" id="spinner" style="display: none;">
                <span class="State-Modal-loader"></span>
            </div>
        </div>
    </div>
</div>
<!-- Stopp  modal -->
<div class="modal fade" id="Stop-Modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="Stop-ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border: 1px solid var(--main-color);">
            <div class=" content" id="Stop-modal-Content">
            </div>
            <!-- Hidden spinner  -->
            <div class="modal-body text-center" id="spinner2" style="display: none;">
                <span class="State-Modal-loader"></span>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/toastr.js"></script>
    <script>
        $(document).ready(function () {
            var statusConn = $("#status_radio_asp").val();
            const checkbox = document.getElementById('sendContract');
            const radioButtons = document.querySelectorAll('input[name="sendWay"]');
            console.log(statusConn);
            if (statusConn !="" && statusConn !=undefined){
                checkbox.checked=true;
                // تفعيل الـ radio buttons إذا كان الـ checkbox مفعلًا
                radioButtons.forEach(radio => radio.disabled = false);
            }
            if (statusConn == "1") {
                $('#sendEmail').prop('checked', true).prop('disabled', false);
            }
            else if (statusConn == "2") {
                $('#sendWhatsup').prop('checked', true).prop('disabled', false);
            }
            else if (statusConn == "3") {
                $('#sendSms').prop('checked', true).prop('disabled', false);
            }

            //$("#key_country option[id="+kkey+"]").prop("selected", true);
        });
    </script>
            
    <script>
        // الحصول على الـ checkbox والـ radio buttons
        const checkbox = document.getElementById('sendContract');
        const radioButtons = document.querySelectorAll('input[name="sendWay"]');

        // الاستماع لتغيير الـ checkbox
        checkbox.addEventListener('change', function () {
            if (checkbox.checked) {
                // تفعيل الـ radio buttons إذا كان الـ checkbox مفعلًا
                radioButtons.forEach(radio => radio.disabled = false);
                // إزالة التحديد من الـ radio button
                radioButtons.forEach((radio) => {  radio.checked = false;  });
            } else {
                // تعطيل الـ radio buttons إذا كان الـ checkbox غير مفعل
                radioButtons.forEach(radio => radio.disabled = true);
                $("#status_radio_asp").val("0");
                console.log('تم اختيار: ' + $("#status_radio_asp").val());
            }
        });

        // الاستماع لتغيير قيمة الـ radio buttons
        radioButtons.forEach((radio) => {
            radio.addEventListener('change', function () {
                // عندما يتغير الاختيار، قم بعرض القيمة المختارة
                console.log('تم اختيار: ' + this.value);
                if (this.value == "email") {
                    $("#status_radio_asp").val("1");
                }
                else if (this.value == "whatsup") {
                    $("#status_radio_asp").val("2");
                }
                else if (this.value == "sms") {
                    $("#status_radio_asp").val("3");
                }
                else{
                    $("#status_radio_asp").val("0");
                }
                console.log('تم اختيار: ' + $("#status_radio_asp").val());
            });
        });
    </script>
    @*<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="~/CasSys/scripts/Scripts.js"></script>

    <script src="~/CasSys/scripts/uploadPic.js"></script>
    <script>
        const DocImg = document.getElementById('Doc-upload-container')
        DocImg.innerHTML = `<img class="preview-image" src="~/CasSys/images/ditch-this-man-zapper-to-increase-virility.jpg">`
    </script>*@

@*    <script>
        $(document).ready(function () {
            var kkey = $("#key33").val();
            $("#key_country option[id="+kkey+"]").prop("selected", true);
        });
    </script>*@
        

@*    <script>
        function changed_key(){
            $("#text_mob").val("");
            edit_mob();
        }
        // To Handle Background
        function edit_mob(){
            var key2 = $("#key_country").val();
            var text_mob2 = $("#text_mob").val();
            var key = key2.replace(/\s+/g, '');
            var text_mob = text_mob2.replace(/\s+/g, '');
            $("#thismobile").val(key +"-"+ text_mob);
        }
    </script>*@
    <script>
        // To Handle Background
        $("#wrapper").addClass("Branches-wrapper");
    </script>
    <script>
        // This To Focus On input when page load
        if ('@requestCulture?.RequestCulture.UICulture.Name' == "en-US") {
            $("#CrCasOwnersEnName").focus();
        }
        else {
            $("#CrCasOwnersArName").focus();
        }
        //////////////////////////////////////////
        var statusInput = $("#CrCasOwnersStatus");
        var OldArName = $("#CrCasOwnersArName").val();
        var OldEnName = $("#CrCasOwnersEnName").val();
        var OldEmail = $("#CrCasOwnersEmail").val();
        var OldMobile = $("#CrCasOwnersMobile").val();


        function Check_onChange_input(existName, dataField, oldValue) {
            //get the old value
            if (dataField === oldValue) {
                // Clear any existing error message if the values match
                $(`#${existName}-Error`).hide();
                return;
            }

            $.ajax({
                type: "GET",
                url: "/CAS/LessorOwners_CAS/CheckChangedField",
                data: { existName: existName, dataField: dataField },
                success: function (result) {
                    console.log("feedback", result);
                    // Hide all previous error messages
                    $('.invalid-feedback').show();

                    // Show new error messages if they exist
                    if (result.errors && result.errors.length > 0) {
                        result.errors.forEach(function (error) {
                            // Use the ID from the error object to find the correct element
                            $(`#${error.field}-Error`).text(error.message).show();
                        });
                    } else {
                        // Hide the error message if no errors
                        $(`#${existName}-Error`).text("");
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        // Example usage for Arabic Name input
        $('#CrCasOwnersArName').on('change', function () {
            var newValue = $(this).val();
            Check_onChange_input('CrCasOwnersArName', newValue, OldArName);
        });

        // Example usage for English Name input
        $('#CrCasOwnersEnName').on('change', function () {
            var newValue = $(this).val();
            Check_onChange_input('CrCasOwnersEnName', newValue, OldEnName);
        });
        $('#CrCasOwnersEmail').on('change', function () {
            var newValue = $(this).val();
            Check_onChange_input('CrCasOwnersEmail', newValue, OldEmail);
        });
        $('#CrCasOwnersMobile').on('change', function () {
            var newValue = $(this).val();
            Check_onChange_input('CrCasOwnersMobile', newValue, OldMobile);
        });

    </script>
    <script>
        function updateLessorOwners_CASStatus(status) {
            var code = document.getElementById("CrCasOwnersCode").value;
            return new Promise((resolve, reject) => {
                $.ajax({
                    type: "POST",
                    url: "/CAS/LessorOwners_CAS/EditStatus",
                    data: { status: status, code: code },
                    success: function (result) {
                        toastr.options = { "positionClass": "@localizer["toastPostion"]" };

                        if (result == "true") {
                            //@*toastr.success("@localizer["ToastSave"]");*@
                            resolve(true);
                        } else if (result == "false_auth") {
                            toastr.error("@localizer["AuthEmplpoyee_No_auth"]");
                            resolve(false);
                        }
                        else if (result == "udelete") {
                        //@*   toastr.error("@localizer["SureTo_Cannot_delete"]"); //*@
                            resolve(false);
                        } else if (result == "un_NoUpdateStatus") {
                        //@* toastr.error("@localizer["AuthEmplpoyee_NoUpdateStatus"]"); //*@
                            resolve(false);
                        }
                        else {
                            toastr.error("@localizer["ToastFailed"]");
                            resolve(false);
                        }
                    },
                    error: function () {
                        toastr.error("@localizer["ToastFailed"]");
                        resolve(false);
                    }
                });
            });
        }
    </script>
    <script>
        let isDeleted = false;
        let isStoped = false
        if (statusInput.val() == '@Status.Hold') {
            isDeleted = false;
            isStoped = true
        }
        else if (statusInput.val() == '@Status.Deleted') {
            isDeleted = true;
            isStoped = false
        }

        window.onload = () => {
            DeleteState(isDeleted);
            StopState(isStoped);
        };

        function DeleteState(deleted) {
            isDeleted = deleted;

            document.getElementById("modalContent").style.display = "block";
            document.getElementById("modalIcon").src = isDeleted
                ? "/MasSystem/images/Property 1=recycle.svg"
                : "/MasSystem/images/delete.svg";

            document.getElementById("modalContent").innerHTML = isDeleted
                ? `
                                                            <div class="modal-header border-0">
                                                              <h1 class="modal-title fs-4 m-auto d-flex align-items-start gap-2" id="Delete-ModalLabel">
                                                                        <img src="/MasSystem/images/Green-recycle.svg" /> @localizer["SureToRetriveDelete"]
                                                              </h1>
                                                            </div>
                                                            <div class="modal-body">
        @if (Model.countForCars > 0)
        {
                                                                                       <p>@localizer["AuthEmplpoyee_NoUpdateStatus"]</p>
        }
        else
        {
                                                                            <p>@localizer["ModalFirstMessage_LessorOwners_CAS_UnDelete"]</p>
                                                                            <p>@localizer["ModalSecondMessage_LessorOwners_CAS_UnDelete"]</p>
        }

                                                            </div>
                                                            <div class="modal-footer border-0">
                                                              <div class="container">
                                                                <div class="row">
                                                                  <div class="col-md-6 text-center">
                                                                    <button type="button" class="btn btn-modal-Save" id="RetriveBtn" onclick="DeleteLoad()">@localizer["Okay"]</button>
                                                                  </div>
                                                                  <div class="col-md-6 text-center">
                                                                    <button type="button" class="btn btn-Cancel" data-bs-dismiss="modal">@localizer["Cancel"]</button>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>`
                : `
                                                            <div class="modal-header border-0">
                                                              <h1 class="modal-title fs-4 m-auto d-flex align-items-start gap-2" id="Delete-ModalLabel">
                                                                        <img src="/MasSystem/images/delete (2).svg" /> @localizer["SureTodelete"]
                                                              </h1>
                                                            </div>
                                                            <div class="modal-body">
        @if (Model.countForCars > 0)
        {
                                                                                    <p>@localizer["SureTo_Cannot_delete"]</p>
        }
        else
        {
                                                                                    <p>@localizer["ModalFirstMessage_LessorOwners_CAS_Delete"]</p>
                                                                                    <p>@localizer["ModalSecondMessage_LessorOwners_CAS_Delete"]</p>
        }
                                                            </div>
                                                            <div class="modal-footer border-0">
                                                              <div class="container">
                                                                <div class="row">
                                                                  <div class="col-md-6 text-center">
                                                                    <button type="button" class="btn btn-modal-Save" id="DeleteBtn" onclick="DeleteLoad()">@localizer["Okay"]</button>
                                                                  </div>
                                                                  <div class="col-md-6 text-center">
                                                                    <button type="button" class="btn btn-Cancel" data-bs-dismiss="modal">@localizer["Cancel"]</button>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>`;
        }
        function DeleteLoad() {
            const modalContent = document.getElementById("modalContent");
            const spinner = document.getElementById("spinner");
            const deleteModal = document.getElementById("Delete-Modal");
            const modalIcon = document.getElementById("modalIcon");

            modalContent.style.display = "none";
            spinner.style.display = "flex";

            setTimeout(async () => {
                spinner.style.display = "none";
                const modal = bootstrap.Modal.getInstance(deleteModal);
                modal.hide();

                const newStatus = isDeleted ? '@Status.UnDeleted' : '@Status.Deleted';
                const success = await updateLessorOwners_CASStatus(newStatus);
                if (success) {
                    statusInput.val(isDeleted ? '@Status.Active' : '@Status.Deleted');
                    isDeleted = !isDeleted;

                    modalIcon.src = isDeleted
                        ? "/MasSystem/images/Property 1=recycle.svg"
                        : "/MasSystem/images/delete.svg";

                    DeleteState(isDeleted);
                    setTimeout(function () {
                        location.href = '@Url.Action("DisplayToastSuccess_withIndex", "LessorOwners_CAS")';
                    }, 500); // التأخير لمدة .5 ثوانٍ
                }
                else {
                    modalIcon.src = isDeleted
                        ? "/MasSystem/images/Property 1=recycle.svg"
                        : "/MasSystem/images/delete.svg";

                    DeleteState(isDeleted);
                }
            }, 500);
        }

        function StopState(Stoped) {
            isStoped = Stoped;

            document.getElementById("Stop-modal-Content").style.display = "block";
            document.getElementById("StopModalIcon").src = isStoped
                ? "/MasSystem/images/Property 1=active.svg"
                : "/MasSystem/images/stop.svg";

            document.getElementById("Stop-modal-Content").innerHTML = isStoped
                ? `
                                                            <div class="modal-header border-0">
                                                              <h1 class="modal-title fs-4 m-auto d-flex align-items-start gap-2" id="Delete-ModalLabel">
                                                                        <img src="/MasSystem/images/GreenStop.svg" /> @localizer["SureToRetriveHold"]
                                                              </h1>
                                                            </div>
                                                            <div class="modal-body">
                                                        @if (Model.countForCars >0)
                                                        {
                                                               <p>@localizer["AuthEmplpoyee_NoUpdateStatus"]</p>
                                                       }
                                                        else
                                                        {
                                                              <p>@localizer["ModalFirstMessage_LessorOwners_CAS_UnHold"]</p>
                                                              <p>@localizer["ModalSecondMessage_LessorOwners_CAS_UnHold"]</p>
                                                        }
                                                            </div>
                                                            <div class="modal-footer border-0">
                                                              <div class="container">
                                                                <div class="row">
                                                                  <div class="col-md-6 text-center">
                                                                    <button type="button" class="btn btn-modal-Save" id="RetriveBtn" onclick="StopLoad()">@localizer["Okay"]</button>
                                                                  </div>
                                                                  <div class="col-md-6 text-center">
                                                                    <button type="button" class="btn btn-Cancel" data-bs-dismiss="modal">@localizer["Cancel"]</button>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>`
                : `
                                                            <div class="modal-header border-0">
                                                              <h1 class="modal-title fs-4 m-auto d-flex align-items-start gap-2" id="Delete-ModalLabel">
                                                                        <img src="/MasSystem/images/RedStop.svg" /> @localizer["SureToHold"]
                                                              </h1>
                                                            </div>
                                                            <div class="modal-body">
        @if (Model.countForCars > 0)
        {
                                                                           <p>@localizer["AuthEmplpoyee_NoUpdateStatus"]</p>
        }
        else
        {
                                                                            <p>@localizer["ModalFirstMessage_LessorOwners_CAS_Hold"]</p>
                                                                            <p>@localizer["ModalSecondMessage_LessorOwners_CAS_Hold"]</p>
        }

                                                            </div>
                                                            <div class="modal-footer border-0">
                                                              <div class="container">
                                                                <div class="row">
                                                                  <div class="col-md-6 text-center">
                                                                    <button type="button" class="btn btn-modal-Save" id="HoldBtn" onclick="StopLoad()">@localizer["Okay"]</button>
                                                                  </div>
                                                                  <div class="col-md-6 text-center">
                                                                    <button type="button" class="btn btn-Cancel" data-bs-dismiss="modal">@localizer["Cancel"]</button>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>`;
        }
        function StopLoad() {
            const stopModalContent = document.getElementById("Stop-modal-Content");
            const spinner = document.getElementById("spinner2");
            const modalElement = document.getElementById("Stop-Modal");
            const stopModalIcon = document.getElementById("StopModalIcon");

            stopModalContent.style.display = "none";
            spinner.style.display = "flex";

            setTimeout(async () => {
                spinner.style.display = "none";
                const modal = bootstrap.Modal.getInstance(modalElement);
                modal.hide();

                const newStatus = isStoped ? '@Status.UnHold' : '@Status.Hold';
                const success = await updateLessorOwners_CASStatus(newStatus);
                if (success) {
                    statusInput.val(isStoped ? '@Status.Active' : '@Status.Hold');
                    isStoped = !isStoped;

                    stopModalIcon.src = isStoped
                        ? "/MasSystem/images/Property 1=active.svg"
                        : "/MasSystem/images/stop.svg";

                    StopState(isStoped);
                    setTimeout(function () {
                        location.href = '@Url.Action("DisplayToastSuccess_withIndex", "LessorOwners_CAS")';
                    }, 500); // التأخير لمدة .5 ثوانٍ
                }
            }, 500);
        }

    </script>
}