@using Bnan.Ui.ViewModels.MAS
@model PostCityVM

@inject IViewLocalizer localizer

@{
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
}
<link href="~/css/toastr.css" rel="stylesheet" />


<div class="col my-2 d-flex align-items-center justify-content-center">
    <div class="container NewUpdate-container">
        <form asp-area="MAS" asp-controller="PostCity" asp-action="AddPostCity" class="needs-validation" novalidate>
            <input hidden asp-for="CrMasSupPostCityCode" />
            <div class="row  mt-3 g-3">
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <div class="row g-3 my-2">
                            <div class="col">
                                <h3>@localizer["Add_PostCity_PageTitle"]</h3>
                            </div>
                            <div class="col-md-auto save-col">
                                <button type="submit" class="custom-img-btn"> <img src="~/MasSystem/images/save.svg" /> </button>
                                <button type="button" class="custom-img-btn"> <a href="/MAS/PostCity/Index"><img class="Chevron" src="~/MasSystem/images/Chevron_Left.svg" /></a></button>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row  mt-3 g-3 ">

                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p class="DataTitle">@localizer["the_Code"]</p>
                                                </div>
                                                <div class="col-auto ">
                                                    <p class="Saved-data">@Model.CrMasSupPostCityCode</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <label for="AR-Licence" class="form-label">
                                                @localizer["PostCityNameAr_add"]
                                                <i class="fa-solid fa-star-of-life RequirdStar"></i>
                                            </label>
                                            <input type="text" asp-for="CrMasSupPostCityArName" id="CrMasSupPostCityArName" maxlength="30" class="form-control inputs arabic-input" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')" autoComplete="off" required>
                                            <div class="invaild">
                                                <div class="invalid-feedback">
                                                    <span asp-validation-for="@Model.CrMasSupPostCityArName" class="text-danger"></span>
                                                    <span class="text-danger" id="CrMasSupPostCityArName-Error"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="EN-Licence" class="form-label">
                                                @localizer["PostCityNameEn_add"]
                                                <i class="fa-solid fa-star-of-life RequirdStar"></i>
                                            </label>
                                            <input type="text" class="form-control inputs english-input" asp-for="CrMasSupPostCityEnName" maxlength="30" id="CrMasSupPostCityEnName" oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, '')" autoComplete="off" required>
                                            <div class="invaild">
                                                <div class="invalid-feedback">
                                                    <span asp-validation-for="@Model.CrMasSupPostCityEnName" class="text-danger"></span>
                                                    <span class="text-danger" id="CrMasSupPostCityEnName-Error"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="row align-items-center">
                                        <div class="col-md-6 ">
                                            <label for="Area" class="form-label"> @localizer["PostRegionsName_view"] <i class="fa-solid fa-star-of-life RequirdStar"></i> </label>
                                            <select class="form-select select-style " asp-for="CrMasSupPostCityRegionsCode" id="region_select" required>
                                                <option> </option>
                                                @if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
                                                {
                                                    @foreach (var single in Model.Regions)
                                                    {
                                                        <option value="@single.CrMasSupPostRegionsCode"> @single.CrMasSupPostRegionsEnName  </option>
                                                    }
                                                }
                                                else
                                                {
                                                    @foreach (var single2 in Model.Regions)
                                                    {
                                                        <option value="@single2.CrMasSupPostRegionsCode"> @single2.CrMasSupPostRegionsArName  </option>
                                                    }
                                                }

                                            </select>
                                            <div class="invaild">
                                                <div class="invalid-feedback">
                                                    <span asp-validation-for="@Model.CrMasSupPostCityRegionsCode" class="text-danger"></span>
                                                    <span class="text-danger" id="CrMasSupPostCityRegionsCode-Error"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="location" class="form-label">
                                                @localizer["the_Location"]
                                            </label>
                                            <input type="text" class="form-control inputs english-input" asp-for="CrMasSupPostCityLocation" maxlength="500">
                                            <div class="invaild">
                                                <div class="invalid-feedback">
                                                    <span asp-validation-for="@Model.CrMasSupPostCityLocation" class="text-danger"></span>
                                                    <span class="text-danger" id="CrMasSupPostCityLocation-Error"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <label for="Longitude" class="form-label">
                                                @localizer["the_Longitude"]
                                            </label>
                                            <input type="number" class="form-control inputs" asp-for="CrMasSupPostCityLongitude" step="0.01" max="999999999.99">
                                            <div class="invaild">
                                                <div class="invalid-feedback">
                                                    <span asp-validation-for="@Model.CrMasSupPostCityLongitude" class="text-danger"></span>
                                                    <span class="text-danger" id="CrMasSupPostCityLongitude-Error"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="latitude" class="form-label">
                                                @localizer["the_Latitude"]
                                            </label>
                                            <input type="number" class="form-control inputs" asp-for="CrMasSupPostCityLatitude" step="0.01" max="999999999.99">
                                            <div class="invaild">
                                                <div class="invalid-feedback">
                                                    <span asp-validation-for="@Model.CrMasSupPostCityLatitude" class="text-danger"></span>
                                                    <span class="text-danger" id="CrMasSupPostCityLatitude-Error"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="rental-system-number" class="form-label">@localizer["RentalSystemCode"]</label>
                                            <input type="tel" disabled class="form-control inputs number-input" id="CrMasSupPostCityNaqlCode" maxlength="10" oninput="validateNumberLength(this)">
                                            <div class="invaild">
                                                <div class="invalid-feedback">
                                                    <span  class="text-danger"></span>
                                                    <span class="text-danger" id="CrMasSupPostCityNaqlCode-Error"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="rental-system-pin" class="form-label">@localizer["RentalSystemNo"]</label>
                                            <input type="tel" disabled class="form-control number-input inputs" id="CrMasSupPostCityNaqlId" maxlength="10" oninput="validateNumberLength(this)">
                                            <div class="invaild">
                                                <div class="invalid-feedback">
                                                    <span  class="text-danger"></span>
                                                    <span class="text-danger" id="CrMasSupPostCityNaqlId-Error"></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row ">
                                        <div class="col-lg-12">
                                            <label>@localizer["Reason_s"]</label>
                                            <textarea class="form-control textarea-inputs" asp-for="CrMasSupPostCityReasons" rows="1" maxlength="100" type="text"></textarea>
                                            <div class="invaild">
                                                <div class="invalid-feedback">
                                                    <span asp-validation-for="@Model.CrMasSupPostCityReasons" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/toastr.js"></script>

    <script>
        function validateNumberInput(input) {
            input.value = input.value.replace(/\D/g, ''); // استبدال كل الأحرف غير الرقمية
        }
    </script>
    <script>
        $(document).ready(function () {

            // This To Focus On input when page load
            if ('@requestCulture?.RequestCulture.UICulture.Name' == "en-US") {
                $("#CrMasSupPostCityEnName").focus();
            }
            else {
                $("#CrMasSupPostCityArName").focus();
            }
            //////////////////////////////////////////


            function Check_onChange_input(existName, dataField) {
                $.ajax({
                    type: "GET",
                    url: "/MAS/PostCity/CheckChangedField",
                    data: { existName: existName, dataField: dataField },
                    success: function (result) {
                        console.log("feedback", result);
                        // Hide all previous error messages
                        $('.invalid-feedback').show();

                        // Show new error messages if they exist
                        if (result.errors && result.errors.length > 0) {
                            result.errors.forEach(function (error) {
                                // Use the ID from the error object to find the correct element
                                $(`#${error.field}-Error`).text(error.message).show();
                            });
                        } else {
                            // Hide the error message if no errors
                            $(`#${existName}-Error`).text("");
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }


            $('#CrMasSupPostCityArName').on('change', function () {
                var newValue = $(this).val();
                console.log("newValue", newValue)
                Check_onChange_input('CrMasSupPostCityArName', newValue);
            });

            $('#CrMasSupPostCityEnName').on('change', function () {
                var newValue = $(this).val();
                Check_onChange_input('CrMasSupPostCityEnName', newValue);
            });

            $('#CrMasSupPostCityNaqlCode').on('change', function () {
                var newValue = $(this).val();
                Check_onChange_input('CrMasSupPostCityNaqlCode', newValue);
            });

            $('#CrMasSupPostCityNaqlId').on('change', function () {
                var newValue = $(this).val();
                Check_onChange_input('CrMasSupPostCityNaqlId', newValue);
            });
        });

    </script>
}