@using Bnan.Core.Extensions
@using Bnan.Ui.ViewModels.CAS

@model TaxOwed_VM
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
       ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}"; 
    ViewData["Page-title"] = @localizer["TaxValues_Dues Data"];
    ViewData["Page-Hint"] = @localizer["TaxValues_Dues Hint"];
}

<style>
    body {
        overflow: hidden
    }

    @@media (max-width: 600px) {
        #basic-datatable1_wrapper .row:first-child > div {
            text-align: left;
            overflow: scroll;
            text-overflow: ellipsis;
        }

            #basic-datatable1_wrapper .row:first-child > div:last-child > * {
                text-align: right;
                overflow: hidden;
                text-overflow: ellipsis;
            }
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #f9f9f9;
    }

    .table-hover tbody tr:hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }

    /*     td,th {
                text-align: center;
            } */

    #_Nc {
        text-align: center;
    }

</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
@*<link href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />*@
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


@*<link href="~/BranchSys/Pages/css/mixed_style.css" rel="styleSheet" />*@


@if (requestCulture.RequestCulture.UICulture.Name == "en-US")
{
    @*<link href="~/BranchSys/Pages/css/English_style.css" rel="styleSheet" />*@
    <style>
        .modal-dialog {
            max-width: 610px;
            margin: 2rem auto;
            margin-left: 625px;
            margin-top: 140px;
        }

        .col-md-7 {
            width: 300px;
        }

        .col-md-5 {
            width: 200px;
        }

        .Direction_Page {
            direction: rtl;
        }

        .d-flex {
            gap: 15px;
            display: flex;
            -webkit-align-items: 0;
        }

        .mgCenter {
            margin-left: 185px;
        }

        #SalesPointLessorInformationSigntureImage {
            position: absolute;
            top: 39%;
            left: 50%;
        }

        .t_mar {
        @*margin: 35px;*@ margin-right: 20px;
        @*margin-top: 5px;*@
        }

        .col-md-label5 {
            /*width: 28.75%;*/
            width: 140px;
            height: 30px;
        }

        .col-md-input5 {
            width: 250px;
            margin-top: -8px;
            height: 30px;
        }

        .col-md-label10 {
            /*width: 28.75%;*/
            width: 80px;
            height: 30px;
        }

        .col-md-input10 {
            width: 310px;
            margin-top: -8px;
            height: 30px;
        }

        #Date_cusor2 {
            margin-right: 13px;
            direction: rtl;
        }
    </style>
}
else
{
    @*<link href="~/BranchSys/Pages/css/style.css" rel="styleSheet" />*@

    <style>
        .modal-dialog {
            max-width: 480px;
            margin: 2rem auto;
            margin-left: 625px;
            margin-top: 140px;
        }

        .col-md-7 {
            width: 270px;
        }

        .col-md-5 {
            width: 150px;
        }

        .Direction_Page {
            direction: ltr;
        }

        .d-flex {
            gap: 15px;
            display: flex;
            -webkit-align-items: 0;
        }

        .mgCenter {
            margin-right: 148px;
        }

        #SalesPointLessorInformationSigntureImage {
            position: absolute;
            top: 39%;
            right: 50%;
        }

        .t_mar {
        @*margin: 35px;*@ margin-left: 20px;
        @*margin-top: 5px;*@
        }

        .col-md-label5 {
            /*width: 28.75%;*/
            width: 90.5px;
            height: 30px;
        }

        .col-md-input5 {
            width: 300px;
            margin-top: -8px;
            height: 30px;
        }

        .col-md-label10 {
            /*width: 28.75%;*/
            width: 75px;
            height: 30px;
        }

        .col-md-input10 {
            width: 315px;
            margin-top: -8px;
            height: 30px;
        }

        #Date_cusor2 {
            margin-left: 13px;
            direction:ltr;
        }
    </style>
}

<div class="sub-container">
    <div class="container-fluid">

        <div class="" id="CAS" style="height:540px;width:1667px;margin-inline-start:10px;">
            @*<form class="needs-validation" novalidate asp-area="CAS" asp-controller="TaxOwed" asp-action="AddPaymentTaxValues" method="post">*@
            <div  >
                <div style="height:500px">
                    @*Document Code*@
                    <div class="row mt-2" hidden>
                        <div class="col-md-4">
                            @*<input type="text" class="form-control" readonly asp-for="CrMasUserInformationLessor" />
                            <input type="text" class="form-control" readonly asp-for="CrMasUserInformationDefaultBranch" />
                            <input type="text" class="form-control" readonly asp-for="CrMasUserInformationCode" />*@
                        </div>
                    </div>
                    @*Tax_No*@
                    <div class="row mt-2">
                        @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                        {
                            <div class="col-md-1 formlabel" style="margin-top:7px;width:135px">
                                <label class="form-label">@localizer["TaxOwed_pay_Add_no_new"]</label>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-1 formlabel" style="margin-top:6px;width:135px">
                                <label class="form-label">@localizer["TaxOwed_pay_Add_no_new"]</label>
                            </div>
                        }
                        <div class="col-md-2 col-11">
                            <input type="text" class="form-control" id="New_TaxOwed_Tax_no" value="@Model.New_TaxOwed_Tax_no" readonly>
                            @*@if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                            {
                                <input type="text" class="form-control" asp-for="CrMasUserInformationArName" readonly>
                            }
                            else
                            {
                                <input type="text" class="form-control" asp-for="CrMasUserInformationEnName" readonly>
                            }*@
                        </div>
                    </div>
                    @*DateTime Inputs*@
                    <div class="row mt-2" id="DateInputs" style="display:flex;gap: 15px;-webkit-flex-item-align:center;height:45px;">
                        <div class="col-md-1 formlabel" style="margin-top:7px;width:113px">
                            <label class="form-label">@localizer["TaxOwed_pay_Add_Date_new"]</label>
                        </div>

                        <div class="dateRelative col-md-5 col-11" style="display:grid;width:220px;height:40px;">
                            <input type="text" class="form-control " id="endDateInput" name="endDateInput" style="grid-column: 1;grid-row: 1;width:220px;" />
                            <i class="dripicons-calendar" id="Date_cusor2" style="cursor:pointer; grid-column: 1;grid-row: 1;  margin-top:10px; "></i>
                        </div>
                        @*<div style="width:50px;">

                            <a class="btn btn-primary" id="GetAllCheckBox_Checked" onclick="GetAllCheckBox_Checked()">
                                <i class="mdi mdi-search-web"></i>
                            </a>
                        </div>*@
                    </div> @*End row*@
                    @*year Select*@
                    <div class="row mt-2">
                        @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                        {
                            <div class="col-md-1 formlabel" style="margin-top:7px;width:125px">
                                <label class="form-label">@localizer["TaxOwed_pay_Add_year"]</label>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-1 formlabel" style="margin-top:6px;width:128px">
                                <label class="form-label">@localizer["TaxOwed_pay_Add_year"]</label>
                            </div>
                        }
                        @{
                            //var thisYear = DateTime.Now.Year;
                            var thisYear = ViewBag.firstYear;
                            var lastYear = ViewBag.lastYear;                                                                  
                        }
                        <div class="col-md-2 col-11">
                            <select class="form-select" id="year_select" onchange="GetReportFitlerDate()">
                                @for (int year = thisYear; year <= lastYear; year += 1)
                                {
                                    <option id="@year" value="@year">@year</option>
                                }
                            </select>
                        </div>
                    </div>
                    @*Quarter Select*@
                    <div class="row mt-2">
                        @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                        {
                            <div class="col-md-1 formlabel" style="margin-top:7px;width:125px">
                                <label class="form-label">@localizer["TaxOwed_pay_Add_Quarter"]</label>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-1 formlabel" style="margin-top:6px;width:128px">
                                <label class="form-label">@localizer["TaxOwed_pay_Add_Quarter"]</label>
                            </div>
                        }
                        @{
                        }
                        <div class="col-md-2 col-11">
                            <select class="form-select" id="Quarter_select" onchange="GetReportFitlerDate()">
                                <option id="1" value="1">@localizer["quarter_int1"]</option>
                                <option id="2" value="2">@localizer["quarter_int2"]</option>
                                <option id="3" value="3">@localizer["quarter_int3"]</option>
                                <option id="4" value="4">@localizer["quarter_int4"]</option>
                            </select>
                        </div>
                    </div>
                    @*Invoices_Count*@
                    <div class="row mt-2">
                        @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                        {
                            <div class="col-md-1 formlabel" style="margin-top:7px;width:135px">
                                <label class="form-label">@localizer["TaxOwed_pay_Invoices_Count"]</label>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-1 formlabel" style="margin-top:6px;width:135px">
                                <label class="form-label">@localizer["TaxOwed_pay_Invoices_Count"]</label>
                            </div>
                        }
                        <div class="col-md-2 col-11">
                            <input type="text" class="form-control" id="invoices_Count" name="invoices_Count" value="@Model.invoices_Count" readonly>
                        </div>
                    </div>
                    @*AllInvoices_Value*@
                    <div class="row mt-2">
                        @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                        {
                            <div class="col-md-1 formlabel" style="margin-top:7px;width:225px">
                                <label class="form-label">@localizer["TaxOwed_pay_Add_AllInvoices_Value_new"]</label>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-1 formlabel" style="margin-top:6px;width:205px">
                                <label class="form-label">@localizer["TaxOwed_pay_Add_AllInvoices_Value_new"]</label>
                            </div>
                        }
                        <div class="col-md-2 col-11">
                            <input type="text" class="form-control" id="Add_AllInvoices_Value_new" name="Add_AllInvoices_Value_new" value="@Model.Add_AllInvoices_Value_new" readonly>
                        </div>
                    </div>
                    @*Percentage_OfTax*@
                    <div class="row mt-2">
                        @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                        {
                            <div class="col-md-1 formlabel" style="margin-top:7px;width:135px">
                                <label class="form-label">@localizer["TaxOwed_pay_Add_Percentage_OfTax"]</label>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-1 formlabel" style="margin-top:6px;width:135px">
                                <label class="form-label">@localizer["TaxOwed_pay_Add_Percentage_OfTax"]</label>
                            </div>
                        }
                        <div class="col-md-2 col-11">
                            <input type="text" class="form-control" id="Add_Percentage_OfTax" name="Add_Percentage_OfTax" value="@Model.Add_Percentage_OfTax" readonly>
                        </div>
                    </div>
                    @*Amount_will_Pay*@
                    <div class="row mt-2">
                        @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                        {
                            <div class="col-md-1 formlabel" style="margin-top:7px;width:135px">
                                <label class="form-label">@localizer["TaxOwed_pay_Add_AllValue_OfTax"]</label>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-1 formlabel" style="margin-top:6px;width:135px">
                                <label class="form-label">@localizer["TaxOwed_pay_Add_AllValue_OfTax"]</label>
                            </div>
                        }
                        <div class="col-md-2 col-11">
                            <input type="text" class="form-control" id="Total_TaxValue" name="Total_TaxValue" value="@Model.Total_TaxValue" readonly>
                        </div>
                    </div>         
                    @*Reasons*@
                    <div class="row mt-2">
                        <div class="col-md-1 formlabel" style="margin-top:7px;width:125px">
                            <label class="form-label">@localizer["reasons"]</label>
                        </div>
                        <div class="col-md-5 col-11">
                            <input type="text" class="form-control" id="Reasons" name="Reasons" autocomplete="off" maxlength="100" style="width:500px;">
                        </div>
                    </div>

                    @*<div class="dataTable " style="height:240px;margin-top:15px;margin-inline-end:12px;">
                        <partial name="_DataTablePaymentTaxValues" />
                    </div>*@
                </div>


            </div>
        </div>
        <div style="margin-top:-15px">
            @*<button class='btn btn-primary' type="submit" >@localizer["Save"]</button>*@
            <button class='btn btn-primary' onclick="GetAllCheckBox_Checked()">@localizer["Save"]</button>
            <a type="button" class="btn btn-danger ms-2" title="@localizer["Back"]" asp-area="CAS" asp-controller="TaxOwed" asp-action="Index">
                @localizer["Back"]
            </a>
        </div>
    </div>
</div>




<style>
    .wrapper {
        margin-bottom: 60px;
        overflow: hidden;
        background-image: url("~/Pictures/bg.jpg") !important;
    }

    .table-bordered td,
    .table-bordered th {
        border: none;
    }
</style>


@section scripts {


    @*Get AccountBank Using filter*@

    <script>
        $(document).ready(function () {
            var today = new Date();
            var startDate = new Date();
            var EndDate = new Date();
            startDate.setDate(today.getDate() - 30);


            var startDates = $("startDateInput").val();
            var StartformattedDate = new Date(startDates);

            var EndDates = $("endDateInput").val();
            var EndformattedDate = new Date(EndDates);


            if (!StartformattedDate || StartformattedDate === "") {
                StartformattedDate = today; // Set date to today if it's empty or null
            }
            if (!EndformattedDate || EndformattedDate === "") {
                EndformattedDate = today; // Set date to today if it's empty or null
            }




            $("#startDateInput").datepicker({
                dateFormat: 'yy/mm/dd',
                defaultDate: startDate, // Set the minimum date to today
                maxDate: today,
            }).datepicker("widget").addClass("datepicker-widget");
            $("#startDateInput").datepicker("setDate", startDate);
            $("#startDateInput").click(function () {
                $(this).datepicker("show");
            });

            $("#endDateInput").datepicker({
                dateFormat: 'yy/mm/dd',
                defaultDate: today,// Set the minimum date to today
                maxDate: today,
            }).datepicker("widget").addClass("datepicker-widget");
            $("#endDateInput").datepicker("setDate", today);
            $("#endDateInput").click(function () {
                $(this).datepicker("show");
            });

            $("#Date_cusor1").click(function () {
                $(this).prevAll('input').datepicker("show");
            });

            $("#Date_cusor2").click(function () {
                $(this).prevAll('input').datepicker("show");
            });

        });
    </script>

    <script>
        function GetAllCheckBox_Checked() {
            yourArray = [];
            //// return list of All CheckBoxes Has Checked
            //$("input:checkbox[name=Contracts_checked]:checked").each(function () {
            //    yourArray.push($(this).val());              
            //});
            console.log(yourArray);
            var pay_date = document.getElementById("endDateInput").value;
            var reasons = document.getElementById("Reasons").value;
            var Total_Money = document.getElementById("Add_AllInvoices_Value_new").value;
            var Serial_pay = document.getElementById("New_TaxOwed_Tax_no").value;
            var year = $("#year_select").find(':selected').val();
            var quarter = $("#Quarter_select").find(':selected').val();

            console.log(year)
            console.log(quarter)
            var postData = { values: yourArray, year: year, quarter: quarter, pay_date: pay_date, reasons: reasons, Total_Money: Total_Money, Serial_pay: Serial_pay };

            //var array = []
            //var checkboxes = document.querySelectorAll('input[type=checkbox]:checked')
            //// return list of All CheckBoxes Has Checked
            //for (var i = 0; i < checkboxes.length; i++) {
            //    array.push(checkboxes[i].value);
            //}
            //console.log(array);
            //var postData = { values: yourArray };
            $.ajax({
                type: "Post",
                data: postData,
                url: "@Url.Action("AddPaymentTaxValues", "TaxOwed", new { Area = "CAS" })",
                success: function (response) {
                    console.log(response);
                    console.log("response success");
                    if (response.code === 1) {
                        //window.location = 'yourloginpage.html'
                        location.href = '@Url.Action("SuccessToast", "TaxOwed")?';
                    }
                    else if (response.code === 0) {
                        //@*location.href = '@Url.Action("No_Fatoura_Data_FailedToast", "TaxOwed")?';*@
                        toastr.options = { "positionClass": '@localizer["toastPostion"]', };
                        toastr.error('@localizer["No_Fatoura_Data_FailedToast"]');
                    }
                    else if (response.code === 2) {
                        //@*location.href = '@Url.Action("Fatoura_Quarter_IsPaidBefore_FailedToast", "TaxOwed")?';*@
                        toastr.options = { "positionClass": '@localizer["toastPostion"]', };
                        toastr.error('@localizer["Fatoura_Quarter_IsPaidBefore_FailedToast"]');
                    }
                    //$("#FromAccountNo").val(response.accountIban);
                    //@*if ("@requestCulture?.RequestCulture.UICulture.Name" == "ar-EG") {*@
                    //    $("#FromBank").val(response.bankNo);
                    //    $("#FromBankk").val(response.arBank);
                    //}
                    //else {
                    //    $("#FromBank").val(response.bankNo);
                    //    $("#FromBankk").val(response.arBank);

                    //}
                },
            })
        };
    </script>
    
    <script>
        //get AccountBank By Status function
        function GetReportFitlerDate() {
            var year = $("#year_select").find(':selected').val();
            var quarter = $("#Quarter_select").find(':selected').val();

            console.log(year)
            console.log(quarter)


            // Clear the value from the search input
            $("#top-search").val("");

            $.ajax({
                type: "GET",
                data: {
                    year: year,
                    quarter: quarter,
                },
                url: "@Url.Action("GetAllContractsForAddwithQuarter", "TaxOwed", new { Area = "CAS" })",
                success: function (response) {
                    $("#Add_AllInvoices_Value_new").val(response.allInvoices_Value_new);
                    $("#Add_Percentage_OfTax").val(response.percentage_OfTax +" %");
                    $("#Total_TaxValue").val(response.total_TaxValue);
                    $("#invoices_Count").val(response.invoices_Count);                    

                    //$(".dataTable").html(response);
                    //set_basic_datatable();
                },
            })
        }


        
    </script>

    <script>
        //function AddToAmount(x){
        //    let Amount_will_Pay = document.getElementById("Amount_will_Pay");
        //    //let num2 = parseFloat("10.547892").toFixed(2)
        //    let Amount_will = parseFloat(Amount_will_Pay.value) + parseFloat(x);
        //    return Amount_will.toFixed(2);
        //};
        //function MinusFromAmount(x) {
        //    let Amount_will_Pay = document.getElementById("Amount_will_Pay");
        //    //let num2 = parseFloat("10.547892").toFixed(2)
        //    let Amount_will = parseFloat(Amount_will_Pay.value) - parseFloat(x);
        //    return Amount_will.toFixed(2);

        //};

        //function CheckBoxClicked(e) {
        //    let Amount_will_Pay = document.getElementById("Amount_will_Pay");
        //    if (e.checked) {
        //        var values = e.id;
        //        let newVal = AddToAmount(values);
        //        Amount_will_Pay.value = newVal
        //        console.log(newVal);
        //    } 
        //    else {
        //        var values = e.id;
        //        let newVal = MinusFromAmount(values);
        //        Amount_will_Pay.value = newVal
        //        console.log("No Value");
        //    }
        //};
    </script>
}
