@using Bnan.Core.Extensions
@model CountryClassificationVM
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
<table class=" tables-style table table-borderless " id="Table">
    <thead class="sticky-top">
        <tr>
            <th>@localizer["Count_countries"]</th>
            <th class="DifferAlign"> @localizer["CountryClassificationName_view"]</th>
            <th class="DifferAlign"> @localizer["the_Code"]</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int no = 1;
        }
        @foreach (var item in Model.Countries)
        {
            <tr onclick="location.href='@Url.Action("Edit", "CountryClassification", new { id = item.CrMasLessorCountryClassificationCode })';">
                <td><p>@(Model.Country_count?.Find(x => x.Column.ToString() == item.CrMasLessorCountryClassificationCode?.Trim())?.RowCount.ToString("N0") ?? "0")</p></td>
                <td class="DifferAlign">
                    <p>
                        @(requestCulture?.RequestCulture.UICulture.Name == "en-US" ? item.CrMasLessorCountryClassificationEnName : item.CrMasLessorCountryClassificationArName)
                    </p>
                </td>
                <td class="DifferAlign">
                    <p>@item.CrMasLessorCountryClassificationCode</p>
                </td>
                <td>
                    <div class="filter-number-td">
                        @{
                            var filterColor = "";
                            if (item.CrMasLessorCountryClassificationStatus == Status.Active) filterColor = "filter2-div";
                            else if (item.CrMasLessorCountryClassificationStatus == Status.Hold) filterColor = "filter1-div";
                            else if (item.CrMasLessorCountryClassificationStatus == Status.Deleted) filterColor = "filter3-div";
                        }
                        <div class="filters @filterColor"></div>
                        <div>@no</div>
                    </div>
                </td>
            </tr>
            no++;
        }

    </tbody>
</table>
