@using Bnan.Ui.ViewModels.CAS
@using Bnan.Core.Extensions
@model CAS_AccountBankVM
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
<table class=" tables-style table table-borderless " id="Table">
    <thead class="sticky-top">
        <tr>
            @*<th>@localizer["AccountBank_CASCount"]</th>*@
            <th> @localizer["AccountBankSalesCount"]</th>
            <th class="DifferAlign"> @localizer["BankNameArAccount"]</th>
            <th class="DifferAlign"> @localizer["AccountBankName"]</th>
            <th class="DifferAlign"> @localizer["AccountBankCode"]</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int no = 1;
        }
        @foreach (var item in Model.list_CrCasAccountBank)
        {
            <tr onclick="location.href='@Url.Action("Edit", "AccountBank_CAS", new { id = item.CrCasAccountBankCode })'">

                <td>
                    <p>@(Model.all_SalesPointsCount?.Find(x => x.Column?.ToString()?.Trim() == item.CrCasAccountBankCode)?.RowCount.ToString("N0") ?? "0")</p>
                </td>
                <td class="DifferAlign">
                    <p>@(requestCulture?.RequestCulture.UICulture.Name == "en-US" ? Model.all_BanksName?.Find(x => x.CrMasSupAccountBankCode == item?.CrCasAccountBankNo)?.CrMasSupAccountBankEnName : Model.all_BanksName?.Find(x => x.CrMasSupAccountBankCode == item?.CrCasAccountBankNo)?.CrMasSupAccountBankArName)</p>
                </td>
                <td class="DifferAlign">
                    <p>@(requestCulture?.RequestCulture.UICulture.Name == "en-US" ? item.CrCasAccountBankEnName : item.CrCasAccountBankArName)</p>
                </td>

                <td class="DifferAlign">
                    <p>
                        @(item.CrCasAccountBankIban)
                    </p>
                </td>
                @*<td class="DifferAlign">
                    <p class="FirstLineP"> </p>
                    <p class="secondLineP"> @item.CrCasAccountBankCode </p>
                </td>*@

                <td>
                    <div class="filter-number-td">
                        @{
                            var filterColor = "";
                            if (item.CrCasAccountBankStatus == Status.Active) filterColor = "filter2-div";
                            else if (item.CrCasAccountBankStatus == Status.Hold) filterColor = "filter1-div";
                            else if (item.CrCasAccountBankStatus == Status.Deleted) filterColor = "filter3-div";
                        }
                        <div class="filters @filterColor"></div>
                        <div>@no</div>
                    </div>
                </td>
            </tr>
            no++;
        }

    </tbody>
</table>
