@using Bnan.Ui.ViewModels.MAS
@using Bnan.Core.Extensions
@model ContractCarCheckupVM

@inject IViewLocalizer localizer
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
<link href="~/css/toastr.css" rel="stylesheet" />


<div class="col my-2 d-flex align-items-center justify-content-center">
    <div class="container NewUpdate-container">
        <form asp-area="MAS" asp-controller="ContractCarCheckup" asp-action="Edit" class="needs-validation" novalidate>
            <input hidden asp-for="CrMasSupContractCarCheckupCode" />
            <input hidden asp-for="CrMasSupContractCarCheckupStatus" />
            <input hidden asp-for="CrMasSupContractCarCheckupArName" />
            <input hidden asp-for="CrMasSupContractCarCheckupEnName" />
            <div class="row mt-3 g-3">

                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <div class="row g-3 my-2">
                            <div class="col">
                                <h3>@localizer["Edit_ContractCarCheckup_PageTitle"]</h3>
                            </div>
                            <div class="col-md-auto save-col btnsContainer">
                                <button type="submit" class="custom-img-btn" id="SaveEdit">
                                    <img src="~/MasSystem/images/save.svg" />
                                </button>
                                <button type="button" class="custom-img-btn" id="HoldBtn" data-bs-toggle="modal" data-bs-target="#Stop-Modal">
                                    <img id="StopModalIcon" src="~/MasSystem/images/stop.svg" />
                                </button>
                                <button type="button" class="custom-img-btn" id="DeleteBtn" data-bs-toggle="modal" data-bs-target="#Delete-Modal">
                                    <img id="modalIcon" src="~/MasSystem/images/delete.svg" />
                                </button>
                                <button type="button" class="custom-img-btn"> <a href="/MAS/ContractCarCheckup/Index"><img class="Chevron" src="~/MasSystem/images/Chevron_Left.svg" /></a></button>
                            </div>
                        </div>

                        <div class="container-fluid">
                            <div class="row g-3 mt-3">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p class="DataTitle">@localizer["the_Code"]</p>
                                                </div>
                                                <div class="col-auto ">
                                                    <p class="Saved-data">@Model.CrMasSupContractCarCheckupCode</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <label for="AR-Licence" class="form-label">
                                                @localizer["ContractCarCheckupNameAr_edit"]
                                                <i class="fa-solid fa-star-of-life RequirdStar"></i>
                                            </label>
                                            <div class="col-auto ">
                                                <p class="Saved-data">@Model.CrMasSupContractCarCheckupArName</p>
                                            </div>
                                            @*<input type="text" asp-for="CrMasSupContractCarCheckupArName" id="CrMasSupContractCarCheckupArName" maxlength="50" class="form-control inputs arabic-input" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')" autoComplete="off" required>*@
                                            @*<div class="invaild">
                                                <div class="invalid-feedback">
                                                    <span asp-validation-for="@Model.CrMasSupContractCarCheckupArName" class="text-danger"></span>
                                                    <span class="text-danger" id="CrMasSupContractCarCheckupArName-Error"></span>
                                                </div>
                                            </div>*@
                                        </div>
                                        <div class="col-md-6">
                                            <label for="EN-Licence" class="form-label">
                                                @localizer["ContractCarCheckupNameEn_edit"]
                                                <i class="fa-solid fa-star-of-life RequirdStar"></i>
                                            </label>
                                            <div class="col-auto ">
                                                <p class="Saved-data">@Model.CrMasSupContractCarCheckupEnName</p>
                                            </div>
                                            @*<input type="text" class="form-control inputs english-input" asp-for="CrMasSupContractCarCheckupEnName" maxlength="50" id="CrMasSupContractCarCheckupEnName" oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, '')" autoComplete="off" required>*@
                                            @*<div class="invaild">
                                                <div class="invalid-feedback">
                                                    <span asp-validation-for="@Model.CrMasSupContractCarCheckupEnName" class="text-danger"></span>
                                                    <span class="text-danger" id="CrMasSupContractCarCheckupEnName-Error"></span>
                                                </div>
                                            </div>*@
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="rental-system-number" class="form-label">@localizer["RentalSystemCode"]</label>
                                            <input disabled type="text" class="form-control inputs number-input" id="CrMasSupContractCarCheckupNaqlCode" id="CrMasSupContractCarCheckupNaqlCode" maxlength="10" oninput="validateNumberLength(this)">
                                            <div class="invaild">
                                                <div class="invalid-feedback">
                                                    <span class="text-danger"></span>
                                                    <span class="text-danger" id="CrMasSupContractCarCheckupNaqlCode-Error"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="rental-system-pin" class="form-label">@localizer["RentalSystemNo"]</label>
                                            <input type="text" disabled class="form-control number-input inputs" id="CrMasSupContractCarCheckupNaqlId" maxlength="10" oninput="validateNumberLength(this)">
                                            <div class="invaild">
                                                <div class="invalid-feedback">
                                                    @*<span asp-validation-for="@Model.CrMasSupContractCarCheckupNaqlId" class="text-danger"></span>
                                                    <span class="text-danger" id="CrMasSupContractCarCheckupNaqlId-Error"></span>*@
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row ">
                                        <div class="col-lg-12">
                                            <label>@localizer["Reason_s"]</label>
                                            <textarea class="form-control textarea-inputs" asp-for="CrMasSupContractCarCheckupReasons" rows="1" maxlength="100" type="text"></textarea>
                                            <div class="invaild">
                                                <div class="invalid-feedback">
                                                    <span asp-validation-for="@Model.CrMasSupContractCarCheckupReasons" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row g-3">
                                                <div class="col-auto col-md-4">
                                                    <div class="dropzone-Card">
                                                        <div class="drop-zone">
                                                            <div class="layer" style="display: none;">
                                                                <i class="fa-regular fa-circle-xmark removeImage"></i>
                                                            </div>
                                                            <span class="drop-zone__prompt">
                                                                <img src="~/MasSystem/images/upload icon.svg" class="mb-3"> <br>@localizer["img_drop_orChoose"]
                                                            </span>
                                                            <input type="file" name="Selected-Addition" class="drop-zone__input">
                                                        </div>
                                                        <div class="fileNameDiv">
                                                            <p class="text-center pt-1 mb-1 fileNameP">@localizer["img_ContractCarCheckup_Chosen"]</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-auto col-md-4 d-flex justify-content-md-center">
                                                    <div class="dropzone-Card">
                                                        <div class="drop-zone">
                                                            <div class="layer" style="display: none;">
                                                                <i class="fa-regular fa-circle-xmark removeImage"></i>
                                                            </div>
                                                            <span class="drop-zone__prompt">
                                                                <img src="~/MasSystem/images/upload icon.svg" class="mb-3"> <br>@localizer["img_drop_orChoose"]
                                                            </span>
                                                            <input type="file" name="Unselected-Addition" class="drop-zone__input">
                                                        </div>
                                                        <div class="fileNameDiv">
                                                            <p class="text-center pt-1 mb-1 fileNameP">@localizer["img_ContractCarCheckup_No_Chosen"]</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-auto col-md-4 d-flex justify-content-md-end">
                                                    <div class="dropzone-Card">
                                                        <div class="drop-zone">
                                                            <div class="layer" style="display: none;">
                                                                <i class="fa-regular fa-circle-xmark removeImage"></i>
                                                            </div>
                                                            <span class="drop-zone__prompt">
                                                                <img src="~/MasSystem/images/upload icon.svg" class="mb-3"> <br>@localizer["img_drop_orChoose"]
                                                            </span>
                                                            <input type="file" name="Ban-Addition" class="drop-zone__input">
                                                        </div>
                                                        <div class="fileNameDiv">
                                                            <p class="text-center pt-1 mb-1 fileNameP">@localizer["img_ContractCarCheckup_Block"]</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- delete modal -->
<div class="modal fade" id="Delete-Modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="Delete-ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border: 1px solid var(--main-color);">
            <div class="content" id="modalContent">
            </div>
            <!-- Hidden spinner  -->
            <div class="modal-body text-center" id="spinner" style="display: none;">
                <span class="State-Modal-loader"></span>
            </div>
        </div>
    </div>
</div>
<!-- Stopp  modal -->
<div class="modal fade" id="Stop-Modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="Stop-ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border: 1px solid var(--main-color);">
            <div class=" content" id="Stop-modal-Content">
            </div>
            <!-- Hidden spinner  -->
            <div class="modal-body text-center" id="spinner2" style="display: none;">
                <span class="State-Modal-loader"></span>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/toastr.js"></script>

    <script>
        function validateNumberInput(input) {
            input.value = input.value.replace(/\D/g, ''); // استبدال كل الأحرف غير الرقمية
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="~/MasSystem/scripts/Scripts.js"></script>
    <script src="~/MasSystem/scripts/DragDropImage.js"></script>
    <!-- Local script -->
    <script>
        function AddThumbnail() {
            document.querySelectorAll(".drop-zone__input").forEach((inputElement) => {
                const dropZoneElement = inputElement.closest(".drop-zone");
                const dropZoneCard = inputElement.closest(".dropzone-Card");
                const layerElement = dropZoneElement.querySelector(".layer");
                const removeImageButton = dropZoneElement.querySelector(".removeImage");
                const fileNameP = dropZoneCard.querySelector(".fileNameP");
                const fileNameDiv = dropZoneCard.querySelector(".fileNameDiv");
                let thumbnailElement = dropZoneElement.querySelector(".drop-zone__thumb");

                let filePath = "";
                let fileName = "";

                switch (inputElement.getAttribute('name')) {
                    case "Selected-Addition":
                        filePath = "~/MasSystem/images/test-image.svg";
                        fileName = "@localizer["img_ContractCarCheckup_Chosen"]";
                        break;
                    case "Unselected-Addition":
                        filePath = "~/MasSystem/images/test-image.svg";
                        fileName = "@localizer["img_ContractCarCheckup_No_Chosen"]";
                        break;
                    case "Ban-Addition":
                        filePath = "~/MasSystem/images/test-image.svg";
                        fileName = "@localizer["img_ContractCarCheckup_Block"]";
                        break;
                }

                // Remove prompt if it exists
                const promptElement = dropZoneElement.querySelector(".drop-zone__prompt");
                if (promptElement) {
                    promptElement.remove();
                }

                // Create thumbnail element if it doesn't exist
                if (!thumbnailElement) {
                    thumbnailElement = document.createElement("div");
                    thumbnailElement.classList.add("drop-zone__thumb");
                    dropZoneElement.appendChild(thumbnailElement);
                    dropZoneElement.style.border = "none";
                }

                // Set file name and background style
                fileNameP.innerHTML = fileName;
                fileNameDiv.style.background = "#39629C";
                thumbnailElement.style.backgroundImage = `url('${filePath}')`;

                // Show layer on mouse enter
                dropZoneElement.addEventListener("mouseenter", () => {
                    if (thumbnailElement.style.backgroundImage) {
                        layerElement.style.display = 'flex';
                    }
                });

                // Hide layer on mouse leave
                dropZoneElement.addEventListener("mouseleave", () => {
                    layerElement.style.display = 'none';
                });

                // Remove thumbnail when clicking the remove icon
                const removeIcon = layerElement.querySelector("i");
                removeIcon.addEventListener("click", () => {
                    thumbnailElement.style.backgroundImage = '';
                    fileNameP.innerHTML = '';
                    fileNameDiv.style.background = '';
                    layerElement.style.display = 'none';
                });
            });
        }

    </script>
    <script>
        // To Handle Background
        $("#wrapper").addClass("Branches-wrapper");
    </script>
    <script>
        // This To Focus On input when page load
        if ('@requestCulture?.RequestCulture.UICulture.Name' == "en-US") {
            $("#CrMasSupContractCarCheckupEnName").focus();
        }
        else {
            $("#CrMasSupContractCarCheckupArName").focus();
        }
        //////////////////////////////////////////
        var statusInput = $("#CrMasSupContractCarCheckupStatus");
        var OldNaqlId = $("#CrMasSupContractCarCheckupNaqlId").val();
        var OldNaqlCode = $("#CrMasSupContractCarCheckupNaqlCode").val();
        var OldArName = $("#CrMasSupContractCarCheckupArName").val();
        var OldEnName = $("#CrMasSupContractCarCheckupEnName").val();
        var OldCode = $("#CrMasSupContractCarCheckupCode").val();
        

        function Check_onChange_input(existName, dataField, oldValue) {
            //get the old value
            if (dataField === oldValue) {
                // Clear any existing error message if the values match
                $(`#${existName}-Error`).hide();
                return;
            }

            $.ajax({
                type: "GET",
                url: "/MAS/ContractCarCheckup/CheckChangedField",
                data: { existName: existName, dataField: dataField },
                success: function (result) {
                    console.log("feedback", result);
                    // Hide all previous error messages
                    $('.invalid-feedback').show();

                    // Show new error messages if they exist
                    if (result.errors && result.errors.length > 0) {
                        result.errors.forEach(function (error) {
                            // Use the ID from the error object to find the correct element
                            $(`#${error.field}-Error`).text(error.message).show();
                        });
                    } else {
                        // Hide the error message if no errors
                        $(`#${existName}-Error`).text("");
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        // Example usage for Code input
        $('#CrMasSupContractCarCheckupCode').on('change', function () {
            var newValue = $(this).val();
            Check_onChange_input('CrMasSupContractCarCheckupCode', newValue, OldCode);
        });
        // Example usage for Arabic Name input
        $('#CrMasSupContractCarCheckupArName').on('change', function () {
            var newValue = $(this).val();
            Check_onChange_input('CrMasSupContractCarCheckupArName', newValue, OldArName);
        });

        // Example usage for English Name input
        $('#CrMasSupContractCarCheckupEnName').on('change', function () {
            var newValue = $(this).val();
            Check_onChange_input('CrMasSupContractCarCheckupEnName', newValue, OldEnName);
        });

        // Example usage for Naql Code input
        $('#CrMasSupContractCarCheckupNaqlCode').on('change', function () {
            var newValue = $(this).val();
            Check_onChange_input('CrMasSupContractCarCheckupNaqlCode', newValue, OldNaqlCode);
        });

        // Example usage for Naql ID input
        $('#CrMasSupContractCarCheckupNaqlId').on('change', function () {
            var newValue = $(this).val();
            Check_onChange_input('CrMasSupContractCarCheckupNaqlId', newValue, OldNaqlId);
        });
    </script>
    <script>
        function updateContractCarCheckupStatus(status) {
            var code = document.getElementById("CrMasSupContractCarCheckupCode").value;
            return new Promise((resolve, reject) => {
                $.ajax({
                    type: "POST",
                    url: "/MAS/ContractCarCheckup/EditStatus",
                    data: { status: status, code: code },
                    success: function (result) {
                        toastr.options = { "positionClass": "@localizer["toastPostion"]" };

                        if (result == "true") {
                            //@*toastr.success("@localizer["ToastSave"]");*@
                            resolve(true);
                        } else if (result == "false_auth") {
                            toastr.error("@localizer["AuthEmplpoyee_No_auth"]");
                            resolve(false);
                        } else if (result == "udelete") {
                            toastr.error("@localizer["SureTo_Cannot_delete"]");
                            resolve(false);
                        } else {
                            toastr.error("@localizer["ToastFailed"]");
                            resolve(false);
                        }
                    },
                    error: function () {
                        toastr.error("@localizer["ToastFailed"]");
                        resolve(false);
                    }
                });
            });
        }
    </script>
    <script>
        let isDeleted = false;
        let isStoped = false
        if (statusInput.val() == '@Status.Hold') {
            isDeleted = false;
            isStoped = true
        }
        else if (statusInput.val() == '@Status.Deleted') {
            isDeleted = true;
            isStoped = false
        }

        window.onload = () => {
            DeleteState(isDeleted);
            AddThumbnail();
            StopState(isStoped);
        };

        function DeleteState(deleted) {
            isDeleted = deleted;

            document.getElementById("modalContent").style.display = "block";
            document.getElementById("modalIcon").src = isDeleted
                ? "/MasSystem/images/Property 1=recycle.svg"
                : "/MasSystem/images/delete.svg";

            document.getElementById("modalContent").innerHTML = isDeleted
                ? `
                                                            <div class="modal-header border-0">
                                                              <h1 class="modal-title fs-4 m-auto d-flex align-items-start gap-2" id="Delete-ModalLabel">
                                                                <img src="/MasSystem/images/Green-recycle.svg" /> @localizer["SureToRetriveDelete"]
                                                              </h1>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>@localizer["ModalFirstMessage_ContractCarCheckup_UnDelete"]</p>
                                                                <p>@localizer["ModalSecondMessage_ContractCarCheckup_UnDelete"]</p>
                                                            </div>
                                                            <div class="modal-footer border-0">
                                                              <div class="container">
                                                                <div class="row">
                                                                  <div class="col-md-6 text-center">
                                                                    <button type="button" class="btn btn-modal-Save" id="RetriveBtn" onclick="DeleteLoad()">@localizer["Okay"]</button>
                                                                  </div>
                                                                  <div class="col-md-6 text-center">
                                                                    <button type="button" class="btn btn-Cancel" data-bs-dismiss="modal">@localizer["Cancel"]</button>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>`
                : `
                                                            <div class="modal-header border-0">
                                                              <h1 class="modal-title fs-4 m-auto d-flex align-items-start gap-2" id="Delete-ModalLabel">
                                                                <img src="/MasSystem/images/delete (2).svg" /> @localizer["SureTodelete"]
                                                              </h1>
                                                            </div>
                                                            <div class="modal-body">
                                                                        <p>@localizer["ModalFirstMessage_ContractCarCheckup_Delete"]</p>
                                                                        <p>@localizer["ModalSecondMessage_ContractCarCheckup_Delete"]</p>
                                                            </div>
                                                            <div class="modal-footer border-0">
                                                              <div class="container">
                                                                <div class="row">
                                                                  <div class="col-md-6 text-center">
                                                                    <button type="button" class="btn btn-modal-Save" id="DeleteBtn" onclick="DeleteLoad()">@localizer["Okay"]</button>
                                                                  </div>
                                                                  <div class="col-md-6 text-center">
                                                                    <button type="button" class="btn btn-Cancel" data-bs-dismiss="modal">@localizer["Cancel"]</button>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>`;
        }
        function DeleteLoad() {
            const modalContent = document.getElementById("modalContent");
            const spinner = document.getElementById("spinner");
            const deleteModal = document.getElementById("Delete-Modal");
            const modalIcon = document.getElementById("modalIcon");

            modalContent.style.display = "none";
            spinner.style.display = "flex";

            setTimeout(async () => {
                spinner.style.display = "none";
                const modal = bootstrap.Modal.getInstance(deleteModal);
                modal.hide();

                const newStatus = isDeleted ? '@Status.UnDeleted' : '@Status.Deleted';
                const success = await updateContractCarCheckupStatus(newStatus);
                if (success) {
                    statusInput.val(isDeleted ? '@Status.Active' : '@Status.Deleted');
                    isDeleted = !isDeleted;

                    modalIcon.src = isDeleted
                        ? "/MasSystem/images/Property 1=recycle.svg"
                        : "/MasSystem/images/delete.svg";

                    DeleteState(isDeleted);
                    setTimeout(function () {
                        location.href = '@Url.Action("DisplayToastSuccess_withIndex", "ContractCarCheckup")';
                    }, 500); // التأخير لمدة .5 ثوانٍ
                }
                else {
                    modalIcon.src = isDeleted
                        ? "/MasSystem/images/Property 1=recycle.svg"
                        : "/MasSystem/images/delete.svg";

                    DeleteState(isDeleted);
                }
            }, 500);
        }

        function StopState(Stoped) {
            isStoped = Stoped;

            document.getElementById("Stop-modal-Content").style.display = "block";
            document.getElementById("StopModalIcon").src = isStoped
                ? "/MasSystem/images/Property 1=active.svg"
                : "/MasSystem/images/stop.svg";

            document.getElementById("Stop-modal-Content").innerHTML = isStoped
                ? `
                                                            <div class="modal-header border-0">
                                                              <h1 class="modal-title fs-4 m-auto d-flex align-items-start gap-2" id="Delete-ModalLabel">
                                                                <img src="/MasSystem/images/GreenStop.svg" /> @localizer["SureToRetriveHold"]
                                                              </h1>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>@localizer["ModalFirstMessage_ContractCarCheckup_UnHold"]</p>
                                                                <p>@localizer["ModalSecondMessage_ContractCarCheckup_UnHold"]</p>
                                                            </div>
                                                            <div class="modal-footer border-0">
                                                              <div class="container">
                                                                <div class="row">
                                                                  <div class="col-md-6 text-center">
                                                                    <button type="button" class="btn btn-modal-Save" id="RetriveBtn" onclick="StopLoad()">@localizer["Okay"]</button>
                                                                  </div>
                                                                  <div class="col-md-6 text-center">
                                                                    <button type="button" class="btn btn-Cancel" data-bs-dismiss="modal">@localizer["Cancel"]</button>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>`
                : `
                                                            <div class="modal-header border-0">
                                                              <h1 class="modal-title fs-4 m-auto d-flex align-items-start gap-2" id="Delete-ModalLabel">
                                                                <img src="/MasSystem/images/RedStop.svg" /> @localizer["SureToHold"]
                                                              </h1>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>@localizer["ModalFirstMessage_ContractCarCheckup_Hold"]</p>
                                                                <p>@localizer["ModalSecondMessage_ContractCarCheckup_Hold"]</p>
                                                            </div>
                                                            <div class="modal-footer border-0">
                                                              <div class="container">
                                                                <div class="row">
                                                                  <div class="col-md-6 text-center">
                                                                    <button type="button" class="btn btn-modal-Save" id="HoldBtn" onclick="StopLoad()">@localizer["Okay"]</button>
                                                                  </div>
                                                                  <div class="col-md-6 text-center">
                                                                    <button type="button" class="btn btn-Cancel" data-bs-dismiss="modal">@localizer["Cancel"]</button>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>`;
        }
        function StopLoad() {
            const stopModalContent = document.getElementById("Stop-modal-Content");
            const spinner = document.getElementById("spinner2");
            const modalElement = document.getElementById("Stop-Modal");
            const stopModalIcon = document.getElementById("StopModalIcon");

            stopModalContent.style.display = "none";
            spinner.style.display = "flex";

            setTimeout(async () => {
                spinner.style.display = "none";
                const modal = bootstrap.Modal.getInstance(modalElement);
                modal.hide();

                const newStatus = isStoped ? '@Status.UnHold' : '@Status.Hold';
                const success = await updateContractCarCheckupStatus(newStatus);
                if (success) {
                    statusInput.val(isStoped ? '@Status.Active' : '@Status.Hold');
                    isStoped = !isStoped;

                    stopModalIcon.src = isStoped
                        ? "/MasSystem/images/Property 1=active.svg"
                        : "/MasSystem/images/stop.svg";

                    StopState(isStoped);
                    setTimeout(function () {
                        location.href = '@Url.Action("DisplayToastSuccess_withIndex", "ContractCarCheckup")';
                    }, 500); // التأخير لمدة .5 ثوانٍ
                }
            }, 500);
        }

    </script>
}