

@using Bnan.Ui.ViewModels.MAS
@using Bnan.Core.Extensions
@model listReportCarContractVM
@inject IViewLocalizer localizer
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

@{
    ViewData["Page-title"] = localizer["Edit RenterInformations Data"];
    ViewData["Page-Hint"] = localizer["Edit RenterInformations Hint"];
}


            <div class="col d-flex align-items-center justify-content-center">
    <input hidden asp-for="CrCasRenterContractBasicCarSerailNo" id="CrCasRenterContractBasicCarSerailNo00" />
                    <div class="container main-container">
                    <form action="" >
                            <div class="row g-3 ">
                                <div class="col">
                                    <div class="row g-3 my-2">  
                                        <div class="col-md-6">
                                        <h3>@localizer["ReportCarContract_one_Data"]</h3>
                                    </div>
                                    <div class="col-md-6 save-col">
                            <a href="/MAS/ReportCarContract/Index"><img class="Chevron" src="~/MasSystem/images/Chevron_Left.svg" /></a>
                                    </div>
                                  </div>
                                </div>
                              <div class="row gap-lg-3 g-2">
                                 
                                    <h5 class="subtitle">@(requestCulture?.RequestCulture.UICulture.Name == "en-US" ? Model.all_contractBasic?.FirstOrDefault()?.CarEnName : Model.all_contractBasic?.FirstOrDefault()?.CarArName)   <div class="CarColor" style="background: #636C14;"></div>                                   
                                    </h5> 
                                    <div class="col-lg-12 col-xl-8">
                                        <div class="col-12 d-flex align-items-center Search-col  flex-wrap gap-2">
                                            <div class="col-xl-4 d-flex  gap-3 align-items-center">
                                                <label for="start-date">@localizer["From_n"]</label>
                                                <input type="date" class="form-control inputs custom-date-input" id="start_date" name="start_date" required>
                                            </div>
                                          <div class="col-xl-4 d-flex  gap-3 align-items-center">
                                           <label for="end-date">@localizer["To_n"]</label>
                                           <input type="date" class="form-control inputs custom-date-input" id="end_date" name="end_date" required>
                                          </div>
                                           
                                            <button type="button" id="btn_view" name="btn_view" class="btn btn-standard">@localizer["View_n"]</button>
                                        </div>
                    </div>


                </div>
            </div>

<div class="row table-row px-3">
                <div class="dataTable22">
                    <partial name="_EditpartDataTableReportCarContract" />
                </div>
            </div>
        </form>

    </div>
</div>


<!-- signature modal -->
<div class="modal fade" id="signature-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">
        <div class="modal-content signature-modal-content p-3">
            <div class="modal-body Signature-modal-body">
                <div class="SignatureCard">
                    <div class="image-main-container" id="removeSignatureImg"></div>
                    <div class="upload-container">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-3">
                        <div class="sinature-Btn-Card p-2">
                            <img src="~/MasSystem/images/signature/save.svg" class="w-100" id="save">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="sinature-Btn-Card p-2">
                            <img src="~/MasSystem/images/signature/Frame.svg" class="w-100" id="clear">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="sinature-Btn-Card p-2">
                            <img src="~/MasSystem/images/signature/file-signature_9795523 1.svg"
                                 class="w-100" id="WriteSignature">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="sinature-Btn-Card p-2">
                            <img src="~/MasSystem/images/signature/Pic.svg" class="w-100"
                                 id="UploadSigntaurePic">
                            <input type="file" id="imageUpload" accept="image/*"
                                   style="display: none;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <!-- تحميل مكتبة jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- تحميل مكتبة DataTables -->
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

    @*    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
    // تهيئة flatpickr مع التنسيق المطلوب
    flatpickr("#start_date", {
        dateFormat: "d/m/Y", // تنسيق التاريخ إلى يوم/شهر/سنة
    });
        // تهيئة flatpickr مع التنسيق المطلوب
    flatpickr("#end_date", {
        dateFormat: "d/m/Y", // تنسيق التاريخ إلى يوم/شهر/سنة
    });
</script>*@

    <script>
        $(document).ready(function () {
            $("#start_date").val('@Model.start_Date'); //  اضافة قيمة البداية من ال viewModel
            $("#end_date").val('@Model.end_Date'); //  اضافة قيمة النهاية من ال viewModel

            // لجعل الحالة حسب ما هي جاية من index نشط او الكل
            //$("input[name='customRadio'][value='" + '@ViewBag.radio' + "']").prop("checked", true);
            $("#min-loader").toggleClass("d-none", true); // اخفاء loader بعد انتهاء تحميل الصفحة

            //var today = new Date();
            //$("#start_date").datepicker({
            //    dateFormat: 'yy/mm/dd',  // التاريخ إلى يوم/شهر/سنة
            //    maxDate: today,
            //});
            //$("#end_date").datepicker({
            //    dateFormat: 'yy/mm/dd',  // التاريخ إلى يوم/شهر/سنة
            //    maxDate: today,
            //});


            ///////
            // تهيئة DataTable
            var table2 = $('#Table').DataTable({
                ordering: false, // تعطيل الترتيب التلقائي للصفوف
                stateSave: true,   // حفظ حالة الجدول
            });
            end_init_ShowDatatable();
        });

        function end_init_ShowDatatable() {
            $("#min-loader").toggleClass("d-none", true);
            $("select[name='Table_length']").prepend("<option value='10000' id='A10000'>10000</option>");
            //$("select[name='Table_length'] option[value='10000']").prop("selected", true);
            $("select[name='Table_length']").val('10000').change();
            $("#Table_info").css("display", "none");
            $("#Table_previous").css("display", "none");
            $("#Table_next").css("display", "none");
            $("#Table_length").css("display", "none");
            $("#Table_filter").css("display", "none");
            $(".paginate_button").css("display", "none");
            $(".ellipsis").css("display", "none");
            $("select[name='Table_length'] option[value='10000']").prop("selected", true);
        }

        // دالة للبحث عن كلمة في جميع الصفوف
        function searchRows() {
            var table = $('#Table').DataTable();
            end_init_ShowDatatable();
            var keyword = $('#search2').val().toLowerCase(); // الكلمة المدخلة للبحث (تحويلها إلى حروف صغيرة)

            // إخفاء كل الصفوف أولاً
            table.rows().every(function () {
                this.nodes().to$().hide(); // إخفاء الصف
            });

            // التكرار عبر كل الصفوف
            table.rows().every(function () {
                var row = this.data();
                var found = false;

                // التكرار عبر كل الخلايا في الصف
                row.forEach(function (cell) {
                    if (cell.toString().toLowerCase().includes(keyword)) {
                        found = true; // إذا تم العثور على الكلمة في أي خلية
                    }
                });

                // إذا تم العثور على الكلمة في الصف، نظهره
                if (found) {
                    this.nodes().to$().show();
                }
            });
            //$("select[name='Table_length']").prepend("<option value='10000' id='A10000'>10000</option>");
        }

        // يمكن إضافة وظيفة البحث تلقائيًا عند كتابة النص
        $('#search2').on('keyup', function () {
            searchRows();
        });

    </script>
    <script>
        //get ReportCarContract By Status function
        function GetContractsByStatusFitler(start, end) {
            var id = $("#CrCasRenterContractBasicCarSerailNo00").val();
            $.ajax({
                type: "GET",
                data: {
                    id:id, start: start, end: end
                },
                url: "@Url.Action("GetContractsByStatus", "ReportCarContract", new { Area = "MAS" })",
                success: function (response) {
                    $("#min-loader").toggleClass("d-none", true);
                    $(".dataTable22").html(response);
                },
            })
        }

        $("input[name='customRadio']").on("click", function () {
            //const status = $(this).val();
            const start = $("#start_date").val(); // الحصول على قيمة البداية
            const end = $("#end_date").val(); // الحصول على قيمة النهاية

            //const start1 = $("#start_date").val(); // الحصول على قيمة البداية
            //var dateParts = start1.split("/"); // تقسيم التاريخ إلى أجزاء
            //var formattedDate1 = dateParts[2] + "-" + dateParts[1] + "-" + dateParts[0]; // تحويله إلى yyyy-MM-dd
            //var start = formattedDate1;// الحصول على قيمة النهاية
            //const end2 = $("#end_date").val(); // الحصول على قيمة البداية
            //var dateParts = end2.split("/"); // تقسيم التاريخ إلى أجزاء
            //var formattedDate2 = dateParts[2] + "-" + dateParts[1] + "-" + dateParts[0]; // تحويله إلى yyyy-MM-dd
            //var end = formattedDate2;// الحصول على قيمة النهاية

            $("#min-loader").removeClass("d-none");
            //$("#search2").val("");
            GetContractsByStatusFitler(start, end);
        });

        // عند كتابة أي شيء في حقل البحث، تحديث الفلتر
        $("#btn_view").on("click", function () {
            //const status = $("input[name='customRadio']:checked").val(); // الحصول على القيمة المحددة من الراديو
            const start = $("#start_date").val(); // الحصول على قيمة البداية
            const end = $("#end_date").val(); // الحصول على قيمة النهاية

            //const start1 = $("#start_date").val(); // الحصول على قيمة البداية
            //var dateParts = start1.split("/"); // تقسيم التاريخ إلى أجزاء
            //var formattedDate1 = dateParts[2] + "-" + dateParts[1] + "-" + dateParts[0]; // تحويله إلى yyyy-MM-dd
            //var start = formattedDate1;// الحصول على قيمة النهاية
            //const end2 = $("#end_date").val(); // الحصول على قيمة البداية
            //var dateParts = end2.split("/"); // تقسيم التاريخ إلى أجزاء
            //var formattedDate2 = dateParts[2] + "-" + dateParts[1] + "-" + dateParts[0]; // تحويله إلى yyyy-MM-dd
            //var end = formattedDate2;// الحصول على قيمة النهاية

            $("#min-loader").removeClass("d-none");
            //$("#search2").val("");
            GetContractsByStatusFitler(start, end);
        });
    </script>
}
