@model Bnan.Ui.ViewModels.Identitiy.RegisterViewModel

@inject IViewLocalizer localizer
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
<div class="col my-3 d-flex align-items-center justify-content-center ">
    <div class="container changePasword-container">
        <form class="needs-validation" asp-area="CAS" asp-controller="Employees" asp-action="MyAccount" method="post" enctype="multipart/form-data" novalidate>
            <input hidden asp-for="CrMasUserInformationPicture" />
            <input hidden asp-for="CrMasUserInformationSignature" />
            <div class="row mt-3 g-3 justify-content-center">


                <div class="col-lg-12">
                    <div class="container-fluid">

                        <div class="row g-3 my-2 px-md-4">
                            <div class="col-md-6">
                                <h3>@localizer["MyAccount"]</h3>
                            </div>
                            <div class="col-md-6 save-col">
                                <button type="submit" class="custom-img-btn">
                                    <img src="~/CasSys/images/save.svg" />
                                </button>
                            </div>
                        </div>


                        <div class="row g-3 mt-3 justify-content-around acoount-cards-row">

                            <div class="col-lg-8">
                                <div class="info-card mb-3">
                                    <div class="header-card text-center py-2">
                                        @localizer["Information"]
                                    </div>
                                    <div class="data-card">
                                        <div class="container-fluid">
                                            <div class="row g-3 py-3">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-auto">
                                                            <p>@localizer["EmployeeNo"]</p>
                                                        </div>
                                                        <div class=" col-md-auto Saved-data">
                                                            <p>@Model.CrMasUserInformationCode</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-auto">
                                                            <p> @localizer["EmployeeId"] </p>
                                                        </div>
                                                        <div class=" col-md-auto Saved-data">
                                                            <p>@Model.CrMasUserInformationId</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-auto">
                                                            <p> @localizer["LimitCredit"]  </p>
                                                        </div>
                                                        <div class=" col-md-auto Saved-data">
                                                            <p> @Model.CrMasUserInformationCreditLimit?.ToString("N2",CultureInfo.InvariantCulture)  </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row align-items-center">
                                                        <div class="col-md-auto">
                                                            <label for="phone" class="form-label"> @localizer["MasEmployeeMobileNo"] </label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="input-group">
                                                                <input type="tel" class="form-control inputs tel-input" id="phone" asp-for="CrMasUserInformationMobileNo" oninput="this.value=this.value.replace(/[^0-9]/g,'')">
                                                                <select class="input-group-text select-style counterCode" asp-for="CrMasUserInformationCallingKey">
                                                                    @foreach (var callingKey in (List<SelectListItem>)ViewData["CallingKeys"])
                                                                    {
                                                                        <option value="@callingKey.Text" selected="@(callingKey.Text.Trim() == Model.CrMasUserInformationCallingKey ? "selected" : null)">@callingKey.Text</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row align-items-center">
                                                        <div class="col-md-auto">
                                                            <label for="email" class="form-label"> @localizer["Email"] </label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <input type="email" id="email" class="form-control inputs english-input" asp-for="CrMasUserInformationEmail">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-card">
                                    <div class="header-card text-center py-2">
                                        @localizer["Settings"]

                                    </div>
                                    <div class="data-card ">
                                        <div class="container-fluid">
                                            <div class="row py-3 g-3">
                                                <div class="col-md-10">
                                                    <div class="row">
                                                        <div class="col-md-auto">
                                                            <label for="Password-hint" class="form-label">@localizer["PasswordHint"]</label>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <input type="text" id="Password-hint" class="form-control inputs text-center" asp-for="CrMasUserInformationRemindMe" maxlength="50">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-10">
                                                    <div class="row">
                                                        <div class="col-md-auto">
                                                            <label for="automatic-logout" class="form-label"> @localizer["AutoLogoutTime"]  </label>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="number-input-container  ">
                                                                <div class="col">
                                                                    <input type="number" min="5" max="15" class="alert-input" asp-for="CrMasUserInformationExitTimer" oninput="this.value=this.value.replace(/[^0-9]/g,'')" id="automatic-logout" autocomplete="off"/>
                                                                </div>
                                                                <div class="col d-flex flex-column-reverse">
                                                                    <button type="button" class="deincrement">
                                                                    </button>
                                                                    <button type="button" class="increment"></button>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-xl-7">
                                                    <div class="row align-items-center">
                                                        <div class="col-md-auto">
                                                            <label for="lang">@localizer["DefaultLanguage"]</label>
                                                        </div>
                                                        <div class="col-md-6  ">
                                                            <select class="form-select select-style text-center" asp-for="CrMasUserInformationDefaultLanguage" id="lang">
                                                                <option value="Ar">
                                                                    @(requestCulture?.RequestCulture.UICulture.Name == "en-US" ? "Arabic" : "عربي")
                                                                </option>
                                                                <option value="En">
                                                                    @(requestCulture?.RequestCulture.UICulture.Name == "en-US" ? "English" : "انجليزي")
                                                                </option>
                                                            </select>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 profile-section">
                                <div class="row gap-3">
                                    <div class="col-md-12 d-flex justify-content-center">
                                        <div class="profile-photo">
                                            <img src="@Url.Content(Model.CrMasUserInformationPicture?.ToString())" class="w-100" id="Profile-photo">
                                            <img src="~/MasSystem/images/change pic.svg" class="change-profile-btn" id="change-profile-btn">
                                            <input type="file" id="Profile-photo-input" name="UserImgFile" class="hide" onchange="loadFile(event)" />
                                        </div>
                                    </div>
                                    <div class="col-md-12 d-flex justify-content-center">
                                        <div class="row align-items-center ">
                                            <div class="col-auto">
                                                <button type="button" class="custom-img-btn"><img src="~/MasSystem/images/icon.svg" data-bs-toggle="modal" href="#signature-modal" /></button>
                                            </div>
                                            <div class="col-auto">
                                                <img src="@Url.Content(Model.CrMasUserInformationSignature?.ToString())"
                                                     id="previewSignature">
                                                <input type="hidden" id="UserSignatureFile" name="UserSignatureFile" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 d-flex justify-content-center  align-items-center flex-column">
                                        <p class="user-name">
                                            @(requestCulture?.RequestCulture.UICulture.Name == "en-US" ? Model.CrMasUserInformationEnName : Model.CrMasUserInformationArName)
                                        </p>
                                        <p>@(requestCulture?.RequestCulture.UICulture.Name == "en-US" ? Model.CrMasUserInformationTasksEnName : Model.CrMasUserInformationTasksArName)</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </form>
        <a href="~/CasSys/index.html" data-bs-toggle="tooltip" data-bs-placement="top"
           data-bs-custom-class="custom-tooltip" data-bs-title="@localizer["BackToHome"]"
           class="new-Page-icon"><img src="~/CasSys/images/back to main.svg" alt="man"></a>
    </div>
</div>
<!-- signature modal -->
<div class="modal fade" id="signature-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">
        <div class="modal-content signature-modal-content p-3">
            <div class="modal-body Signature-modal-body">
                <div class="SignatureCard">
                    <div class="image-main-container" id="removeSignatureImg"></div>
                    <div class="upload-container">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-3">
                        <div class="sinature-Btn-Card p-2">
                            <img src="~/MasSystem/images/signature/save.svg" class="w-100" id="save">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="sinature-Btn-Card p-2">
                            <img src="~/MasSystem/images/signature/Frame.svg" class="w-100" id="clear">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="sinature-Btn-Card p-2">
                            <img src="~/MasSystem/images/signature/file-signature_9795523 1.svg"
                                 class="w-100" id="WriteSignature">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="sinature-Btn-Card p-2">
                            <img src="~/MasSystem/images/signature/Pic.svg" class="w-100"
                                 id="UploadSigntaurePic">
                            <input type="file" id="imageUpload" accept="image/*"
                                   style="display: none;">
                            @*                             <input id="UserSignatureFile" hidden />
                            *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/CasSys/scripts/signature.js"></script>

    <script>
        const changeProfileBtn = document.getElementById('change-profile-btn');
        const ProfilePhotoInput = document.getElementById('Profile-photo-input');
        const ProfilePhoto = document.getElementById('Profile-photo');

        changeProfileBtn.addEventListener('click', function () {
            ProfilePhotoInput.click();

        })
        var loadFile = function (event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('Profile-photo');
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        };
    </script>
    <!-- local scripts -->
    @* <script>
        document.addEventListener("DOMContentLoaded", function () {

            const data = {

                "email": "abdallah 359@gmail.com",
                "phone": "01127237646",
                "hint": "401"
            };

            document.getElementById("email").value = data.email;
            document.getElementById("phone").value = data.phone;
            document.getElementById("Password-hint").value = data.hint;


        });

    </script> *@
    <!-- local scripts -->

    <script>
        let deincrement = document.querySelector(".deincrement");
        let increment = document.querySelector(".increment");
        let number = document.querySelector(".alert-input");

        let step = 5;
        let max = 15;
        let min = 5;

        number.addEventListener('blur', () => {
            let currentValue = parseInt(number.value);
            if (isNaN(currentValue)) {
                number.value = min;
            } else if (currentValue > max) {
                number.value = max;
            } else if (currentValue < min) {
                number.value = min;
            }
        });

        increment.addEventListener("click", () => {
            if (parseInt(number.value) + step >= max) {
                number.value = max;
                increment.style.backgroundImage = "url('/CasSys/images/up1.svg')";
                deincrement.style.backgroundImage = "url('/CasSys/images/down.svg')";
                return;
            }
            increment.style.backgroundImage = "url('/CasSys/images/up.svg')";
            deincrement.style.backgroundImage = "url('/CasSys/images/down.svg')";
            number.value = parseInt(number.value) + step;
        });

        deincrement.addEventListener("click", () => {
            if (parseInt(number.value) - step <= min) {
                number.value = min;
                deincrement.style.backgroundImage = "url('/CasSys/images/down1.svg')";
                increment.style.backgroundImage = "url('/CasSys/images/up.svg')";
                return;
            }
            deincrement.style.backgroundImage = "url('/CasSys/images/down.svg')";
            increment.style.backgroundImage = "url('/CasSys/images/up.svg')";
            number.value = parseInt(number.value) - step;
        });
    </script>

}