@using Bnan.Ui.ViewModels.CAS
@model CAS_AccountSalesPointVM

@inject IViewLocalizer localizer

@{
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
}
<link href="~/css/toastr.css" rel="stylesheet" />

 <div class="col my-2 d-flex align-items-center justify-content-center">
                    <div class="container NewUpdate-container">
        <form asp-area="CAS" asp-controller="AccountSalesPoint_CAS" asp-action="AddAccountSalesPoint_CAS" class="needs-validation" novalidate>
                            <div class="row mt-3 g-3">
                <input hidden asp-for="CrCasAccountSalesPointBank" id="Bank_2_No"/>

                                <div class="row justify-content-center">
                                    <div class="col-lg-9">
                                        <div class="row g-3 my-2">
                                            <div class="col-md-6">
                                <h3> @localizer["Add SalesPoint Data"] </h3>
                                            </div>
                                            <div class="col-md-6 save-col">
                                                <button type="submit" class="custom-img-btn">
                                        <img src="~/CasSys/images/save.svg" />
                                    </button>
                                <button type="button" class="custom-img-btn"><a href="/CAS/AccountSalesPoint_CAS/Index"><img class="Chevron" src="~/CasSys/images/Chevron_Left.svg" /></a></button>
                                 </div>
                                        </div>
                                        <div class="container-fluid">
                                          <div class="row  mt-3 g-3">
                                           <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-12 ">
                                                    <label for="Branch" class="form-label">
                                                @localizer["Branch"]  <i class="fa-solid fa-star-of-life RequirdStar"></i>
                                            </label>
                                            <select class="form-select select-style " id="CrCasAccountSalesPointBrn" asp-for="CrCasAccountSalesPointBrn" required>

                                                <option value=""></option>
                                                @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                                                {
                                                    @foreach (var single in Model.all_branchesNames)
                                                    {
                                                        <option value="@single.id_key" id="@single.id_key">@single.nameAr</option>
                                                    }
                                                }
                                                else
                                                {
                                                    @foreach (var single in Model.all_branchesNames)
                                                    {
                                                        <option value="@single.id_key" id="@single.id_key">@single.nameEn</option>
                                                    }
                                                }

                                            </select>
                                            <div class="invaild">
                                                <div class="invalid-feedback">
                                                    <span class="text-danger" asp-validation-for="CrCasAccountSalesPointBrn"></span>
                                                    <span class="text-danger" id="CrCasAccountSalesPointBrn-Error"></span>
                                                </div>
                                            </div>
                                                </div>

                                            </div>
                                           </div>
                                          <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-12 ">
                                                    <label for="Account" class="form-label">
                                                @localizer["AccountBank_new"]  <i class="fa-solid fa-star-of-life RequirdStar"></i>
                                            </label>
                                                <select class="form-select select-style " id="CrCasAccountSalesPointAccountBank" asp-for="CrCasAccountSalesPointAccountBank" onchange="changed_BankAccountNoSelect()" required>

                                                    <option value=""></option>
                                                    @if (requestCulture?.RequestCulture.UICulture.Name == "ar-EG")
                                                    {
                                                        @foreach (var single in Model.all_AccountsNames)
                                                        {
                                                        <option value="@single.CrCasAccountBankCode" id="@single.CrCasAccountBankCode">@single.CrCasAccountBankArName</option>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        @foreach (var single in Model.all_AccountsNames)
                                                        {
                                                        <option value="@single.CrCasAccountBankCode" id="@single.CrCasAccountBankCode">@single.CrCasAccountBankEnName</option>
                                                        }
                                                    }

                                                </select>
                                                <div class="invaild">
                                                    <div class="invalid-feedback">
                                                    <span class="text-danger" asp-validation-for="CrCasAccountSalesPointAccountBank"></span>
                                                    <span class="text-danger" id="CrCasAccountSalesPointAccountBank-Error"></span>
                                                    </div>
                                                </div>
                                                </div>

                                            </div>
                                          </div>
                                            
                                           <div class="col-md-12">
                                            <div class="row align-items-center">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-auto">
                                                    <p> @localizer["AccountBank_NNo"]  </p>
                                                        </div>
                                                        <div class=" col-md-auto Saved-data ">
                                                    <p id="Bank_Iban_text" name="Bank_Iban_text">  </p>
                                                        </div>
                                                    </div>
                                                   
                                                </div>
                                                   <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-auto">
                                                    <p> @localizer["BankName_new"]    </p>
                                                        </div>
                                                        <div class=" col-md-auto Saved-data ">
                                                    <p id="BankName_text" name="BankName_text">  </p>
                                                        </div>
                                                    </div>
                                                   </div>
                                            </div>
                                           </div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-6">
                                            <label for="CrCasAccountSalesPointNo"
                                                   class="form-label"> @localizer["SalesPointCode"]  <i class="fa-solid fa-star-of-life RequirdStar"></i></label>
                                            <input type="text" id="CrCasAccountSalesPointNo"
                                                   class="form-control inputs " oninput="this.value = this.value.replace(/[^a-zA-Z\s\/\.\-0-9]/g, '')" autoComplete="off"
                                                   asp-for="CrCasAccountSalesPointNo" maxlength="50" required>
                                                        <div class="invaild">
                                                            <div class="invalid-feedback">
                                                    <span class="text-danger" asp-validation-for="CrCasAccountSalesPointNo"></span>
                                                    <span class="text-danger" id="CrCasAccountSalesPointNo-Error"></span>
                                                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-6">
                                            <label for="CrCasAccountSalesPointArName"
                                                   class="form-label">  @localizer["SalesPointNameAr"]    <i class="fa-solid fa-star-of-life RequirdStar"></i> </label>
                                            <input type="text" id="CrCasAccountSalesPointArName"
                                                   class="form-control inputs arabic-input" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s\/\.\-0-9]/g, '')" autoComplete="off"
                                                   asp-for="CrCasAccountSalesPointArName" maxlength="50" required>
                                                        <div class="invaild">
                                                            <div class="invalid-feedback">
                                                    <span class="text-danger" asp-validation-for="CrCasAccountSalesPointArName"></span>
                                                    <span class="text-danger" id="CrCasAccountSalesPointArName-Error"></span>
                                                </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                            <label for="CrCasAccountSalesPointEnName"
                                                            class="form-label">
                                                @localizer["SalesPointNameEn"]  <i class="fa-solid fa-star-of-life RequirdStar"></i>
                                            </label>
                                            <input type="text" id="CrCasAccountSalesPointEnName"
                                                   class="form-control inputs english-input" oninput="this.value = this.value.replace(/[^a-zA-Z\s\/\.\-0-9]/g, '')" autoComplete="off"
                                                   asp-for="CrCasAccountSalesPointEnName" maxlength="50" required>
                                                        <div class="invaild">
                                                            <div class="invalid-feedback">
                                                    <span class="text-danger" asp-validation-for="CrCasAccountSalesPointEnName"></span>
                                                    <span class="text-danger" id="CrCasAccountSalesPointEnName-Error"></span>
                                                </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                           <div class="col-md-12">
                                            <div class="row ">
                                                <div class="col-lg-10">
                                            <label>@localizer["Reason_s"]</label>
                                                    <textarea class=" form-control textarea-inputs"
                                                        rows="1" maxlength="100" asp-for="CrCasAccountSalesPointReasons"
                                                        type="text"></textarea>
                                            <div class="invaild">
                                                <div class="invalid-feedback">
                                                    <span class="text-danger" asp-validation-for="CrCasAccountSalesPointReasons"></span>
                                                    <span class="text-danger" id="CrCasAccountSalesPointReasons-Error"></span>
                                                </div>
                                            </div>
                                                </div>
                                            </div>
                                           </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/toastr.js"></script>
    <script>
        function validateNumberInput(input) {
            input.value = input.value.replace(/\D/g, ''); // استبدال كل الأحرف غير الرقمية
        }
    </script>
    @*<script>
        // الحصول على الـ checkbox والـ radio buttons
        const checkbox = document.getElementById('sendContract');
        const radioButtons = document.querySelectorAll('input[name="sendWay"]');

        // الاستماع لتغيير الـ checkbox
        checkbox.addEventListener('change', function () {
            if (checkbox.checked) {
                // تفعيل الـ radio buttons إذا كان الـ checkbox مفعلًا
                radioButtons.forEach(radio => radio.disabled = false);
                // إزالة التحديد من الـ radio button
                radioButtons.forEach((radio) => { radio.checked = false; });
            } else {
                // تعطيل الـ radio buttons إذا كان الـ checkbox غير مفعل
                radioButtons.forEach(radio => radio.disabled = true);
                $("#status_radio_asp").val("0");
                console.log('تم اختيار: ' + $("#status_radio_asp").val());
            }
        });

        // الاستماع لتغيير قيمة الـ radio buttons
        radioButtons.forEach((radio) => {
            radio.addEventListener('change', function () {
                // عندما يتغير الاختيار، قم بعرض القيمة المختارة
                console.log('تم اختيار: ' + this.value);
                if (this.value == "email") {
                    $("#status_radio_asp").val("1");
                }
                else if (this.value == "whatsup") {
                    $("#status_radio_asp").val("2");
                }
                else if (this.value == "sms") {
                    $("#status_radio_asp").val("3");
                }
                else {
                    $("#status_radio_asp").val("0");
                }
                console.log('تم اختيار: ' + $("#status_radio_asp").val());
            });
        });
    </script>*@
    <script>
        function changed_BankAccountNoSelect(){
            var bankAccount = $("#CrCasAccountSalesPointAccountBank").val()
            $.ajax({
                type: "GET",
                url: "/CAS/AccountSalesPoint_CAS/Get_Bank_Data",
                data: { bankAccount: bankAccount },
                success: function (result) {
                    // Show new error messages if they exist
                    if (result != null ) {
                        console.log(result);
                        $("#Bank_2_No").val(result.bank_No);
                        $("#Bank_Iban_text").text(result.bank_Iban);
                        if ('@requestCulture?.RequestCulture.UICulture.Name' == "en-US") {
                            $("#BankName_text").text(result.bank_En);
                        }else{
                            $("#BankName_text").text(result.bank_Ar);
                        }
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }


    </script>
    <script>
        $(document).ready(function () {

            // This To Focus On input when page load
            if ('@requestCulture?.RequestCulture.UICulture.Name' == "en-US") {
                $("#CrCasAccountSalesPointEnName").focus();
            }
            else {
                $("#CrCasAccountSalesPointArName").focus();
            }
            //////////////////////////////////////////


            function Check_onChange_input(existName, dataField) {
                $.ajax({
                    type: "GET",
                    url: "/CAS/AccountSalesPoint_CAS/CheckChangedField",
                    data: { existName: existName, dataField: dataField },
                    success: function (result) {
                        console.log("feedback", result);
                        // Hide all previous error messages
                        $('.invalid-feedback').show();

                        // Show new error messages if they exist
                        if (result.errors && result.errors.length > 0) {
                            result.errors.forEach(function (error) {
                                // Use the ID from the error object to find the correct element
                                $(`#${error.field}-Error`).text(error.message).show();
                            });
                        } else {
                            // Hide the error message if no errors
                            $(`#${existName}-Error`).text("");
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }


            $('#CrCasAccountSalesPointArName').on('change', function () {
                var newValue = $(this).val();
                console.log("newValue", newValue)
                Check_onChange_input('CrCasAccountSalesPointArName', newValue);
            });

            $('#CrCasAccountSalesPointEnName').on('change', function () {
                var newValue = $(this).val();
                Check_onChange_input('CrCasAccountSalesPointEnName', newValue);
            });
            $('#CrCasAccountSalesPointNo').on('change', function () {
                var newValue = $(this).val();
                Check_onChange_input('CrCasAccountSalesPointNo', newValue);
            });

        });

    </script>
}