@using Bnan.Ui.ViewModels.MAS
@using Bnan.Core.Extensions
@model Bnan.Ui.ViewModels.MAS.listRenterContractVM

@inject IViewLocalizer localizer
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

@{
    ViewData["Page-title"] = localizer["Edit RenterInformations Data"];
    ViewData["Page-Hint"] = localizer["Edit RenterInformations Hint"];
}

<div class="col my-2 d-flex align-items-center justify-content-center">
    <input hidden asp-for="CrMasRenterInformationId" />
    @*<input hidden asp-for="CrMasRenterInformationBirthDate" />*@
    <div class="container NewUpdate-container">
        <form action="" class="needs-validation" novalidate>
            <div class="row mt-3 g-3">

                <div class="row justify-content-center">
                    <div class="col-lg-11">
                        <div class="row g-3 mt-1">
                            <div class="col">
                                <h3> @localizer["RenterContract_one_Data"] </h3>
                            </div>
                            <div class="col-auto save-col">
                                <button type="button" class="custom-img-btn"> <a href="/MAS/RenterContract/Index"><img class="Chevron" src="~/MasSystem/images/Chevron_Left.svg" /></a></button>
                            </div>
                        </div>
                        <div class="row g-2">
                            <div class="col-md-12 mt-5 mb-2">
                                <h4 class="subtitle"> @(requestCulture?.RequestCulture.UICulture.Name == "en-US" ? Model.thisRenterData.CrMasRenterInformationEnName : Model.thisRenterData.CrMasRenterInformationArName)</h4>
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <p class="m-0">@Model.CrMasRenterInformationId</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row table-row px-3">
                                    <div class="col  scroll-extended-table-div scroll-table-div  table-responsive-sm  w-100  ">
                                        <table class=" tables-style table table-borderless " id="Table">
                                            <thead class="sticky-top">
                                                <tr>
                                                    <th>@localizer["the_Contract_n"]</th>
                                                    <th>@localizer["the_Invoice_n"]</th>
                                                    <th>@localizer["the_KM_Cut_n"]</th>
                                                    <th>@localizer["the_DaysCount_n"]</th>
                                                    <th> @localizer["the_Rental_Value_n"]</th>
                                                    <th class="DifferAlign"> @localizer["the_Car_n"]</th>
                                                    <th class="DifferAlign"> @localizer["the_Lessor_n"]  </th>
                                                    <th class="DifferAlign">@localizer["the_Contract_n"]</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    var no = 1;
                                                }
                                                @foreach (var item in Model.all_contractBasic)
                                                {

                                                    int? km = 0;
                                                    var days = item.CrCasRenterContractBasicExpectedRentalDays;
                                                    var contractValue = item.CrCasRenterContractBasicExpectedTotal;
                                                    var endDate = item.CrCasRenterContractBasicExpectedEndDate;
                                                    var image_pdf = "#";
                                                    var image_pdf_blank = "";

                                                    if (item.CrCasRenterContractBasicPdfFile != null && item.CrCasRenterContractBasicPdfFile != "") { image_pdf = item.CrCasRenterContractBasicPdfFile?.ToString().Replace("~", ""); image_pdf_blank = "_blank"; }


                                                    @if (item.CrCasRenterContractBasicStatus == Status.Closed)
                                                    {
                                                        km = item.CrCasRenterContractBasicActualCurrentReadingMeter - item.CrCasRenterContractBasicCurrentReadingMeter;
                                                        days = item.CrCasRenterContractBasicActualDays;
                                                        contractValue = item.CrCasRenterContractBasicActualTotal;
                                                        endDate = item.CrCasRenterContractBasicActualCloseDateTime;
                                                    }

                                                    <tr>
                                                        <td><a href="@image_pdf" target="@image_pdf_blank"><img src="~/MasSystem/images/Rectangle 197.svg"></a></td>
                                                        <td><a href="#"><img src="~/MasSystem/images/Rectangle 197.svg"></a></td>
                                                        <td><p>@km?.ToString("N2", CultureInfo.InvariantCulture)</p></td>
                                                        <td>
                                                            <p>@days</p>
                                                        </td>
                                                        <td>
                                                            <p>@contractValue?.ToString("N2", CultureInfo.InvariantCulture)</p>
                                                        </td>
                                                        @if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
                                                        {
                                                            <td class="DifferAlign"><p>@item.CarEnName</p></td>
                                                            <td class="DifferAlign"><p> @Model.all_lessors?.Find(x => x.CrMasLessorInformationCode == item.CrCasRenterContractBasicLessor)?.CrMasLessorInformationEnShortName </p></td>
                                                            <td class="DifferAlign">
                                                                <p class="FirstLineP"> @item.CrCasRenterContractBasicNo </p>
                                                                <div class="d-flex justify-content-end gap-2">
                                                                    <p class="secondLineP-extra-small"> <span class="time">  @endDate?.ToString("HH:mm - ", CultureInfo.InvariantCulture) </span> @endDate?.ToString("dd/MM/yyyy ", CultureInfo.InvariantCulture) </p>
                                                                    <p class="secondLineP-extra-small"> <span class="time">  @item.CrCasRenterContractBasicExpectedStartDate?.ToString("HH:mm - ", CultureInfo.InvariantCulture) </span> @item.CrCasRenterContractBasicExpectedStartDate?.ToString("dd/MM/yyyy ", CultureInfo.InvariantCulture)</p>
                                                                </div>
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td class="DifferAlign"><p>@item.CarArName</p></td>
                                                            <td class="DifferAlign"><p> @Model.all_lessors?.Find(x => x.CrMasLessorInformationCode == item.CrCasRenterContractBasicLessor)?.CrMasLessorInformationArShortName </p></td>
                                                            <td class="DifferAlign">
                                                                <p class="FirstLineP"> @item.CrCasRenterContractBasicNo </p>
                                                                <div class="d-flex justify-content-end gap-2">
                                                                    <p class="secondLineP-extra-small">@item.CrCasRenterContractBasicExpectedStartDate?.ToString("dd/MM/yyyy ", CultureInfo.InvariantCulture) <span class="time">  @item.CrCasRenterContractBasicExpectedStartDate?.ToString(" - HH:mm", CultureInfo.InvariantCulture) </span></p>
                                                                    <p class="secondLineP-extra-small">@endDate?.ToString("dd/MM/yyyy ", CultureInfo.InvariantCulture) <span class="time"> @endDate?.ToString(" - HH:mm", CultureInfo.InvariantCulture) </span></p>
                                                                </div>
                                                            </td>
                                                        }
                                                        <td>
                                                            <div class="filter-number-td">
                                                                @{
                                                                    var filterColor = "";
                                                                    var filterStyleColor = "";
                                                                    if (item.CrCasRenterContractBasicStatus == Status.Active) { filterColor = "filter3-div"; filterStyleColor = "background-color:#22B14C"; }
                                                                    else if (item.CrCasRenterContractBasicStatus == Status.Expire) filterColor = "filter3-div";
                                                                    else if (item.CrCasRenterContractBasicStatus == Status.Closed) filterColor = "filter2-div";
                                                                }
                                                                <div class="filters @filterColor" style="@filterStyleColor"></div>
                                                                <div>@no</div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    no++;
                                                }

                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- signature modal -->
<div class="modal fade" id="signature-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">
        <div class="modal-content signature-modal-content p-3">
            <div class="modal-body Signature-modal-body">
                <div class="SignatureCard">
                    <div class="image-main-container" id="removeSignatureImg"></div>
                    <div class="upload-container">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-3">
                        <div class="sinature-Btn-Card p-2">
                            <img src="~/MasSystem/images/signature/save.svg" class="w-100" id="save">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="sinature-Btn-Card p-2">
                            <img src="~/MasSystem/images/signature/Frame.svg" class="w-100" id="clear">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="sinature-Btn-Card p-2">
                            <img src="~/MasSystem/images/signature/file-signature_9795523 1.svg"
                                 class="w-100" id="WriteSignature">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="sinature-Btn-Card p-2">
                            <img src="~/MasSystem/images/signature/Pic.svg" class="w-100"
                                 id="UploadSigntaurePic">
                            <input type="file" id="imageUpload" accept="image/*"
                                   style="display: none;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="~/MasSystem/scripts/Scripts.js"></script>
    <script src="~/MasSystem/scripts/signature.js"></script>

    <!-- local scripts  -->
}

