@model Bnan.Ui.ViewModels.Identitiy.ChangePasswordVM

@inject IViewLocalizer localizer
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
       ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";  
}

<div class="container-fluid h-100 main-container-fluid">
    <div class="row h-100 flex-nowrap">

        <div class="col my-3 d-flex align-items-center justify-content-center ">
            <div class="container ">
                <form asp-area="MAS" asp-controller="Users" asp-action="ChangePassword" method="post" class="needs-validation" novalidate>
                    <div class="row  g-3 justify-content-center">

                        <div class="col-lg-6 changePasword-container">
                            <div class="row g-3 my-2 px-3">
                                <div class="col-md-6">
                                    <h3> @localizer["MasChangePassword"] </h3>
                                </div>
                                <div class="col-md-6 save-col">
                                    <button type="submit" class="custom-img-btn">
                                        <img src="~/MasSystem/images/save.svg" />
                                    </button>
                                </div>
                            </div>

                            <div class="container-fluid">

                                <div class="row g-3 mt-3 align-items-center justify-content-center">
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <img src="~/MasSystem/images/pic (2).svg">
                                            </div>
                                            <div class="col-md-12">
                                                <label for="CurrentPasword" class="form-label">@localizer["MasCurrentPassword"]</label>
                                                <div class="input-wrapper">
                                                    <img src="~/MasSystem/images/Frame (6).svg" class="lock-icon">
                                                    <i class="fa-regular fa-eye-slash toggle-password"></i>
                                                    <input type="password" id="CurrentPasword" class="form-control inputs text-center password-input" asp-for="CurrentPassword" maxlength="10">
                                                    <div class="invaild">
                                                        <div class="invalid-feedback">
                                                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                                            @Html.ValidationMessage("CurrentPassInCorrect", null, new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <label for="NewPassword" class="form-label">@localizer["MasNewPassword"] </label>
                                                <div class="input-wrapper">
                                                    <img src="~/MasSystem/images/Frame (6).svg" class="lock-icon">
                                                    <i class="fa-regular fa-eye-slash toggle-password"></i>
                                                    <input type="password" id="NewPassword" class="form-control inputs text-center password-input" asp-for="NewPassword" maxlength="10">
                                                    <div class="invaild">
                                                        <div class="invalid-feedback">
                                                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                                                            @Html.ValidationMessage("CannotUseCurrentPassword", null, new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <label for="Confirm-password" class="form-label">@localizer["MasConfirmNewPassword"]</label>
                                                <div class="input-wrapper">
                                                    <img src="~/MasSystem/images/Frame (6).svg" class="lock-icon">
                                                    <i class="fa-regular fa-eye-slash toggle-password"></i>
                                                    <input type="password" id="Confirm-password" class="form-control inputs text-center password-input" asp-for="ConfirmPassword" maxlength="10" >
                                                    <div class="invaild">
                                                        <div class="invalid-feedback">
                                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="~/MasSystem/index.html" data-bs-toggle="tooltip" data-bs-placement="top"
                               data-bs-custom-class="custom-tooltip" data-bs-title="@localizer["BackToHome"]"
                               class="new-Page-icon"><img src="~/MasSystem/images/back to main.svg" alt="man"></a>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>

</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}