@using Bnan.Core.Extensions;
@using Bnan.Core.Models
@using Bnan.Ui.ViewModels.Owners
﻿@using Microsoft.AspNetCore.Builder;
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Localization;
@using Microsoft.AspNetCore.Http.Features;
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.EntityFrameworkCore;
@using Microsoft.Extensions.Options;
@using System.Globalization;

@inject UserManager<CrMasUserInformation> userManager
@inject SignInManager<CrMasUserInformation> signinManager
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@model OwnersLayoutVM
@{
    var user = await userManager.GetUserAsync(User);
    var lessorInfo = await userManager.Users.Include(l => l.CrMasUserInformationLessorNavigation).ThenInclude(l => l.CrMasLessorImage).FirstOrDefaultAsync(x => x.UserName == user.UserName);
    var lessorCompanyContract = await userManager.Users.Include(l => l.CrMasUserInformationLessorNavigation).ThenInclude(l => l.CrMasContractCompanies).FirstOrDefaultAsync(x => x.UserName == user.UserName);
    var userInfo = await userManager.Users
          .Include(l => l.CrMasUserMainValidations)
          .Include(l => l.CrMasUserSubValidations)
          .Include(l => l.CrMasUserInformationLessorNavigation)
          .FirstOrDefaultAsync(l => l.UserName == user.UserName);
    string url = Context.Request.Path;
    string urlhost = Context.Request.Host.Value;
    string full = urlhost + url;
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var returnUrl = ViewData["returnUrl"];
}

<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, initial-scale=1.0, user-scalable=no">
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" href="~/Bnan.png" type="image/x-icon" />
    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Cairo:slnt,wght@@-11..11,200..1000&display=swap"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link href="/OwnersSys/css/Layout.css" rel="stylesheet">
    <link href="/OwnersSys/css/owners.css" rel="stylesheet">
    <link href="/OwnersSys/css/animate.css" rel="stylesheet">
    @if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
    {
        <link href="/OwnersSys/css/En_Style.css" rel="stylesheet">
    }
</head>

<body id="page-top">
    <!-- Page Wrapper -->

    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav  sidebar sidebar-dark accordion " id="accordionSidebar">

            <div class="d-flex flex-column justify-content-between h-100 ">
                <div>
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn d-md-none rounded-circle d-flex">
                        <i class="fa-solid fa-xmark fa-1x toggleButton"></i>
                    </button>
                    <!-- Sidebar -  -->
                    <div class="col lang-button-col">
                        @if (requestCulture.RequestCulture.UICulture.Name == "en-US")
                        {
                            <label for="myCheckbox" class="lang-button m-2" id="checkboxLabel">
                                العربية <i class="fa-solid fa-globe lang_globe"></i>
                            </label>
                        }
                        else
                        {
                            <label for="myCheckbox" class="lang-button" id="checkboxLabel">
                                English <i class="fa-solid fa-globe lang_globe"></i>
                            </label>
                        }
                    </div>

                    <a class="sidebar-brand d-flex align-items-center justify-content-center" style="margin-top: 15rem;"
                       href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <div class="row flex-column align-items-center">
                            <div class="col-12 d-flex align-items-center justify-content-center ">
                                <div class="Profile">
                                    <img src="@Url.Content(user.CrMasUserInformationPicture?.ToString())" alt="Profile photo" class="user-photo ">
                                </div>
                            </div>
                            <div class=" sidebar-brand-text col-12  mb-5  mt-3">
                                <h6 class="user_name wow fadeInDown" data-wow-delay=".5s">
                                    @if (requestCulture.RequestCulture.UICulture.Name == "en-US")
                                    {
                                        @user.CrMasUserInformationEnName
                                    }
                                    else
                                    {
                                        @user.CrMasUserInformationArName
                                    }
                                </h6>
                                <p class="wow fadeInDown" data-wow-delay=".5s">
                                    @if (requestCulture.RequestCulture.UICulture.Name == "en-US")
                                    {
                                        @user.CrMasUserInformationTasksEnName
                                    }
                                    else
                                    {
                                        @user.CrMasUserInformationTasksArName
                                    }
                                </p>
                            </div>
                        </div>
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow  user-dropdown" aria-labelledby="userDropdown">
                        <p class="welcome-Message">
                            @localizer["Welcome"]
                            @if (requestCulture.RequestCulture.UICulture.Name == "en-US")
                            {
                                @user.CrMasUserInformationEnName
                            }
                            else
                            {
                                @user.CrMasUserInformationArName
                            }
                        </p>
                        <a class="dropdown-item" href="/Identity/Account/Systems">
                            <div class="row">
                                <div class="col-auto">
                                    <img src="/OwnersSys/img/Frame (7).svg">
                                </div>
                                <div class="col">
                                    <p>
                                        @localizer["Systems"]
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a class="dropdown-item" href="/Identity/Account/Logout">
                            <div class="row">
                                <div class="col-auto">
                                    <img src="/OwnersSys/img/Frame (8).svg">
                                </div>
                                <div class="col">
                                    <p>
                                        @localizer["Logout"]
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Nav Item - Dashboard -->
            <li class="nav-item mt-5 @(ViewBag.Dashboard == true ? "active" : "")">
                <a class="nav-link" href="/Owners/Home/Index">
                    <span>@localizer["Dashboard"]</span>
                </a>
            </li>
            <!-- Heading -->
            <li class="nav-item">
                <a class="nav-link @(ViewBag.Indicators == true ? "active" : "")" href="#" data-bs-toggle="collapse" data-bs-target="#collapseUtilities"
                   aria-expanded="true" aria-controls="collapseUtilities">
                    <span style="color: #39629c;"> @localizer["Indicators"] </span>
                </a>
                <div class="collapse show">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item @(ViewBag.Tenants == true ? "active" : "")" href="/Owners/Renters/Indicators"> @localizer["Tenants"] <img src="/OwnersSys/img/Frame (6).svg"></a>
                        <a class="collapse-item @(ViewBag.Contracts == true ? "active" : "")" href="/Owners/Contracts/Indicators">  @localizer["Contracts"] <img src="/OwnersSys/img/Frame (5).svg"></a>
                        <a class="collapse-item @(ViewBag.Cars == true ? "active" : "")" href="/Owners/Cars/Indicators">  @localizer["Cars"] <img src="/OwnersSys/img/Frame (4).svg"> </a>
                    </div>
                </div>
            </li>
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
            <div>
                <div class="row flex-column align-items-center justify-content-center mb-lg-5">
                    <div class="col-12 d-flex align-items-center justify-content-center ">
                        <div class="Profile company-logo" style="width: auto;">
                            <img src="@Url.Content(lessorInfo?.CrMasUserInformationLessorNavigation?.CrMasLessorImage?.CrMasLessorImageLogo)" alt="company logo" class="mb-3 w-100" style="height: 80px;">
                        </div>
                    </div>
                    <div class="sidebar-brand-text col-12 text-center">
                        <h6 class="company_name ">
                                    @if (requestCulture.RequestCulture.UICulture.Name == "en-US")
                                    {
                                        @userInfo.CrMasUserInformationLessorNavigation.CrMasLessorInformationEnLongName
                                    }
                                    else
                                    {
                                        @userInfo.CrMasUserInformationLessorNavigation.CrMasLessorInformationArLongName
                                    }
                        </h6>
                    </div>
                </div>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div class="layer"></div>

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-transparent topbar static-top  align-items-baseline">

                    <div class="col bars-button">
                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars toggleButton"></i>
                        </button>
                    </div>


                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Content Row -->
                    <div class="row mb-4 g-3">
                        <div class=" col-sm-6 col-lg-3">
                            <div class="card border-left-primary h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-sm-6 data-card">
                                            <span>@localizer["Contracts"]</span>
                                            <span class=" data-card-number">@Model.OwnContracts?.Count().ToString("N0", CultureInfo.InvariantCulture)</span>

                                        </div>
                                        <div class="col-sm-6 data-icon">
                                            <div class="rate-card_icon">
                                                <img src="/OwnersSys/img/contract.svg"
                                                     alt="contracts_icon">
                                            </div>

                                        </div>
                                    </div>
                                    <hr class="card-hr">
                                    <div class="row">
                                        <div class="col-md-6 data-card2"><span>@localizer["Closed_count"]</span> <span>@Model.OwnContracts?.Where(x => x.CrCasRenterContractBasicStatus == Status.Closed).Count().ToString("N0", CultureInfo.InvariantCulture)</span></div>
                                        <div class="col-md-auto data-card2"><span>@localizer["Suspended_count"]</span> <span>@Model.OwnContracts?.Where(x => x.CrCasRenterContractBasicStatus == Status.Suspend).Count().ToString("N0", CultureInfo.InvariantCulture)</span></div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6 data-card2"><span>@localizer["List_count"]</span> <span>@Model.OwnContracts?.Where(x => x.CrCasRenterContractBasicStatus == Status.Active).Count().ToString("N0", CultureInfo.InvariantCulture)</span></div>
                                        <div class="col-md-auto data-card2"><span>@localizer["Saved_count"]</span> <span>@Model.OwnContracts?.Where(x => x.CrCasRenterContractBasicStatus == Status.Saved).Count().ToString("N0", CultureInfo.InvariantCulture)</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @{
                            
                            var carCount = Model.OwnCars?.Count();
                            var rentedCarCount = Model.OwnCars?.FindAll(x => x.CrCasCarInformationStatus == Status.Rented).Count();
                            var avaliableCar = Model.OwnCars?.FindAll(x => x.CrCasCarInformationStatus == Status.Active &&
                            x.CrCasCarInformationPriceStatus == true && x.CrCasCarInformationBranchStatus == Status.Active &&
                            x.CrCasCarInformationOwnerStatus == Status.Active &&
                            (x.CrCasCarInformationForSaleStatus == Status.Active || x.CrCasCarInformationForSaleStatus == Status.RendAndForSale)).Count();
                            var unAvaliableCarCount = carCount - avaliableCar - rentedCarCount;
                        }
                        <div class=" col-sm-6 col-lg-3">
                            <div class="card border-left-success h-100 py-2 ">
                                <div class="card-body ">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-sm-8 data-card">
                                            <span>@localizer["Cars"]</span>
                                            <span> @carCount?.ToString("N0", CultureInfo.InvariantCulture)</span>
                                        </div>
                                        <div class="col-sm-4 data-icon">
                                            <div class="rate-card_icon">
                                                <img src="/OwnersSys/img/car.svg" alt="car_icon">
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="card-hr">
                                    <div class="row">
                                        <div class="col-md-6 data-card2"> <span>@localizer["Rented"]</span> <span>@rentedCarCount?.ToString("N0", CultureInfo.InvariantCulture)</span></div>
                                        <div class="col-md-auto data-card2"><span>@localizer["UnAvailable"]</span> <span>@unAvaliableCarCount?.ToString("N0", CultureInfo.InvariantCulture)</span></div>

                                    </div>
                                    <div class="row mt-2">
                                        <div class="col data-card2">
                                            <span>@localizer["Available"]</span>
                                            <span>
                                                @avaliableCar?.ToString("N0", CultureInfo.InvariantCulture)
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-6 col-lg-3">
                            <div class="card border-left-success h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-sm-8 data-card">
                                            <span>@localizer["Tenants"]</span>
                                            <span>@Model.OwnRenters?.Count().ToString("N0", CultureInfo.InvariantCulture)</span>

                                        </div>
                                        <div class="col-sm-4 data-icon">
                                            <div class="rate-card_icon">
                                                <img src="/OwnersSys/img/tenant.svg" alt="tenant_icon">
                                            </div>

                                        </div>
                                    </div>

                                    <hr class="card-hr">
                                    <div class="row">
                                        <div class="col data-card2">
                                            <span>@localizer["With_contracts"]</span> <span>@Model.OwnRenters?.Count(x=>x.CrCasRenterLessorStatus==Status.Rented).ToString("N0", CultureInfo.InvariantCulture)</span>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col data-card2">
                                            <span>@localizer["Without_contracts"]</span> <span>@Model.OwnRenters?.Count(x => x.CrCasRenterLessorStatus == Status.Active).ToString("N0", CultureInfo.InvariantCulture)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-6 col-lg-3">
                            @{
                                var compenations = Model.OwnContracts?.Where(x => x.CrCasRenterContractBasicStatus == Status.Closed).Sum(x => x.CrCasRenterContractBasicCompensationValue);
                                var Revenues = Model.OwnContracts?.Where(x => x.CrCasRenterContractBasicStatus == Status.Closed).Sum(x => x.CrCasRenterContractBasicActualTotal);
                                var TotalRevenes = compenations + Revenues;
                            }
                            <div class="card border-left-success h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-sm-8 data-card">
                                            <span>@localizer["Revenue"]</span>
                                            <span class="data-card-number">@TotalRevenes?.ToString("N2", CultureInfo.InvariantCulture)</span>
                                        </div>
                                        <div class="col-sm-4 data-icon">
                                            <div class="rate-card_icon">
                                                <img src="/OwnersSys/img/revenue.svg" alt="balance-icon">
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="card-hr">
                                    <div class="row">
                                        <div class="col data-card2">
                                            <span>@localizer["Contracts"]</span>
                                            <span>@Revenues?.ToString("N2", CultureInfo.InvariantCulture)</span>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col data-card2">
                                            <span>@localizer["Compensations"]</span>
                                            <span>@compenations?.ToString("N2", CultureInfo.InvariantCulture)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <partial name="_ExpirationModalOWN" />
                    <!-- Content Row -->
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">@localizer["Cancel"]</button>
                    <a class="btn btn-primary" href="/Identity/Account/Logout">@localizer["Logout"]</a>
                </div>
            </div>
        </div>
    </div>

    <!-- wow.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"
            integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- charts.js core JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
    <!-- Anycharts.js core JavaScript-->
    <script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-pie.min.js"></script>
    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"
            integrity="sha512-0QbL0ph8Tc8g5bLhfVzSqxe9GERORsKhIn1IrpxDAgUsbBGz/V7iSav2zzW325XGd1OMLdL4UiqRJj702IeqnQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- bootsrab animation -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>


    <script src="/OwnersSys/js/owners.js"></script>
    @*Auto Logout*@
    <script src="~/BranchSys/js/javascript/idleTimeoutHandler.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")
    @*Auto Logout*@
    <script type="text/javascript">
        $(document).ready(function () {
            var exitUser = parseInt("@user.CrMasUserInformationExitTimer"); // Get the dynamic value
            // Call the idle timeout handler function
            initializeIdleTimeoutHandler(exitUser);
        });
    </script>
    <script>
        // Get the checkbox label element
        var checkboxLabel = document.getElementById("checkboxLabel");
        // Add click event listener
        checkboxLabel.addEventListener("click", function () {
            // Construct the URL with parameters
            var returnUrl = "@returnUrl"; // Make sure this variable is properly set in your Razor view
            var culture = "";
            if ("@requestCulture?.RequestCulture.UICulture.Name" == "en-US") {
                culture = "ar-EG";
            }
            else {
                culture = "en-US";
            }
            var url = "/Owners/Home/SetLanguage?returnUrl=" + encodeURIComponent(returnUrl) + "&culture=" + culture;

            // Navigate to the constructed URL
            window.location.href = url;
        });
    </script>
</body>

</html>