

@using Bnan.Core.Extensions
@using Bnan.Ui.ViewModels.CAS;
@model listReportFTPsalesPointVM
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

<div hidden>
    <input value="@Model.summition?.Creditor_Total?.ToString("N2",CultureInfo.InvariantCulture)" id="in_credit" name="in_credit" hidden />
    <input value="@Model.summition?.Debitor_Total?.ToString("N2",CultureInfo.InvariantCulture)" id="in_debit" name="in_debit" hidden />
</div>

                        

<div class="col-md-12">
    <div class="row table-row px-3">
        <div class="col  scroll-extended-table-div scroll-table-div  table-responsive-sm  w-100  ">
            <table class=" tables-style table table-borderless " id="Table">
                <thead class="sticky-top">
                    <tr>

                        <th>@localizer["FTR_bond_pdf_n"]</th>
                        <th>@localizer["FTR_previuos_Balance"]</th>
                        <th>@localizer["FTR_Debtor"]</th>
                        <th> @localizer["FTR_Creditor"]</th>
                        <th class="DifferAlign"> @localizer["FTR_User_Transector"]</th>
                        <th class="DifferAlign"> @localizer["FTR_Reference_Type"]</th>
                        <th class="DifferAlign"> @localizer["Branch"]</th>
                        <th class="DifferAlign">@localizer["FTR_Serial_No_n"]</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var no = 1;
                    }
                    @foreach (var item in Model.all_Recipts)
                    {

                        var credit = item.CrCasAccountReceiptPayment;
                        var debit = item.CrCasAccountReceiptReceipt;
                        var userPreviousBalance = item.userPreviousBalance;
                        var issuedDate = item.CrCasAccountReceiptDate;
                        var paymentMethod = " ";
                        var RefrenceType = " ";
                        var Employee = " ";
                        var branch = " ";

                        var bond_pdf = "#";
                        var bond_pdf_blank = "";
                        if (item.CrCasAccountReceiptPdfFile != null && item.CrCasAccountReceiptPdfFile != "") { bond_pdf = item.CrCasAccountReceiptPdfFile?.ToString().Replace("~", ""); bond_pdf_blank = "_blank"; }

                        if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
                        {
                            paymentMethod = item.PaymentMethod_En;
                            RefrenceType = item.ReferanceType_En;
                            Employee = Model.all_UserData?.Find(x => x.CrMasUserInformationCode== item.CrCasAccountReceiptUser)?.CrMasUserInformationEnName;
                            branch = item.branch_En ?? " ";
                        }
                        else
                        {
                            paymentMethod = item.PaymentMethod_Ar;
                            RefrenceType = item.ReferanceType_Ar;
                            Employee = Model.all_UserData?.Find(x => x.CrMasUserInformationCode == item.CrCasAccountReceiptUser)?.CrMasUserInformationArName;
                            branch = item.branch_Ar ?? " ";
                        }


                        <tr onclick="getDetails('@item.CrCasAccountReceiptNo')" style="cursor:pointer;">
                            <td><a href="@bond_pdf" target="@bond_pdf_blank" onclick="PdfClicked()"><img src="~/MasSystem/images/Rectangle 197.svg"></a></td>
                            <td>
                                <p>@userPreviousBalance?.ToString("N2",CultureInfo.InvariantCulture)</p>
                            </td>
                            <td>
                                <p>@debit?.ToString("N2",CultureInfo.InvariantCulture)</p>
                            </td>
                            <td>
                                <p>@credit?.ToString("N2",CultureInfo.InvariantCulture)</p>
                            </td>
                            <td class="DifferAlign">
                                <p class="FirstLineP">@Employee</p>
                                <p class="secondLineP">@paymentMethod</p>
                            </td>
                            <td class="DifferAlign">
                                <p class="FirstLineP">@item.CrCasAccountReceiptReferenceNo</p>
                                <p class="secondLineP">@RefrenceType</p>
                            </td>
                            <td>
                                <p class="DifferAlign">@branch</p>
                            </td>



                            <td class="DifferAlign">
                                <p class="FirstLineP"> @item.CrCasAccountReceiptNo</p>
                                <div class="d-flex justify-content-end gap-1 gap-md-5 flex-wrap">
                                    <div class="d-flex justify-content-end gap-1">
                                        @if (requestCulture?.RequestCulture.UICulture.Name == "en-US"){
                                            <p class="secondLineP">
                                                <span class="time">@issuedDate?.ToString("HH:mm -",CultureInfo.InvariantCulture)</span>@issuedDate?.ToString("dd/MM/yyyy",CultureInfo.InvariantCulture)
                                            </p>
                                        }
                                        else
                                        {
                                            <p class="secondLineP">
                                                @issuedDate?.ToString("dd/MM/yyyy",CultureInfo.InvariantCulture)<span class="time">@issuedDate?.ToString("- HH:mm",CultureInfo.InvariantCulture)</span>
                                            </p>
                                        }
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="filter-number-td">
                                    @if (item.CrCasAccountReceiptIsPassing == "1")
                                    {
                                        <div class="filters filter2-div"></div>
                                    }
                                    else if (item.CrCasAccountReceiptIsPassing == "2")
                                    {
                                        <div class="filters filter1-div"></div>
                                    }
                                    else if (item.CrCasAccountReceiptIsPassing == "3")
                                    {
                                        <div class="filters filter3-div"></div>
                                    }
                                    else if (item.CrCasAccountReceiptIsPassing == "4")
                                    {
                                        <div class="filters filter3-div"></div>
                                    }


                                    <div>@no</div>

                                </div>
                            </td>
                            
                            
                        </tr>
                        no++;
                    }

                </tbody>
            </table>

        </div>
    </div>

</div>

