@using Bnan.Core.Extensions
@using Bnan.Ui.ViewModels.BS;
@model BSLayoutVM
@inject IViewLocalizer localizer
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
@if (Model.CarsCheckUp != null)
{
    @if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
    {
        @foreach (var item in Model.CarsCheckUp)
        {
            <tr>
                <td class="text-center">
                    <textarea class="check-table-notes text-start" name="CheckupDetails[@item.CrMasSupContractCarCheckupCode].Reason" maxlength="50" autocomplete="off"></textarea>
                </td>
                @{
                    var CarCheckupDetails = item.CrMasSupContractCarCheckupDetails.Where(x => x.CrMasSupContractCarCheckupDetailsStatus == Status.Active);
                }
                @if (CarCheckupDetails.Count() > 0)
                {
                    <td>
                        <select class="form-select table-select-style" aria-label="Default select example" name="CheckupDetails[@item.CrMasSupContractCarCheckupCode].ReasonCheck">
                            @foreach (var CheckupDetail in CarCheckupDetails)
                            {
                                <option value="@CheckupDetail.CrMasSupContractCarCheckupDetailsEnName">
                                    @CheckupDetail.CrMasSupContractCarCheckupDetailsEnName
                                </option>
                            }
                        </select>
                    </td>
                }
                <td class="tabel-data-checkbox-td">
                    <div class="options-col">
                        <label class="form-check-label Tires" for="Tires" data-en="@item.CrMasSupContractCarCheckupEnName" data-ar="@item.CrMasSupContractCarCheckupArName">
                            @item.CrMasSupContractCarCheckupEnName
                            </label>
                        <input class="form-check-input Settlement-input-checkbox CheckUp" type="checkbox" name="CheckupDetails[@item.CrMasSupContractCarCheckupCode].CheckUp" value="Tires" id="CheckUp_@item.CrMasSupContractCarCheckupCode">
                        <input type="hidden" name="CheckupDetails[@item.CrMasSupContractCarCheckupCode].CheckUp" value="false" />
                    </div>
                </td>
            </tr>
        }
    }
    else
    {
        @foreach (var item in Model.CarsCheckUp)
        {
            <tr>
                <td class="text-center">
                    <textarea class="check-table-notes text-end" name="CheckupDetails[@item.CrMasSupContractCarCheckupCode].Reason" maxlength="50" autocomplete="off"></textarea>
                </td>
                @{
                    var CarCheckupDetails = item.CrMasSupContractCarCheckupDetails.Where(x => x.CrMasSupContractCarCheckupDetailsStatus == Status.Active);
                }
                @if (CarCheckupDetails.Count() > 0)
                {
                    <td>
                        <select class="form-select table-select-style" aria-label="Default select example" name="CheckupDetails[@item.CrMasSupContractCarCheckupCode].ReasonCheck">
                            @foreach (var CheckupDetail in CarCheckupDetails)
                            {
                                <option value="@CheckupDetail.CrMasSupContractCarCheckupDetailsArName">
                                    @CheckupDetail.CrMasSupContractCarCheckupDetailsArName
                                </option>
                            }
                        </select>
                    </td>
                }
                <td class="tabel-data-checkbox-td">
                    <div class="options-col">
                        <label class="form-check-label Tires" for="Tires" data-en="@item.CrMasSupContractCarCheckupEnName" data-ar="@item.CrMasSupContractCarCheckupArName">
                            @item.CrMasSupContractCarCheckupArName
                        </label>
                        <input class="form-check-input Settlement-input-checkbox CheckUp" type="checkbox" name="CheckupDetails[@item.CrMasSupContractCarCheckupCode].CheckUp" value="Tires" id="CheckUp_@item.CrMasSupContractCarCheckupCode">
                        <input type="hidden" name="CheckupDetails[@item.CrMasSupContractCarCheckupCode].CheckUp" value="false" />
                    </div>
                </td>
            </tr>
        }
    }
}
