@using Bnan.Core.Extensions;
@using Bnan.Ui.ViewModels.MAS;
@using Microsoft.AspNetCore.Identity;
@using Newtonsoft.Json;
﻿@using Microsoft.AspNetCore.Builder;
@using Microsoft.AspNetCore.Localization;
@using Microsoft.AspNetCore.Http.Features;
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.EntityFrameworkCore;
@using Microsoft.Extensions.Options;
@using System.Globalization;
@model MasStatistics_CarsVM
@inject UserManager<CrMasUserInformation> userManager
@inject SignInManager<CrMasUserInformation> signinManager
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    ViewData["Page-title"] = @localizer["CarStatistics Data"];
    ViewData["Page-Hint"] = @localizer["CarStatistics Hint"];
}
    <div class="col my-2 d-flex align-items-center justify-content-center">
    <div class="container NewUpdate-container">
        <div class="row justify-content-center">
            <div class="col-lg-11">
                <div class="row g-3 my-3">
                    <div class="col-md-12">
                        <h3>@localizer["CarStatistics_Statistics_Cars_n"]</h3>
                    </div>
                    <div class="col-md-12 ">
                        <p class="d-inline-block headLines">@localizer["CarStatistics_count_Cars"] : </p>
                        @*<p class="d-inline-block Saved-data headLines">@(Model.Cars_Count?.ToString("0") ?? "0") @localizer["CarStatistics_Car"]</p>*@
                        <p class="d-inline-block Saved-data headLines">@(Model.Cars_Count?.ToString("0") ?? "0")</p>

                    </div>
                    <div class="col-md-12">
                        <div class="row mt-3 g-2 justify-content-between">
                            <div class="col-lg-3">
                                <p class="headLines">@localizer["RenterStatistics_Type_n"]</p>
                                <div class="row">
                                    <div class="col-4 col-lg-9">
                                        <button class="btn stat-btn active-stat-btn" 
                                                onclick="handleButtonClick(this, areaChart)">
                                            @localizer["CarStatistics_Rigon"]
                                        </button>
                                    </div>
                                    <div class="col-4 col-lg-9">
                                        <button class="btn stat-btn"
                                                onclick="handleButtonClick(this, cityChart)">
                                            @localizer["CarStatistics_City"]
                                        </button>
                                    </div>
                                    <div class="col-4 col-lg-9">
                                        <button class="btn stat-btn"
                                                onclick="handleButtonClick(this, brandChart)">
                                            @localizer["CarStatistics_Brand"]
                                        </button>
                                    </div>
                                    <div class="col-4 col-lg-9">
                                        <button class="btn stat-btn"
                                                onclick="handleButtonClick(this, modelChart)">
                                            @localizer["CarStatistics_Model"]
                                        </button>
                                    </div>
                                    <div class="col-4 col-lg-9">
                                        <button class="btn stat-btn"
                                                onclick="handleButtonClick(this, categoryChart)">
                                            @localizer["CarStatistics_Category"]
                                        </button>
                                    </div>
                                    <div class="col-4 col-lg-9">
                                        <button class="btn stat-btn"
                                                onclick="handleButtonClick(this, yearChart)">
                                            @localizer["CarStatistics_year"]
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-9 text-center charts-border">
                                <canvas id="myChart"></canvas>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
            <a asp-area="CAS" asp-controller="Home" asp-action="Index" data-bs-toggle="tooltip" data-bs-placement="top"
           data-bs-custom-class="custom-tooltip" data-bs-title="@localizer["BackToHome"]"
           class="new-Page-icon"><img src="~/MasSystem/images/back to main.svg" alt="man"></a>
    </div>
</div>




@section Scripts {


    <!--- @*<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>*@ --->
    <script src="~/MasSystem/js/chart.js"></script>
            
<!---@*    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="~/MasSystem/scripts/Scripts.js"></script>>*@--->
    <script>
        window.addEventListener('load', function () {
            $("#min-loader").toggleClass("d-none", true);
            areaChart()
        })
    </script>

    <script>
        let chartInstance = null;

        function handleButtonClick(button, chartFunction) {
            document.querySelectorAll('.stat-btn').forEach(btn => btn.classList.remove('active-stat-btn'));

            button.classList.add('active-stat-btn');

            chartFunction();
        }
        function createChart(chartType, chartData, chartOptions) {
            const ctx = document.getElementById('myChart').getContext('2d');

            if (chartInstance) {
                chartInstance.destroy();
            }

            chartInstance = new Chart(ctx, {
                type: chartType,
                data: chartData,
                options: chartOptions
            });
        }

        async function GetAllBy_Profession() {
            $("#min-loader").removeClass("d-none");
            return new Promise((resolve, reject) => {

            $.ajax({
                type: "GET",
                //data: {
                //    start: start, end: end
                //},
                url: "@Url.Action("GetAllBy_Profession", "CarStatistics", new { Area = "MAS" })",
                success: function (response) {
                    $("#min-loader").toggleClass("d-none", true);
                    //$(".chart22").html(response);
                    console.log(response);
                    resolve(response); // عند نجاح الطلب، نقوم بإرجاع البيانات باستخدام resolve
                },
                error: function (error) {
                    reject(error); // إذا حدث خطأ في الطلب، نستخدم reject
                }
            });
            });
        }

        async function GetAllBy_City() {
            $("#min-loader").removeClass("d-none");
            return new Promise((resolve, reject) => {

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetAllBy_City", "CarStatistics", new { Area = "MAS" })",
                    success: function (response) {
                        $("#min-loader").toggleClass("d-none", true);
                        console.log(response);
                        resolve(response); // عند نجاح الطلب، نقوم بإرجاع البيانات باستخدام resolve
                    },
                    error: function (error) {
                        reject(error); // إذا حدث خطأ في الطلب، نستخدم reject
                    }
                });
            });
        }

        async function GetAllBy_Region() {
            $("#min-loader").removeClass("d-none");
            return new Promise((resolve, reject) => {

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetAllBy_Region", "CarStatistics", new { Area = "MAS" })",
                    success: function (response) {
                        $("#min-loader").toggleClass("d-none", true);
                        console.log(response);
                        resolve(response); // عند نجاح الطلب، نقوم بإرجاع البيانات باستخدام resolve
                    },
                    error: function (error) {
                        reject(error); // إذا حدث خطأ في الطلب، نستخدم reject
                    }
                });
            });
        }

        async function GetAllBy_Brand() {
            $("#min-loader").removeClass("d-none");
            return new Promise((resolve, reject) => {

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetAllBy_Brand", "CarStatistics", new { Area = "MAS" })",
                    success: function (response) {
                        $("#min-loader").toggleClass("d-none", true);
                        console.log(response);
                        resolve(response); // عند نجاح الطلب، نقوم بإرجاع البيانات باستخدام resolve
                    },
                    error: function (error) {
                        reject(error); // إذا حدث خطأ في الطلب، نستخدم reject
                    }
                });
            });
        }

        async function GetAllBy_Model() {
            $("#min-loader").removeClass("d-none");
            return new Promise((resolve, reject) => {

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetAllBy_Model", "CarStatistics", new { Area = "MAS" })",
                    success: function (response) {
                        $("#min-loader").toggleClass("d-none", true);
                        console.log(response);
                        resolve(response); // عند نجاح الطلب، نقوم بإرجاع البيانات باستخدام resolve
                    },
                    error: function (error) {
                        reject(error); // إذا حدث خطأ في الطلب، نستخدم reject
                    }
                });
            });
        }

        async function GetAllBy_Category() {
            $("#min-loader").removeClass("d-none");
            return new Promise((resolve, reject) => {

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetAllBy_Category", "CarStatistics", new { Area = "MAS" })",
                    success: function (response) {
                        $("#min-loader").toggleClass("d-none", true);
                        console.log(response);
                        resolve(response); // عند نجاح الطلب، نقوم بإرجاع البيانات باستخدام resolve
                    },
                    error: function (error) {
                        reject(error); // إذا حدث خطأ في الطلب، نستخدم reject
                    }
                });
            });
        }

        async function GetAllBy_Year() {
            $("#min-loader").removeClass("d-none");
            return new Promise((resolve, reject) => {

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetAllBy_Year", "CarStatistics", new { Area = "MAS" })",
                    success: function (response) {
                        $("#min-loader").toggleClass("d-none", true);
                        console.log(response);
                        resolve(response); // عند نجاح الطلب، نقوم بإرجاع البيانات باستخدام resolve
                    },
                    error: function (error) {
                        reject(error); // إذا حدث خطأ في الطلب، نستخدم reject
                    }
                });
            });
        }

        async function areaChart() {
            let listBranchData = await GetAllBy_Region();

            let labelsBranch;
            if ('@requestCulture?.RequestCulture.UICulture.Name' == "en-US") {

                labelsBranch = listBranchData.map(function (paymentMethod) {
                    return paymentMethod.enName;
                });
            }
            else {
                labelsBranch = listBranchData.map(function (paymentMethod) {
                    return paymentMethod.arName;
                });
            }

            let dataValues = listBranchData.map(function (paymentMethod) {
                return paymentMethod.value;
            });
            createChart('bar', {
                //labels: ['الشرقية', 'مكة المكرمة', 'الرياض', 'عسير', 'جازان', 'المدينة المنورة'],
                labels: labelsBranch,
                
                datasets: [{
                    barThickness: 40,
                    minBarLength: 2,
                    //data: [15, 20, 25, 30, 60, 90],
                    data: dataValues,
                    
                    backgroundColor: ['#FF99AF', '#8BC9F3', '#FFE199', '#8ED7D7', '#C9ADFF', '#FFCC99'],
                    borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(54, 162, 235)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                        'rgb(153, 102, 255)',
                        'rgb(255, 159, 64)',

                    ],
                    borderWidth: 2
                }]
            }, {
                responsive: true,
                plugins: {
                    legend: {
                        display: false
                    },
                    title: {
                        display: true,
                        text: "@localizer["Car_inChart_Region"]",
                        font: {
                            family: "'Cairo', sans-serif",
                            size: 15,
                            weight: '600'
                        },
                        padding: {
                            top: 20,
                            bottom: 25
                        }
                    }
                },
                scales: {
                    x: {
                        type: 'category',
                        ticks: {
                            display: true,
                            font: {
                                family: "'Cairo', sans-serif",
                                size: 12
                            }
                        }
                    }
                }
            });
        }

        async function cityChart() {
            let listBranchData = await GetAllBy_City();

            let labelsBranch;
            if ('@requestCulture?.RequestCulture.UICulture.Name' == "en-US") {

                labelsBranch = listBranchData.map(function (paymentMethod) {
                    return paymentMethod.enName;
                });
            }
            else {
                labelsBranch = listBranchData.map(function (paymentMethod) {
                    return paymentMethod.arName;
                });
            }

            let dataValues = listBranchData.map(function (paymentMethod) {
                return paymentMethod.value;
            });
            createChart('bar', {
                labels: labelsBranch,
                datasets: [{
                    barThickness: 40,
                    minBarLength: 2,
                    data: dataValues,
                    backgroundColor: ['#FF99AF', '#8BC9F3', '#FFE199', '#8ED7D7', '#C9ADFF', '#FFCC99', '#F1F2F3'],
                    borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(54, 162, 235)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                        'rgb(153, 102, 255)',
                        'rgb(255, 159, 64)',
                        '#C9CBCF'

                    ],
                    borderWidth: 2
                }]
            }, {
                responsive: true,
                plugins: {
                    legend: {
                        display: false
                    },
                    title: {
                        display: true,
                        text: "@localizer["Car_inChart_City"]",
                        font: {
                            family: "'Cairo', sans-serif",
                            size: 15,
                            weight: '600'
                        },
                        padding: {
                            top: 20,
                            bottom: 25
                        }
                    }
                },
                scales: {
                    x: {
                        type: 'category',
                        ticks: {
                            display: true,
                            font: {
                                family: "'Cairo', sans-serif",
                                size: 12
                            }
                        }
                    }
                }
            });
        }

        async function brandChart() {
            let listBranchData = await GetAllBy_Brand();

            let labelsBranch;
            if ('@requestCulture?.RequestCulture.UICulture.Name' == "en-US") {

                labelsBranch = listBranchData.map(function (paymentMethod) {
                    return paymentMethod.enName;
                });
            }
            else {
                labelsBranch = listBranchData.map(function (paymentMethod) {
                    return paymentMethod.arName;
                });
            }

            let labelsBranch2;
            if ('@requestCulture?.RequestCulture.UICulture.Name' == "en-US") {
                // تحويل البيانات إلى تنسيق مناسب
                labelsBranch2 = listBranchData.map(item => ({
                    data: [{ x: item.enName, y: item.value }],
                    backgroundColor: item.backgroundColor,
                    borderColor: item.borderColor,
                    pointRadius: 5
                }));
            }
            else {
                // تحويل البيانات إلى تنسيق مناسب
                labelsBranch2 = listBranchData.map(item => ({
                    data: [{ x: item.arName, y: item.value }],
                    backgroundColor: item.backgroundColor,
                    borderColor: item.borderColor,
                    pointRadius: 5
                }));
            }
            createChart('scatter', {
                datasets: labelsBranch2
            }, {
                responsive: true,
                animations: {
                    radius: {
                        duration: 1000,
                        easing: 'easeInOutQuad',
                        loop: true,
                        from: 5,
                        to: 8
                    },
                    x: {
                        type: 'number',
                        duration: 1000,
                        easing: 'easeInOutQuad'
                    },
                    y: {
                        type: 'number',
                        duration: 1000,
                        easing: 'easeInOutQuad'
                    }
                },
                plugins: {
                    legend: {
                        display: false
                    },
                    title: {
                        display: true,
                        text: "@localizer["Car_inChart_Brand"]",
                        font: {
                            family: "'Cairo', sans-serif",
                            size: 15,
                            weight: '600'
                        },
                        padding: {
                            top: 20,
                            bottom: 25
                        }
                    }
                },
                scales: {
                    x: {
                        type: 'category',
                        //labels: ['هيونداي', 'فورد', 'تويوتا', 'نيسان', 'كيا', 'شيفروليه', 'بيجو', 'أخرى'], // for check on lables
                        labels: labelsBranch,
                        ticks: {
                            display: true,
                            font: {
                                family: "'Cairo', sans-serif",
                                size: 12
                            }
                        }
                    },
                    y: {
                        beginAtZero: true,
                        ticks: {
                            display: true
                        }
                    }
                }
            });
        }
        async function modelChart() {
            let listBranchData = await GetAllBy_Model();

            let labelsBranch;
            if ('@requestCulture?.RequestCulture.UICulture.Name' == "en-US") {

                labelsBranch = listBranchData.map(function (paymentMethod) {
                    return paymentMethod.enName;
                });
            }
            else {
                labelsBranch = listBranchData.map(function (paymentMethod) {
                    return paymentMethod.arName;
                });
            }

            let labelsBranch2;
            if ('@requestCulture?.RequestCulture.UICulture.Name' == "en-US") {
                // تحويل البيانات إلى تنسيق مناسب
                labelsBranch2 = listBranchData.map(item => ({
                    data: [{ x: item.enName, y: item.value }],
                    backgroundColor: item.backgroundColor,
                    borderColor: item.borderColor,
                    pointRadius: 5
                }));
            }
            else {
                // تحويل البيانات إلى تنسيق مناسب
                labelsBranch2 = listBranchData.map(item => ({
                    data: [{ x: item.arName, y: item.value }],
                    backgroundColor: item.backgroundColor,
                    borderColor: item.borderColor,
                    pointRadius: 5
                }));
            }
            createChart('scatter', {
                datasets: labelsBranch2
            }, {
                responsive: true,
                animations: {
                    radius: {
                        duration: 1000,
                        easing: 'easeInOutQuad',
                        loop: true,
                        from: 5,
                        to: 8
                    },
                    x: {
                        type: 'number',
                        duration: 1000,
                        easing: 'easeInOutQuad'
                    },
                    y: {
                        type: 'number',
                        duration: 1000,
                        easing: 'easeInOutQuad'
                    }
                },
                plugins: {
                    legend: {
                        display: false
                    },
                    title: {
                        display: true,
                        text: "@localizer["Car_inChart_Model"]",
                        font: {
                            family: "'Cairo', sans-serif",
                            size: 15,
                            weight: '600'
                        },
                        padding: {
                            top: 20,
                            bottom: 25
                        }
                    }
                },
                scales: {
                    x: {
                        type: 'category',
                        //labels: ['إسكورت', 'تورس', 'يارس', 'النترا', 'سبارك ال اس', 'أزيرا', 'نيرو', 'سوناتا', 'أكسنت', 'ترافيلر', 'كورولا', 'أخرى'],
                        labels: labelsBranch,                      
                        ticks: {
                            display: true,
                            font: {
                                family: "'Cairo', sans-serif",
                                size: 12
                            }
                        }
                    },
                    y: {
                        beginAtZero: true,
                        ticks: {
                            display: true
                        }
                    }
                }
            });
        }
        async function categoryChart() {
            let listBranchData = await GetAllBy_Category();

            let labelsBranch;
            if ('@requestCulture?.RequestCulture.UICulture.Name' == "en-US") {

                labelsBranch = listBranchData.map(function (paymentMethod) {
                    return paymentMethod.enName;
                });
            }
            else {
                labelsBranch = listBranchData.map(function (paymentMethod) {
                    return paymentMethod.arName;
                });
            }

            let dataValues = listBranchData.map(function (paymentMethod) {
                return paymentMethod.value;
            });
            createChart('bar', {
                labels: labelsBranch,
                datasets: [{
                    barThickness: 40,
                    minBarLength: 2,
                    data: dataValues,
                    backgroundColor: ['#FF99AF', '#8BC9F3', '#FFE199', '#8ED7D7', '#C9ADFF', '#FFCC99'],
                    borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(54, 162, 235)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                        'rgb(153, 102, 255)',
                        'rgb(255, 159, 64)',

                    ],
                    borderWidth: 2
                }]
            }, {
                responsive: true,
                plugins: {
                    legend: {
                        display: false
                    },
                    title: {
                        display: true,
                        text: "@localizer["Car_inChart_Category"]",
                        font: {
                            family: "'Cairo', sans-serif",
                            size: 15,
                            weight: '600'
                        },
                        padding: {
                            top: 20,
                            bottom: 25
                        }
                    }
                },
                scales: {
                    x: {
                        type: 'category',
                        ticks: {
                            display: true,
                            font: {
                                family: "'Cairo', sans-serif",
                                size: 12
                            }
                        }
                    }
                }
            });
        }
        async function yearChart() {
            let listBranchData = await GetAllBy_Year();

            let labelsBranch;
            if ('@requestCulture?.RequestCulture.UICulture.Name' == "en-US") {

                labelsBranch = listBranchData.map(function (paymentMethod) {
                    return paymentMethod.enName;
                });
            }
            else {
                labelsBranch = listBranchData.map(function (paymentMethod) {
                    return paymentMethod.arName;
                });
            }

            let dataValues = listBranchData.map(function (paymentMethod) {
                return paymentMethod.value;
            });
            createChart('polarArea', {
                labels: labelsBranch,
                datasets: [{
                    data: dataValues,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.7)',
                        'rgba(54, 162, 235, 0.7)',
                        'rgba(255, 206, 86, 0.7)',
                        'rgba(75, 192, 192, 0.7)',
                        'rgba(153, 102, 255, 0.7)',
                        'rgba(255, 159, 64, 0.7)',
                        'rgba(201, 203, 207, 0.7)',
                        'rgba(144, 238, 144, 0.7)',
                        'rgba(255, 182, 193, 0.7)',
                        'rgba(30, 144, 255, 0.7)'
                    ],
                    borderColor: [
                        'rgb(255, 255, 255)',


                    ],
                    borderWidth: 2
                }]
            }, {
                responsive: true,

                scales: {
                    r: {
                        pointLabels: {
                            //display: true,
                            display: false, // لإخفاء الاسماء من على محاور الرسمة داخليا
                            centerPointLabels: true,
                            font: {
                                family: "'Cairo', sans-serif",
                                size: 12
                            }
                        }
                    }
                },
                plugins: {
                    legend: {
                        position: 'left',
                        labels: {
                            font: {
                                family: "'Cairo', sans-serif",
                                size: 12
                            }
                        }
                    },
                    title: {
                        display: false, // إخفاء النقاط التي تُعرض عليها التسميات داخل المحاور القطبية
                        //display: true,
                        text: "@localizer["Car_inChart_Year"]",
                        font: {
                            family: "'Cairo', sans-serif",
                            size: 15,
                            weight: '600'
                        },
                        padding: {
                            top: 20,
                            bottom: 25
                        }
                    }
                }
            });
        }
        function statusChart() {
            createChart('polarArea', {
                labels: ['مؤجرة', 'متاحة', 'للبيع', 'غير متاحة', 'بدون سعر'],
                datasets: [{
                    data: [133, 100, 113, 50, 40],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.7)',
                        'rgba(54, 162, 235, 0.7)',
                        'rgba(255, 206, 86, 0.7)',
                        'rgba(75, 192, 192, 0.7)',
                        'rgba(153, 102, 255, 0.7)',
                        'rgba(144, 238, 144, 0.7)',
                    ],
                    borderColor: [
                        'rgb(255, 255, 255)',
                    ],
                    borderWidth: 2
                }]
            }, {
                responsive: true,
                scales: {
                    r: {
                        pointLabels: {
                            display: true,
                            centerPointLabels: true,
                            font: {
                                family: "'Cairo', sans-serif",
                                size: 12
                            }
                        }
                    }
                },
                plugins: {
                    legend: {
                        position: 'left',
                        labels: {
                            font: {
                                family: "'Cairo', sans-serif",
                                size: 12
                            }
                        }
                    },
                    title: {
                        display: true,
                        text: 'المؤشر الإحصائي لحالات السيارات',
                        font: {
                            family: "'Cairo', sans-serif",
                            size: 15,
                            weight: '600'
                        },
                        padding: {
                            top: 20,
                            bottom: 25
                        }
                    }
                }
            });
        }


    </script>
    
}

